[2016-08-09 17:01] pq opened #1 "Create a New "Flutter Project" Template/Wizard"
Essentially a wrapper around `flutter create`.  Should show up as a proposed project template in the New Project Wizard.
- [x] contribute "New Flutter Project" wizard, that
- [x] creates project contents (call `flutter create`)
- [x] enables Dart Support
- [x] opens `lib/main.dart` in an editor

[2016-08-09 19:57] pq opened #2 "Update Licenses"

[2016-08-11 17:45] devoncarew opened #11 "get the debugging button working"
- [ ] Infrastructure, SDK #29
- [ ] Infrastructure, projects #28
- [ ] Execution, #31
- [ ] Process management, #32

[2016-08-11 17:46] devoncarew opened #12 "have run configs inherit global SDK set in pref page"
Currently the user needs to manually type the flutter sdk location into a flutter launch configuration.

[2016-08-11 17:46] devoncarew opened #13 "flutter plugin preference pane"

[2016-08-11 17:59] devoncarew opened #14 "should we have a flutter sdk?"
this is the notion of an intellij sdk

[2016-08-11 17:59] devoncarew opened #15 "should we have a flutter facet?"

[2016-08-11 17:59] devoncarew opened #16 "determine where the source for the plugin should live"

[2016-08-11 18:04] devoncarew opened #17 "we should co-habitate well with the dart plugin"
Enabling flutter support for a flutter project should enable dart support as well.

[2016-08-11 18:05] devoncarew opened #18 "flutter projects should use the version of the dart sdk in the flutter directory"
A flutter project should use the sdk from `<flutter>/bin/cache/dart-sdk`.

[2016-08-11 18:08] devoncarew opened #19 "how do we share code or APIs with the dart plugin"
Depending on the dart plugin at runtime could leave us exposed to version skew and consuming APIs that don't have a guarantee of stability.

[2016-08-11 18:10] devoncarew opened #20 "use the flutter daemon command to get device notification"

[2016-08-11 18:10] devoncarew opened #21 "support selecting a device to run on"

[2016-08-11 18:10] devoncarew opened #22 "use the flutter daemon mode to start applications"

[2016-08-11 18:18] devoncarew opened #23 "get unit tests for the plugin working"
- [x] Create framework for running unit tests, #30
- [ ] Create sample tests

[2016-08-11 18:25] devoncarew opened #24 "how to build the plugin?"
have a gradle script to build the plugin?

[2016-08-11 18:27] devoncarew opened #25 "determine how to verify that we work in different intellij products"
We should have a plan know that we work in:

- intellij community edition
- intellij ultimate
- android studio

All for the latest stable intellij edition.

[2016-08-11 18:28] devoncarew opened #26 "determine the plan for how to distribute the plugin"
Once we can build the plugin in an automated way, we need to be able to distribute it.

[2016-08-11 18:29] devoncarew opened #27 "how to distribute the dogfood version of the plugin"

[2016-08-11 19:58] stevemessick opened #28 "Infra - project model"
Build out the model for Flutter projects in IntelliJ.

[2016-08-11 19:59] stevemessick opened #29 "Infra - SDK"
Build out the model for the Flutter SDK.

[2016-08-11 19:59] stevemessick opened #30 "Infra - Unit tests"
Build out the framework for unit testing with IntelliJ.

[2016-08-11 20:09] stevemessick opened #31 "Implement flutter tool execution"
We need a general way to invoke the flutter tool.
This is probably the same as #36

[2016-08-11 20:09] stevemessick opened #32 "Process management"
Debugging requires the ability to control the process being debugged, including I/O.

[2016-08-12 14:37] #2 closed, assigned to pq

[2016-08-12 19:00] #24 closed, assigned to devoncarew

[2016-08-12 19:01] devoncarew opened #36 "write a Java wrapper around the flutter daemon mode"
We can later use this wrapper to communicate with the flutter tool.

The daemon mode protocol is documented [here](https://github.com/flutter/flutter/wiki/The-flutter-daemon-mode).

[2016-08-16 17:02] #16 closed, assigned to devoncarew

[2016-08-16 19:05] devoncarew opened #38 "make sure the plugin works well with the flutter repo"
This one: https://github.com/flutter/flutter

From looking at it:

- we analyze things in `bin/cache/` (like the copy of the dart sdk), which we shouldn't
- we don't analyze the packages in `packages/` - the analysis server thinks those projects are within a symlink

[2016-08-16 21:18] #14 closed, assigned to nobody

[2016-08-17 14:05] pq opened #39 "add a dependency on the Dart plugin"
According to [this](http://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/plugin_dependencies.html), may be as simple as a `<depends>` in the `plugin.xml`.

Not seeing a way to specify versions though.

cc @jwren?

[2016-08-17 22:50] pq opened #42 "Add a flutter console"
(Or attach to a pre-existing one.)

We'll want this to display output from flutter commands (e.g., `create`).

[2016-08-17 22:52] pq opened #43 "Provide status during project creation"
Possibly via the console (#42), the status bar or both.

[2016-08-17 22:52] pq opened #44 "Create run configurations during project creation"

[2016-08-17 22:59] #39 closed, assigned to pq

[2016-08-17 23:05] #1 closed, assigned to pq

[2016-08-17 23:10] pq opened #45 "Fix first page of New Flutter Project Wizard to be meaningful"
Removing the old custom wizard step exposed one inherited from the framework.

![screen shot 2016-08-17 at 4 07 41 pm](https://cloud.githubusercontent.com/assets/67586/17756445/c2051592-6494-11e6-9e3a-511004165ea4.png)

Needless to say it adds no value but I can't see a way to remove it.

I think we need to specify something...

  * a blurb about flutter?
  * project level settings?  (are there an

[2016-08-18 17:24] #42 closed, assigned to pq

[2016-08-18 20:47] pq opened #47 "Make console persist."
In particular, the Flutter Console gets clobbered by the Analysis view.

Maybe this is a matter of making the view pinnable?

[2016-08-18 21:06] #47 closed, assigned to nobody

[2016-08-18 21:13] pq opened #48 "Make Flutter Console name consistent with Pub Console."
![screen shot 2016-08-18 at 2 11 02 pm](https://cloud.githubusercontent.com/assets/67586/17790947/ad15a7f0-654d-11e6-9bac-83782be0e856.png)

Flutter Create => [module_name] Flutter: Create

[2016-08-18 21:19] #48 closed, assigned to pq

[2016-08-18 21:51] #43 closed, assigned to pq

[2016-08-18 21:52] pq opened #50 "Race condition with console creation and disposed projects."
Occurred when creating a fresh project but reusing the current window.

[code]

[2016-08-22 17:42] #13 closed, assigned to pq

[2016-08-22 17:43] #11 closed, assigned to stevemessick

[2016-08-22 17:50] devoncarew opened #53 "august-1 meta issue"
- [x] testing (automated; unit tests; #30, #66, #96)
- [ ] project creation flow
- [x] better clarity on how we distribute the plugin (versioning issues w/ the Dart plugin; building against the last stable IntelliJ API)
- [ ] determine the user flows we'll use to guide our initial development (project creation to hitting a breakpoint; opening an existing project on disk to hitting a breakpoint) (h

[2016-08-23 16:21] pq opened #54 "Notify user when the Dart SDK differs from the one bundled with Flutter"
It *may* be confusing to users if the default SDK defined in the Dart Plugin and the one bundled with Flutter disagree.   An easy mitigation would be to define an inspection that detects this case and notifies the user.  They may choose to correct it or ignore it.
 Two places where this might make sense:
  * in Flutter SDK configuration
  * as an inspection  that generates an editor notification

[2016-08-23 17:07] pq opened #55 "Allow for the creation of multiple Flutter SDKs"
Before long we'll want to allow users to move between multiple SDKs (possibly allowing for per-project configuration a la the conversation in #54).  To facilitate this, we should support SDK configuration like the Java tooling does.

For example, where for Java we might see:

<img width="329" alt="screen shot 2016-08-23 at 10 05 29 am" src="https://cloud.githubusercontent.com/assets/67586/17901648

[2016-08-23 17:12] pq opened #56 "Support for per project Flutter SDKs."
A breakout from #54.

In an ideal world we should support per-project (or in IntelliJ vernacular _per-module_) SDKs.

[2016-08-24 16:17] pq opened #61 "Infra: consider using plugin services to encapsulate IDE-specifc implementations."
As a point of inspiration, we can look to the Go plugin which uses [plugin services](http://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/plugin_services.html) to separate "SmallIDE" from "Idea" implementations.

This will come in handy in particular for project and module configurations which differ across IDEs.

[2016-08-29 16:10] pq opened #64 "Identify what IntelliJ products we want to support (and how)."
The sooner we get clear on what we want to support the better.

It would also be good to clarify whether we want tiers of support in order to provide the best experience in each product or shoot for a lowest common denominator that works equally well in all but sub-optimally in some.

cc @devoncarew

[2016-08-29 16:47] stevemessick opened #65 "Delete project bug"
Cannot create a project after deleting a project with the same name. Repro
1. Create a new flutter project named 'sample'
2. Close the project window
3. Remove 'sample' from `File>Open Recent...` list (via `Manage Projects`) [optional]
4. Delete 'sample' folder from disk [optional]
5. Create a new flutter project named 'sample'

Result is this stack trace:

[code]

[2016-08-29 18:27] stevemessick opened #66 "Run flutter unit tests (flutter test)"
Need a way to run unit tests for Flutter apps. Assuming flutter continues to use package:test we probably want similar support to what Dart already has. Dart tests are presented in the IntelliJ test UI with linkage back to source and ability to filter pass/fail/skip.

[2016-08-30 07:03] devoncarew opened #67 "re-target to IntelliJ stable"

[2016-08-30 20:40] pq opened #70 "Create a User Journeys doc."

[2016-08-30 20:42] #50 closed, assigned to nobody

[2016-08-30 20:44] #65 closed, assigned to nobody

[2016-08-31 00:18] pq opened #71 "Update Wiki"
Some thoughts:

  * [x] How to build
  * [ ] How to deploy

and points of inspiration:

* https://github.com/Microsoft/vscode/wiki
* https://github.com/Microsoft/vscode/wiki/Smoke-Test

[2016-08-31 00:19] #70 closed, assigned to pq

[2016-08-31 03:33] devoncarew opened #72 "add instructions for very, very early dogfooding"
This is a placeholder for some very, very early dogfooding instructions, and some one-off binary builds of the flutter and dart plugins.

Possibly to be replaced and hosted on internal development infrastructure.

[2016-09-01 18:14] pq opened #77 "Fix gradle build."
Mine generates a jar with just 261 bytes.

I also see this when I `gradle build`:

[code]

suggesting the likely culprit.

[2016-09-01 21:28] pq opened #79 "Create a local build of the plugin."
Pending #77, we need minimally a fresh local build.

Working on it.

[2016-09-01 23:03] pq opened #80 "Project creation fails if no Flutter SDK is set."

[2016-09-01 23:33] pq opened #81 "Update Flutter Plugin name."
<img width="714" alt="screen shot 2016-09-01 at 4 32 47 pm" src="https://cloud.githubusercontent.com/assets/67586/18187828/c1383684-7061-11e6-9623-31eca95607f3.png">

`flutter-intellij` => `Flutter` 👍

[2016-09-02 04:00] #81 closed, assigned to pq

[2016-09-02 13:28] #72 closed, assigned to nobody

[2016-09-02 13:30] #27 closed, assigned to nobody

[2016-09-02 13:31] #19 closed, assigned to nobody

[2016-09-02 14:25] pq commented on #64
This is something we should carve out some time to explore.

The main things I'm aware of are largely UI and flow-centered.  In particular, project creation and management is different in IDEs that support multiple modules per project (IDEA) versus only one (the "smaller" IDE offerings (such as I presume CE).

[2016-09-02 14:25] pq commented on #64
Me too! :)  Sounds like an AI... 👍

[2016-09-02 17:57] pq opened #83 "Improve SDK version string."
Currently we've got `1.0.0`.  It'd be better to scrape info from `flutter create`:

[code]

(FWIW: playing with adding this now.)

[2016-09-02 18:14] devoncarew opened #84 "set up a CI system"
Set up a CI system to:

- analyze the code
- build the plugin
- run tests

and validate that things are good from commit-to-commit.

[2016-09-02 20:48] pq commented on #45
In progress:

![screen shot 2016-09-02 at 1 37 50 pm](https://cloud.githubusercontent.com/assets/67586/18217620/b0c8f2a0-7112-11e6-9273-3ff8b9856c63.png)

with validation:

![screen shot 2016-09-02 at 1 40 03 pm](https://cloud.githubusercontent.com/assets/67586/18217636/d227267e-7112-11e6-9bf3-f9c11429ae97.png)

[2016-09-02 23:14] pq opened #87 "SDK configuration does not stick."
Repro:

1. Change the SDK location in the preferences page to a valid alternate SDK.
2. Click Apply and watch that location get blanked and an error reported.

![screen shot 2016-09-02 at 4 13 59 pm](https://cloud.githubusercontent.com/assets/67586/18220573/4d5917ac-7128-11e6-8ed6-c47763a94fc1.png)

[2016-09-02 23:23] #79 closed

[2016-09-03 00:32] #45 closed

[2016-09-03 00:32] #80 closed

[2016-09-05 14:25] mit-mit commented on #71
Would also be nice to have a 'How to build' page.

[2016-09-05 14:28] pq commented on #71
👍  @mit-mit I added a punch list to the main topic.  Feel free to add ideas there!

[2016-09-05 17:14] pq commented on #84
A couple resources I stumbled over when I was trying to fix the build:
  * http://blog.xebia.com/building-intellij-plugins-from-the-command-line/
  * http://arhipov.blogspot.nl/2013/10/managing-dependencies-for-intellij-idea.html

Might be handy?

[2016-09-05 17:15] pq commented on #61
I think we have a handle on this.  (In any event, we're actively considering! ;))

[2016-09-05 17:15] #61 closed

[2016-09-05 17:16] pq commented on #84
Can we close #77  in favor of this one?

[2016-09-05 17:45] pq commented on #87
Turns out I was being **_overly prescriptive_** and requiring flutter home to be a directory called `flutter`.   IOW if you cloned to a different dir, say `flutter-dev` or `flutter2` bad things would happen.

Fix here: https://github.com/flutter/flutter-intellij/pull/91

[2016-09-06 12:01] mit-mit commented on #44
I'd really like to see this; it was confusing having to create this manually.

[2016-09-06 12:29] #87 closed

[2016-09-06 13:56] pq commented on #83
<img width="1043" alt="screen shot 2016-09-06 at 6 56 05 am" src="https://cloud.githubusercontent.com/assets/67586/18276249/0d8c4890-73ff-11e6-8e33-e9a330c08a73.png">

[2016-09-06 14:46] stevemessick commented on #36
https://github.com/flutter/flutter-intellij/pull/85

[2016-09-06 14:46] stevemessick commented on #32
https://github.com/flutter/flutter-intellij/pull/85

[2016-09-06 14:46] stevemessick commented on #31
Also see https://github.com/flutter/flutter-intellij/pull/85

[2016-09-06 14:47] stevemessick commented on #22
https://github.com/flutter/flutter-intellij/pull/85

[2016-09-06 14:52] stevemessick opened #93 "Refactor daemon process management"
The flutter daemon process manager should be a long-lived process. It does not necessarily have to run forever, like the Dart analyzer process, but that might be the simplest model. The current model of starting flutter each time the user wants to run or debug an app is too limiting. The daemon should be allowed to manage multiple devices and apps, and the IntelliJ manager should work with it, rat

[2016-09-06 15:23] #22 closed

[2016-09-06 16:19] #83 closed

[2016-09-06 16:46] pq opened #94 "Add `flutter doctor` hyperlink action to console."
`ConsoleFilter`s are the trick here.

[2016-09-06 16:48] pq commented on #94
In progress:

![screen shot 2016-09-06 at 9 47 32 am](https://cloud.githubusercontent.com/assets/67586/18282667/fcd0619a-7416-11e6-9e13-ca888283eba0.png)

where a click opens a fresh console w/ `doctor` results:

![screen shot 2016-09-06 at 9 47 40 am](https://cloud.githubusercontent.com/assets/67586/18282670/017a81da-7417-11e6-824f-3d2091ab1e6c.png)

[2016-09-06 16:54] devoncarew commented on #77
Fixed! The jar we build is now ~100k.

[2016-09-06 16:54] #77 closed

[2016-09-06 16:55] devoncarew commented on #36
Closing...

[2016-09-06 16:55] #36 closed

[2016-09-06 16:56] devoncarew commented on #84
Fixed! We have a build running in travis, building against the lastest stable intellij and latest stable dart plugin. (https://travis-ci.org/flutter/flutter-intellij/builds/157941178 - runtime approx. 5 mins)

We'll need to get tests running on travis as well; I'll file a separate issue.

[2016-09-06 16:56] #84 closed

[2016-09-06 16:57] pq commented on #77
:metal:

[2016-09-06 16:57] devoncarew opened #96 "get tests running on our CI system"
We have a CI running using travis; we need to fix an issue or two w/ running tests on that setup.

https://github.com/flutter/flutter-intellij/blob/master/.travis.yml#L7

[2016-09-06 17:01] pq commented on #84
w00t!

PR to add badge here: https://github.com/flutter/flutter-intellij/pull/97 👯

[2016-09-06 17:10] #94 closed

[2016-09-06 17:16] pq opened #98 "Fix unsafe invokeLater"
[code]

[2016-09-06 19:01] devoncarew opened #101 "add test launch config"
@stevemessick, can you add an intellij launch config to running the tests for the flutter plugin? We have something similar for the Dart plugin. Perhaps also add a wiki for how to run the flutter tests, or update the https://github.com/flutter/flutter-intellij/blob/master/CONTRIBUTING.md doc. Thanks!

[2016-09-06 19:06] devoncarew commented on #26
Short term, it's easy to set up a custom plugin repository - basically a website with some meta-data files.

[2016-09-06 22:40] devoncarew opened #103 "java.lang.IllegalAccessError in debugger classes"
I think I'm seeing a classloader issue, where we're loading a few debugger classes from the flutter classloader, and others from the dart classloader. This changes the effective access level of fields, and some fields and methods are no longer visible (things that appear like they're in the same package - `com.jetbrains.lang.dart.ide.runner.server.vmService` - are really effectively in two separat

[2016-09-06 22:47] #98 closed

[2016-09-06 23:56] stevemessick commented on #103
I remember seeing the class path get reordered in a recent PR. Try changing
it so flutter is first?

On Sep 6, 2016 15:40, "Devon Carew" <notifications@github.com> wrote:

[2016-09-07 00:45] stevemessick commented on #103
I took another look. The classpath looks OK. I would expect classpath errors to be deterministic. I can't reproduce this, though. Got a repro?

[2016-09-07 00:48] stevemessick commented on #101
I asked Alex for help here. You should be able to right-click on a test class, select the Run item, and it just works. It's fine in the Dart plugin but not Flutter. You should have gotten an error explaining that -Dflutter.sdk needs to be added to the VM options. But yeah, the docs need to explain this.

[2016-09-07 02:19] #96 closed

[2016-09-07 15:01] devoncarew commented on #103
I tested w/ the old and new classpath issue - no change.

I'm running the built plugin in a copy if IntelliJ CE; I suspect the classloaders must behave a little differently than in the runtime workbench. Running works - all of it's classes load from the Dart plugin classloader; but debugging doesn't as some load from the Flutter classloader and some from the Dart one.

[2016-09-07 15:10] devoncarew commented on #101
Thanks! I was able to run it.

It'd be great to have a launch config checked into `.idea/runConfigurations`, but some quick poking around couldn't yield me one. I'll close, but feel free to re-open if you can figure out how to create one.

[2016-09-07 15:10] #101 closed

[2016-09-07 16:01] stevemessick commented on #103
I thought that our current target environment was IntelliJ Ultimate EAP. Have you tried running it there? I was going to try but for some reason I can't build the Flutter plugin.

[2016-09-07 16:23] stevemessick commented on #101
https://github.com/flutter/flutter-intellij/pull/106

[2016-09-07 21:16] devoncarew opened #109 "NPE in the built plugin"
Not sure how this is null:

[code]

@pq

[2016-09-07 22:16] devoncarew commented on #103
Fixed by https://github.com/flutter/flutter-intellij/pull/111.

[2016-09-07 22:16] #103 closed

[2016-09-07 22:17] devoncarew opened #112 "avoid issues with separate classloaders from the Flutter and Dart plugins"
See https://github.com/flutter/flutter-intellij/issues/103; I think we'll have to define our API surface area pretty narrowly, and make sure that we're just consuming public API.

[2016-09-08 01:11] pq commented on #109
Interesting!

I think I see what's happening...  Odd that it doesn't happen in the runtime workbench which suggests that initialization is different when deployed.  Anyway, once I've got my local build working I'll confirm my fix.

Thanks!

[2016-09-08 03:28] devoncarew commented on #30
I think this is done?

[2016-09-08 03:31] stevemessick commented on #30
I'd like to see a few more tests running. There may be performance problems
or other issues due to the test set up procedure.

On Sep 7, 2016 8:28 PM, "Devon Carew" <notifications@github.com> wrote:

[2016-09-08 05:40] devoncarew commented on #109
I very briefly looked at this - it looks like `createUIComponents()` is called by some magic `$$$setupUI$$$` method; probably auto-magically generated by IntelliJ for the form file. We're mostly likely missing some set in the gradle build to compile the form correctly.

[2016-09-08 13:19] pq opened #114 "Create a manual testing doc."
While trying to debug the deployed plugin to track down the NPE in #109, I was hit with the fact that the plugin is not compatible with my installed EAP.  The rub is I need to test against the latest "stable" which from looking at the gradle build is: "IntelliJ IDEA 2016.2.3 / Build #IC-162.1812.17".  It would be good to add this to a testing doc.

@devoncarew : is this how you're testing?  DO you

[2016-09-08 13:26] pq commented on #109
The plot thickens!

I've got another thought but am hitting snags in getting a local test environment setup to verify  (see #114)  -- input welcome. 👍

[2016-09-08 15:56] pq commented on #109
Testing on CE, I'm seeing this too:

[code]

@devoncarew : what product were you testing against?

[2016-09-08 15:57] devoncarew commented on #114
+1 to a testing script (here's a nice sample one: https://github.com/Microsoft/vscode/wiki/Smoke-Test)

I am using IntelliJ CE to test - d/l'ed from here: https://www.jetbrains.com/idea/download/.

[2016-09-08 17:02] devoncarew commented on #109
CE; I suspect some missing config in our gradle file

[2016-09-16 05:44] devoncarew opened #119 "no error when I selecting an invalid flutter sdk dir"
From the flutter settings page, when I selected an invalid directory for a flutter sdk, I didn't get any feedback telling me I'd selected a bad dir; my selection just wasn't populated in the sdk path field.

[2016-09-16 05:48] devoncarew opened #120 "should create flutter projects as siblings of the flutter sdk"
We should default to offering to create new project as sibling directories of the flutter sdk; this makes relative paths to the flutter sdk consistent between projects and makes it easier to share projects between developers. Currently we default to the `~/IdeaProjects/` directory.

(this advice may now be out of date however, with the advent of the the flutter sdk support in pub?) - https://githu

[2016-09-16 05:51] devoncarew opened #121 "when a flutter sdk is configured, we should auto-populate the dart sdk field"
When a flutter sdk is configured, and there's no value for the dart sdk field, we should auto-populate the dart sdk value.

[2016-09-17 18:58] devoncarew commented on #24
We did land a gradle build system for the plugin; I've also investigated a bazel based build (https://github.com/flutter/flutter-intellij/commit/d5928bdea0420f2bc2c6abba448684ac458ec739), which seems a bit simpler and straightforward to modify than the gradle build.

[2016-09-19 22:50] pq commented on #109
@devoncarew is this fixed?

[2016-09-19 22:55] devoncarew commented on #109
No, still some gradle build file spelunking to do.

[2016-09-19 23:36] pq opened #127 "Open a toast on simulator open."
When the simulator is opened:

![screen shot 2016-09-19 at 3 41 33 pm](https://cloud.githubusercontent.com/assets/67586/18652405/22799220-7e87-11e6-8816-a6047d8474d4.png)

We should open a toast that encourages the user to re-try running their app.

[2016-09-21 17:08] pq opened #130 "Settle on flow for "importing" flutter gallery app projects."
_**EDIT:** the `pub` issue was fixed..._

**Current Flow:**

* Locally clone Flutter (e.g., to`flutter_repo`)
* From the **Welcome Page** choose, **Create New Project**
* Choose the Flutter Project Type in the **New Project Wizard**
* Fill in the `Flutter SDK path` with the path to your local clone (e.g., `flutter_repo`)
* Click **Next**
* In the `Project location` field, fill in: `flutter_repo/ex

[2016-09-21 17:18] sethladd commented on #130
Did the user run "pub get" ?

(Does the IntelliJ plugin prompt the user to run "pub get" if the user needs to? Or, does it auto-run it?)

[2016-09-21 17:34] pq commented on #130
Yep.  That error is the result of `pub get`.  But actually, this was a red herring.  After re-building the flutter tools it's now _possible_ to run the gallery from the IDE.   Getting set up is still not smooth...  But maybe smooth enough?  I'll update the flow after a quick run through.

[2016-09-21 20:36] pq commented on #130
_Flow 1:_

* Locally clone Flutter (e.g., to`flutter_repo`)
* From the **Welcome Page** choose, **Create New Project**
* Choose the Flutter Project Type in the **New Project Wizard**
* Fill in the `Flutter SDK path` with the path to your local clone (e.g., `flutter_repo`)
* Click **Next**
* In the `Project location` field, fill in: `flutter_repo/examples/flutter_gallery`
* Click **Finish**

At thi

[2016-09-21 20:37] sethladd commented on #130
This step should also set the Dart SDK as used/downloaded by Flutter.

[2016-09-21 20:39] pq commented on #130
👍  https://github.com/flutter/flutter-intellij/issues/121

[2016-09-21 20:41] pq opened #131 "Document creating a flutter project "from source""
Essentially, graduate flow discussion from #130 to a wiki page.

[2016-09-21 21:18] pq commented on #130
FYI @mit-mit @devoncarew for general flow.

[2016-09-22 14:56] devoncarew opened #132 "remote debugging fixed"
- PR here: https://github.com/JetBrains/intellij-plugins/pull/423
- one more race condition to narrow down

[2016-09-22 14:56] devoncarew opened #133 "remote debugging pushed to stable"

[2016-09-22 14:57] devoncarew opened #134 "internal getting started workflow"
Iterate on the internal getting started workflow for V0; update the documentation to match.

[2016-09-22 14:59] devoncarew commented on #109
Not critical for now, we can manually build the plugin.

[2016-09-22 15:00] devoncarew commented on #67
We have a plan in place for this; will file more granular issues.

[2016-09-22 15:00] #67 closed

[2016-09-22 15:00] devoncarew commented on #53
Closing; we have a new demo milestone.

[2016-09-22 15:00] #53 closed

[2016-09-22 15:01] devoncarew commented on #31
Do we have this already?

[2016-09-22 15:01] devoncarew commented on #26
We can host on our own website short-term.

[2016-09-22 15:01] #26 closed

[2016-09-22 15:03] devoncarew commented on #25
We'll use our build system for this. We can compile and test against specific IntelliJ products and version of the Dart plugin. As long as we have good test coverage, we should reliably know that we can support specific products+versions, and know that we don't regress.

[2016-09-22 15:03] #25 closed

[2016-09-22 15:05] devoncarew commented on #112
We'll be careful about what APIs we depend on and how er depend on them, test against various product configurations and versions on the bots, and inline pieces of code that would otherwise increase our API exposure too much.

[2016-09-22 15:05] #112 closed

[2016-09-22 15:06] devoncarew opened #135 "add a refresh / hot reload button"
This can be a placeholder until we're fully switched over to being hosted on the daemon.

[2016-09-22 15:10] devoncarew opened #136 "in-line the debugger code from the Dart plugin"
This allow us to iterate much more quickly, w/o having to wait for releases of the Dart plugin to the stable channel. This might look something like:
- assume that the `flutter-intellij` and `intellij-plugins` repos are located in the same parent folder
- write a script to sync the debugger code from `intellij-plugins/Dart` into `flutter-intellij/third_party`; change the package prefix at the same

[2016-09-22 19:34] devoncarew commented on #120
Actually, I think this is no longer required.

[2016-09-22 19:34] #120 closed

[2016-09-22 19:35] devoncarew commented on #132
landed

[2016-09-22 19:35] #132 closed

[2016-09-22 20:54] pq opened #137 "add a device selector menu"
(ideally to the top-level toolbar next to the run config chooser)

[2016-09-22 22:07] devoncarew opened #138 "allow the flutter daemon to launch with an unknown device id"
When the flutter daemon launches an app, and it doesn't yet find a matching device id for the id given, we should scan for devices and only fail if we can't find a matching device.

Work to be done on the flutter/flutter repo but tracking this here.

[2016-09-22 22:18] pq commented on #137
Still a WIP and waiting for @stevemessick's goodies to land before we can wire it up but after some fiddling I think it's at least possible....

<img width="338" alt="screen shot 2016-09-22 at 3 16 30 pm" src="https://cloud.githubusercontent.com/assets/67586/18768061/a5d4769c-80d7-11e6-987c-f9fd1d9bc065.png">

👍

[2016-09-23 04:35] devoncarew opened #139 "flutter project wizard doesn't show up in the list of wizards for webstorm"
WebStorm support is very low priority for the flutter plugin, but I wonder if this would affect any of the IntelliJ 'small IDE' products.

<img width="202" alt="screen shot 2016-09-22 at 9 33 28 pm" src="https://cloud.githubusercontent.com/assets/1269969/18774293/7629046e-810c-11e6-989b-ccce74cf6eb3.png">

[2016-09-23 14:21] stevemessick commented on #137
Looks great! Although I agree with a comment you made earlier that we should investigate icons.

[2016-09-23 15:52] #138 closed

[2016-09-23 15:52] devoncarew commented on #138
@stevemessick, landed in the flutter repo - will hopefully unblock you :)

[2016-09-24 08:20] devoncarew opened #142 "we're using some API not compatible with older versions of the Dart plugin"
We're using APIs from the Dart plugin that don't exist in older version of the plugin; specifically, in the version of the Dart plugin that is compatible with Android Studio.

List of errors follow, but likely this will be addressed by https://github.com/flutter/flutter-intellij/issues/136; we should also work to reduce our exposure to dart plugin apis.

[code]

[2016-09-24 17:10] devoncarew commented on #136
I'm going to start work on a script to sync the debugger libraries.

[2016-09-24 22:51] devoncarew opened #144 "commit intellij formatting preferences to the repo"
To make it easier to keep the code formatted consistently.

[2016-09-25 16:30] #144 closed

[2016-09-26 16:39] pq commented on #31
Enough yeah.  Closing in favor of more targeted follow-ups.

[2016-09-26 16:39] #31 closed

[2016-09-26 16:40] pq commented on #137
Closing out.  Wiring up will get tackled in another issue.

[2016-09-26 16:40] #137 closed

[2016-09-26 17:39] pq commented on #139
Good catch! Do we have any of the 'small IDEs' on our list (https://github.com/flutter/flutter-intellij/issues/64)?  We never quite finished that thought but really should.

[2016-09-26 17:46] pq commented on #119
What product?

When I try this in a CE runtime workbench I see:

![screen shot 2016-09-26 at 10 45 31 am](https://cloud.githubusercontent.com/assets/67586/18845393/7b020932-83d6-11e6-8fa1-26c2ada3e754.png)

[2016-09-26 18:10] devoncarew commented on #139
Definitely not webstorm, but android studio, when we have cycles.

[2016-09-26 18:12] devoncarew commented on #119
Hmm, will close this and re-open if I can repro.

[2016-09-26 18:12] #119 closed

[2016-09-26 20:21] pq opened #152 "Error running when no connecting device..."
I have no connected device but I'd like to use the simulator.

![screen shot 2016-09-26 at 1 19 03 pm](https://cloud.githubusercontent.com/assets/67586/18850313/dcbdce58-83eb-11e6-886b-4f77bf473342.png)

The old flow gave you a prompt to start the simulator (and would do it for you which was awesome since I have no idea where it lives!).  Can we do something similar?

[2016-09-26 20:31] pq opened #153 "Better messaging on failed connect"
Saw this in my simulator...

![screen shot 2016-09-26 at 1 25 40 pm](https://cloud.githubusercontent.com/assets/67586/18850679/6856074a-83ed-11e6-8317-7271ac7b301c.png)

and then quite small in my console:

![screen shot 2016-09-26 at 1 29 55 pm](https://cloud.githubusercontent.com/assets/67586/18850687/7311a89c-83ed-11e6-8dd4-7ab22a2e4ce9.png)

Unless this is totally transient, we should probably

[2016-09-26 20:47] pq commented on #153
OK, a few more details:

- restart (of intellij) helped
- @stevemessick suggested that maybe the device list was corrupted...
- I was connecting to the iOS simulator and at least for some time at the beginning had an actual iPhone plugged in...

[2016-09-26 23:18] devoncarew commented on #135
fixed in https://github.com/flutter/flutter-intellij/pull/155

[2016-09-26 23:18] #135 closed

[2016-09-26 23:18] devoncarew commented on #93
implemented!

[2016-09-26 23:18] #93 closed

[2016-09-26 23:19] devoncarew commented on #32
Finished, I think?

[2016-09-26 23:19] #32 closed

[2016-09-26 23:20] devoncarew commented on #21
fixed in https://github.com/flutter/flutter-intellij/pull/154

[2016-09-26 23:20] #21 closed

[2016-09-26 23:20] devoncarew commented on #20
also done

[2016-09-26 23:20] #20 closed

[2016-09-26 23:20] devoncarew commented on #12
the setting's been removed from the launch config

[2016-09-26 23:20] #12 closed

[2016-09-26 23:21] devoncarew commented on #133
pushed to stable; waiting for a new version of stable

[2016-09-27 01:24] devoncarew opened #157 "exception at startup; symptom is we lose the flutter sdk setting"
Perhaps a lifecycle issue with when we call `ApplicationLibraryTable.getApplicationTable()`? I'm not as familiar when it is or isn't available to call this method (called from io.flutter.sdk.FlutterSdk.getGlobalFlutterSdk(FlutterSdk.java:97).

/cc @pq @stevemessick

[code]

[code]

[2016-09-27 01:35] stevemessick commented on #157
Did this happen on start up, before the window was fully drawn? Might be
due to a late change I made to FlutterInitializer because of EAP
incompatibility. We might need a better way to populate the device list.
However, it works with my stable Ultimate config -- at least some times😉

On Sep 26, 2016 6:24 PM, "Devon Carew" <notifications@github.com> wrote:

[2016-09-27 02:22] devoncarew commented on #157
It does happen somewhere in `FlutterDaemonService`, when starting polling for devices. I've only seen this on stable, on IntelliJ CE (and on WebStorm stable).

[2016-09-27 04:04] pq commented on #157
Are you able to repro this in a runtime workbench?

[2016-09-27 04:16] pq commented on #127
We'll want to take a different tack in daemon mode...

[2016-09-27 04:16] #127 closed

[2016-09-27 04:17] pq commented on #17
This has been working for a bit. 👍

[2016-09-27 04:17] #17 closed

[2016-09-27 04:18] pq commented on #15
For now, I think we're good w/o a facet.  We can re-open if we re-think.

[2016-09-27 04:18] #15 closed

[2016-09-27 13:54] pq commented on #157
I did some poking around and think I have an idea for this.  I'll have a PR once I get the kid to school...

[2016-09-27 16:03] #157 closed

[2016-09-27 16:10] pq commented on #131
Updated wiki: https://github.com/flutter/flutter-intellij/wiki/User-Journeys

[2016-09-27 16:10] #131 closed

[2016-09-27 16:11] pq commented on #130
For now updated wiki w/ #131 is probably sufficient.  If down the road we want to streamline gallery app templates we can separately track.

[2016-09-27 16:11] #130 closed

[2016-09-27 16:12] pq commented on #29
In broad strokes this is done.  We can open more targeted follow up issues as they come up.

[2016-09-27 16:12] #29 closed

[2016-09-27 16:13] pq commented on #28
This is done "enough" at the high level.  We can follow up with targeted issues as the need arises.

[2016-09-27 16:13] #28 closed

[2016-09-27 18:13] stevemessick opened #161 "Better message while waiting for debugger"
When the debugger starts up it reports:
`Connecting to Dart VM at ws://localhost:0/ws`
This message is produced by the Flutter debugger adapter on demand from the Dart debugger before the Flutter process has been fully connected. So, it does not yet know the debug port.

We should either delete the URI or changed the debugger to request that message at a later time.

[2016-09-27 20:45] pq commented on #30
@stevemessick : I'm happy to help wrap this up.

or other issues due to the test set up procedure.

Can you elaborate?  Or maybe give a sense for what would give you confidence?

[2016-09-27 20:46] #121 closed

[2016-09-27 21:27] pq commented on #133
@devoncarew : I think w/

https://plugins.jetbrains.com/update/index?pr=&updateId=28631

we can close this?

[2016-09-27 22:10] stevemessick opened #166 "Selected device should not appear in edit menu"
Here's how the menu looks with no device selected:
<img width="277" alt="screen shot 2016-09-27 at 3 06 12 pm" src="https://cloud.githubusercontent.com/assets/8518285/18893778/24b77a1e-84c4-11e6-9f55-08932c698526.png">
After making a selection it becomes clear what those two blue tick marks are:
<img width="275" alt="screen shot 2016-09-27 at 3 06 31 pm" src="https://cloud.githubusercontent.com/as

[2016-09-27 23:18] devoncarew commented on #152
Perhaps we can add a menu item to the bottom of the device selector pulldown, w/ the option to open the simulator?

[2016-09-27 23:20] devoncarew commented on #133
🎆

closing...

[2016-09-27 23:20] #133 closed

[2016-09-27 23:48] devoncarew opened #168 "at runtime, check for and complain if the dart plugin version is less than our minimum"
We should show a toast if the Dart plugin version doesn't meet our minimum; currently `162.2233`.

[2016-09-28 01:30] devoncarew opened #169 "add an action bar to the flutter.yaml file?"
Similar to what we do for pubspec.yaml files?

[2016-09-28 06:05] devoncarew opened #173 "tests on the bots fail without failing the build"
See https://travis-ci.org/flutter/flutter-intellij/builds/163111387#L336.

We'll need to fix the failure (likely some bot / env var setup), and make sure that when our tests fail the build fails.

[2016-09-28 15:57] pq commented on #166
Oh, ugh.  That's unfortunate.  Looks like a side-effect of how I contributed our drop-down.

[2016-09-28 16:06] pq commented on #166
OK.  Got it.  Easy fix.  On the way...

[2016-09-28 16:16] pq commented on #166
Great catch BTW.

Should be fixed w/ https://github.com/flutter/flutter-intellij/pull/174

![screen shot 2016-09-28 at 9 12 41 am](https://cloud.githubusercontent.com/assets/67586/18922084/2879310e-855c-11e6-9cd3-406ba0aa1c8a.png)

[2016-09-28 16:17] pq commented on #169
👍

What actions are you thinking?

[2016-09-28 16:20] #166 closed

[2016-09-28 16:53] devoncarew commented on #169
Hmm, upgrade? Doctor? It may just be a convenient place to hang flutter global or project actions, and familiar to user's of the dart plugin.

[2016-09-28 16:58] pq opened #177 "`FlutterSdkUtilTest` test failing."
Like #173 says, this should really fail the build.  But it also shouldn't be broken!

[code]

[2016-09-28 17:06] pq opened #178 "Restart after plugin install throws Fatal IDE Exception."
![screen shot 2016-09-28 at 10 04 33 am](https://cloud.githubusercontent.com/assets/67586/18923939/19b38c12-8563-11e6-81fc-b638509b7861.png)

![screen shot 2016-09-28 at 10 04 43 am](https://cloud.githubusercontent.com/assets/67586/18923943/1bb7a07a-8563-11e6-8527-eba515830a26.png)

[2016-09-28 17:13] pq opened #179 "Device selector does not update when simulator is closed."
After killing my emulator, this remained:

![screen shot 2016-09-28 at 10 11 19 am](https://cloud.githubusercontent.com/assets/67586/18924171/fdde60d8-8563-11e6-9014-987181445540.png)

Also note that I killed it since observatory timed-out and I wanted to retry.

![screen shot 2016-09-28 at 10 12 23 am](https://cloud.githubusercontent.com/assets/67586/18924213/276601d6-8564-11e6-9ba4-24c1e054ab44.

[2016-09-28 18:22] pq opened #181 "When there are no devices, the pulldown should have a single, disabled 'no devices' item"

[2016-09-28 18:24] pq opened #182 "Support to launch simulator from device selector menu"
Idea: have an item at the end of the devices pulldown to start the iOS Simulator, if we’re on a mac and there’s no simulator running.

[2016-09-28 18:25] pq commented on #152
Closing in favor of https://github.com/flutter/flutter-intellij/issues/182

[2016-09-28 18:25] #152 closed

[2016-09-28 18:27] pq commented on #178
The work-around is to set the SDK and restart.  (Restart is required to get the daemon rebooted.)

[2016-09-28 21:05] pq opened #185 "Add keybindings for app reload and restart."

[2016-09-28 21:06] pq commented on #185
cc @mit-mit

[2016-09-28 21:07] mit-mit commented on #185
`cmd-r` for hot reload
`cmd-shift-r` for restart

[2016-09-28 21:21] pq commented on #185
@stevemessick : I've got the incantation but there's a bit of rearchitecting to do.  Net-net, key-bound actions need to have a default constructor and we're using the constructor to inject the `ObservatoryConnector`.  To wit:

[code]

Digging around but any thoughts on a clean way to do that appreciated!

[2016-09-28 21:23] #181 closed

[2016-09-28 21:27] devoncarew commented on #185
I wonder how they do some of the debugger actions, like for step-over/in/out?

[2016-09-28 22:56] pq commented on #185
OK, I've got a hack to find the connector and I think all's good.

The only issue now is around conflicting keybindings.

@mit-mit (or anyone) maybe take a look at the defined keybindings and come up with something less conflicting?

This [key](https://resources.jetbrains.com/assets/products/intellij-idea/IntelliJIDEA_ReferenceCard.pdf) may come in handy, though it differs a bit from mine which I

[2016-09-28 23:32] stevemessick commented on #185
Well, just to keep things moving, how about this:

IntelliJ likes to put process control stuff on function keys. Cmd-f2 stops the running job in the debugger. F5 is only defined for one other task so there shouldn't be any conflicts with standard keys. No way to predict what other plugins will do, though.

[2016-09-28 23:46] #185 closed

[2016-09-28 23:49] pq opened #189 "Update reload/restart keybindings to be less conflicting."
As discussed in https://github.com/flutter/flutter-intellij/pull/188, the current ones are not ideal.

![screen shot 2016-09-28 at 4 18 12 pm](https://cloud.githubusercontent.com/assets/67586/18936335/5df42336-859b-11e6-813d-6a2060ef419e.png)

In the short-term, the actions can be invoked via the **Find Action** command **(⌘ + A**) and the key mappings updated locally for demo (**Preferences > Key

[2016-09-28 23:56] pq commented on #189
@stevemessick  suggested:

[2016-09-28 23:56] pq commented on #189
@mit-mit @devoncarew ?

[2016-09-29 00:16] pq commented on #189
This [guide](https://resources.jetbrains.com/assets/products/intellij-idea/IntelliJIDEA_ReferenceCard.pdf) might be useful for defaults.

[2016-09-29 02:05] devoncarew opened #190 "have a build task to generate a report of our Dart plugin API usage"

[2016-09-29 12:41] pq opened #194 "Add a notification if the currently configured Flutter SDK is too old."
The rub is that out of date Flutter SDKs can produce unpredictable results (notably debugger issues).  To that end, it would be great to show a toast and probably an error in the preference and project creation pages if this case is detected.

Open question: what from our version info is right to key off?

<img width="595" alt="screen shot 2016-09-29 at 5 39 06 am" src="https://cloud.githubusercon

[2016-09-29 14:38] devoncarew opened #196 "exception when the observatory connection times out"
[code]

[2016-09-29 15:58] abarth commented on #194
How do you want to define "too old" ?

[2016-09-29 16:30] pq commented on #194
I have no idea!

Maybe better to say it'd be great to test if a given SDK has feature "X", which we can derive somehow from it's date.  In SVN days, I'd just check for `>= $REV`.  Not sure what to do here.

[2016-09-29 16:42] abarth commented on #194
There's a VERSION file in the root of the SDK.  We could bump that version every time the plugin wanted to make an assumption about a feature existing in the SDK.

[2016-09-29 16:54] pq commented on #194
Actually, that would be awesome.  Are there plans to bump this by anyone else that you're aware of?

@devoncarew : that should fit the bill eh?

[2016-09-29 16:59] abarth commented on #194
Not yet.  We'll still learning what it might be useful for.

[2016-09-29 17:01] devoncarew opened #198 "update keybindings for hot reload?"
F5 is familiar to other tooling users. We should see if there are any/many conflicts, but one possibility:

[code]

/cc @stevemessick @pq

[2016-09-29 17:05] devoncarew commented on #194
My 0.02: I would put this on the back burner until there are more official releases (an alpha / stable channel).

[2016-09-29 17:12] pq commented on #198
Moving over to duped issue #189.

[2016-09-29 17:12] #198 closed

[2016-09-29 17:12] pq commented on #189
@devoncarew adds:

[2016-09-29 17:27] devoncarew opened #201 "errors written to the console on hot reload"
[code]

This will probably require changes to the debugger code; it needs to be more tolerant of sentinels being returned instead of the expected values, and we shouldn't spam library errors to the console.

[2016-09-29 17:28] devoncarew commented on #201
[code]

[2016-09-29 19:14] #196 closed

[2016-09-29 19:52] pq commented on #194
SGTM

[2016-09-29 20:20] stevemessick commented on #153
For a while you could only successfully launch a flutter app once. Then you had to restart the IDE to reinitialize the daemon manager. That's been fixed.

[2016-09-29 20:20] #153 closed

[2016-09-29 20:38] pq commented on #153
Agreed.  It's so much better!

That said, I still think we need better messages when we have issues connecting.  When Observatory times out for example...

Or are you promising that'll never happen? 😉

[2016-09-30 15:59] #179 closed

[2016-09-30 15:59] #182 closed

[2016-09-30 17:23] #189 closed

[2016-09-30 17:34] pq opened #217 "Improve plugin repository metadata."
![screen shot 2016-09-30 at 10 33 05 am](https://cloud.githubusercontent.com/assets/67586/19000816/6c957fb6-86f9-11e6-8f13-eca43e6e31f0.png)

Notably:
* N/A?
* missing Changelog and other details

[2016-09-30 17:46] devoncarew commented on #173
Looks like gradle is returning 0 here for some reason.

[2016-09-30 17:49] devoncarew commented on #217
Some of this may be due to our use of the third-party plugin repo.

[2016-09-30 17:51] pq commented on #217
Maybe.  Something to investigate.

[2016-09-30 21:31] devoncarew commented on #178
Ran into this again (on a fresh install):

[code]

[2016-10-01 03:01] devoncarew commented on #142
Here's another view of our usage of the Dart plugin API:

[code]

[2016-10-03 04:46] pq commented on #168
👍

I'll take a look.

[2016-10-03 04:46] pq commented on #168
👍

[2016-10-03 13:07] pq commented on #168
<img width="740" alt="screen shot 2016-10-03 at 6 06 07 am" src="https://cloud.githubusercontent.com/assets/67586/19038239/8a979408-892f-11e6-923f-9e73f92cfd69.png">

Wordsmithing welcome!

/cc @mit-mit

[2016-10-03 13:10] mit-mit commented on #168
Looks good! Maybe swap words so: 'Flutter requires a Dart plugin with a minimum version of 1.0 (currently installed: 0.0.0)'?

[2016-10-03 13:12] mit-mit opened #221 "Don't hang if debugging is started while already debugging"
Current if you hit the Debug button while already debugging the session hangs, and you have to restart IntellJ. If the longer term fix to this -- which I believe involves supporting multiple debugging sessions -- is too hard, then short term perhaps we can just 'do nothing' when we are already debugging?

[2016-10-03 13:25] pq commented on #168
Great.  Thanks!

[2016-10-03 15:26] devoncarew commented on #221
/cc @stevemessick, who's refactoring this part of the codebase

[2016-10-03 17:45] pq commented on #201
@devoncarew : Does #205 fix this?

[2016-10-03 17:52] devoncarew commented on #201
They're not written to the console, but we need to make some changes to the Java debugger library (`org.dartlang.vm.service`) to fix the underlying issue.

[2016-10-03 19:56] devoncarew opened #222 "gradle build is failing"
The gradle build needs to be updated for the latest version of the gradle-intellij-plugin (0.2.0-dev).

https://travis-ci.org/flutter/flutter-intellij/builds/164545798

[2016-10-03 19:58] devoncarew commented on #222
@pq, @stevemessick, I temporarily turned off the gradle build until this is resolved -

[2016-10-03 21:14] #168 closed

[2016-10-03 21:41] #190 closed

[2016-10-03 21:56] stevemessick opened #226 "Pause button of debugger throws NPE"
Start a flutter app, hit a breakpoint, click Continue, then click the Pause button (two blue vertical bars) in the left tool bar.

java.lang.NullPointerException
	at com.jetbrains.lang.dart.ide.runner.server.vmService.DartVmServiceDebugProcess.startPausing(DartVmServiceDebugProcess.java:344)
	at com.intellij.xdebugger.impl.XDebugSessionImpl.pause(XDebugSessionImpl.java:523)
	at com.intellij.xdebug

[2016-10-03 22:09] pq commented on #38
@devoncarew: could you elaborate on what we're shooting for here?

Are we looking for a single project at the flutter repo root (e.g., containing all the packages and examples)?

[2016-10-04 00:16] devoncarew commented on #38
Yeah, people being able to open the root of the repo, and see analysis working for everything in `//examples/` and `//packages`. I believe the first issue (analyzing bin/cache) is fixed. The second issue is still open - the analysis server doesn't traverse into directories named `packages`.

This is behavior specified in the `.packages` file spec I believe. We either need to adjust the behavior of

[2016-10-04 09:46] mit-mit opened #229 "flutter doctor should test for IntelliJ not Atom"
Current output:

[code]

[2016-10-04 13:06] pq commented on #38
Paging @bwilkerson re: analysis server smarts 😄 .

@devoncarew : could you remind me what you did for Atom?  Did you look for a sentinel file and use that to inform how you setup content roots?  Is something like that feasible here without reaching too deeply into the Dart Plugin?

[2016-10-04 13:06] pq commented on #229
cc @danrubel

[2016-10-04 13:42] stevemessick opened #230 "Emulate AS Instant Run button for debugger & hot reload"
From @mit-mit
Try to change the debug icon appearance and behavior to match Android Studio:

![android-studio-intant-run](https://cloud.githubusercontent.com/assets/8518285/19076423/91331200-89fd-11e6-8f50-526e7a1a0082.gif)

Clicking Debug starts the debugging session and changes the Debug icon to a "Debug Refresh" icon. Hitting this would do a hot reload for Flutter. Clicking stop ends the sessio

[2016-10-04 14:29] devoncarew commented on #38
In atom, we started from the opened dir, recorded down looking for dart projects, and sent in n analysis roots to the analysis server.

IntelliJ just sends in the opened dir to the analysis server as the single analysis root, and let's it work out where the sub dart projects are.

[2016-10-04 15:46] stevemessick opened #231 "Dart not always enabled for new Flutter Projects created from source."
I created a new Flutter project on existing sources and found that it did not have Dart support enabled. I had to open the pubspec.yaml file and enable it there. It should have been done as part of project creation.

[2016-10-04 15:46] pq commented on #38
And I guess we could do what Atom does but that would mean exposing more internals of the Dart Plugin.  😢 Better, I think, to address the root issue which is that the Flutter repo structure is confusing in the context of the Dart URI resolution algorithm that treats `packages` dirs as special...

Conversation kicked off on a rename here: https://github.com/flutter/flutter/issues/6202.

[2016-10-04 15:47] pq commented on #231
Strange!  What steps did you use to create the project?

Using [these steps](https://github.com/flutter/flutter-intellij/wiki/User-Journeys#create-a-flutter-project-based-on-existing-source) that should _just work_.

[2016-10-04 15:49] stevemessick commented on #231
That's what I did.

[2016-10-04 15:54] pq commented on #231
Did `flutter create` get called?

[2016-10-04 16:10] stevemessick commented on #231
How can I tell? Is there a log file somewhere?

BTW this was a big Flutter project, sync'd to pristine state. It had not had flutter doctor or pub get done on it previously. It took a long time to do pub get. I think I restarted the IDE at one point, but I'm currently single-stepping through (some of) the code.

[2016-10-04 16:12] stevemessick opened #232 "Device selection should be per-window, not global"
Open two Flutter projects (on separate code bases). Attach two devices. Select one device in one window, select the other device in the other window. Return to the first window and see that the device selection has counter-intuitively changed to what is current in the second window.

[2016-10-04 16:13] pq commented on #44
Questions on a few defaults:

* Config name. (Same as project?)
* Dart file?  (`lib/main.dart` if found, or?)
* Working dir?  (Project root?)

[2016-10-04 16:14] pq commented on #231
There should be a message pane at the bottom chrome:

<img width="440" alt="screen shot 2016-10-04 at 9 13 48 am" src="https://cloud.githubusercontent.com/assets/67586/19082417/ebfc5c40-8a12-11e6-85ea-23b48608b317.png">

[2016-10-04 16:20] pq commented on #231
Updated title and add a bug label to indicate that this is expected to work.

[2016-10-04 16:21] stevemessick commented on #231
That message is long gone. I believe I restarted IntelliJ at one point.

[2016-10-04 16:21] pq commented on #18
This is tracked by a few other bugs.

[2016-10-04 16:21] #18 closed

[2016-10-04 16:31] mit-mit commented on #229
@danrubel thinking more about this, I actually think we should do the new IntelliJ checks for fishfood so that we catch config issues for new users there. Looks like pq already tagged it. Does that sound reasonable?

[2016-10-04 17:25] mit-mit opened #233 "Externally focused documentation"
Checklist:

**New docs**:
  - [x] Add new "Developing apps in IntelliJ" page to the docs, mentioning:
     - [x] Setup and configuration (including system requirements, like version of Java, etc)
     - [x] Creating new projects
     - [x] Creating new projects from existing sources
     - [x] Editing source code and How to view and interpret "problems view" and the list of errors and warnings

[2016-10-04 17:26] danrubel commented on #229
https://github.com/flutter/flutter/issues/5875

[2016-10-04 17:42] pq commented on #233
Regarding IDE integration, I don't think there's a good story for hosting plugin docs _within_ the IDEA help system FWIW.  (See this [support topic]( https://intellij-support.jetbrains.com/hc/en-us/community/posts/206760095-how-do-i-plug-into-the-main-idea-help-system-).)

A good middle ground might be to add an action to open our docs to the top-level help menu:

![screen shot 2016-10-04 at 10 39

[2016-10-04 17:56] stevemessick commented on #230
Let's use standard abbreviations.

[2016-10-04 22:03] #221 closed

[2016-10-04 23:11] pq commented on #38
Update: it looks as if the resistance to change the name is pretty strong which suggests we should look into IDE- or server- side options.

[2016-10-05 00:15] #226 closed

[2016-10-05 02:51] devoncarew commented on #233
Hopefully something on flutter.io?

We hosted the atom plugin docs separately from flutter (on github web hosting), but that didn't have a super coordinated experience w/ flutters docs.

[2016-10-05 03:11] devoncarew commented on #44
Should we solve this by having `flutter create` emit the right intellij metadata? So IntelliJ doesn't create the launch config when opening an existing flutter project, but flutter projects (created by `flutter create`) just have all the bootstrapping info from the get go?

[2016-10-05 04:08] devoncarew commented on #221
🎉

[2016-10-05 04:52] devoncarew commented on #38
One resolution here could be to require people working on the flutter repo to open individual projects as intellij modules. They'd need to do that once, but could then maintain a project w/ all those modules for use when working on the flutter repo.

[2016-10-05 10:27] mit-mit commented on #230
Tentatively tagging this for the parity milestone.

[2016-10-05 12:10] pq commented on #38
I was thinking just this but we should really try it.  I wonder also, assuming it works, if the config could be shared?  That is, what if it was as simple as checking a project file into the repo and telling folks to create a project from existing sources and have it "just work"?

[2016-10-05 12:13] pq commented on #233
flutter.io would be great.

@sethladd : thoughts, reactions?

[2016-10-05 12:23] mit-mit commented on #233
I agree. Seth, is your docs process for flutter.io described somewhere?

[2016-10-05 12:34] mit-mit commented on #44
That is a good point Devon! We do that today with the .atom folder, and could just as well create a .idea folder with the config! CC @danrubel WDYT?

It looks like .idea folder is preferred over the .ipf file format:
https://intellij-support.jetbrains.com/hc/en-us/community/posts/206915235-IPR-vs-IDEA

[2016-10-05 12:36] mit-mit commented on #44
As for config, I think we roughly need:

1. To enable Dart support
2. To have lib/main.dart open in an editor tab
3. To expand the lib folder in the project list
4. To create a config
  - Name: `Flutter`
  - Dart file: `<project dir>/lib.main.dart`
  - Checked mode: `disabled`

[2016-10-05 12:38] mit-mit commented on #44
I went through an experiment making the changes I described above, and between each change made a commit to git. The resulting [commit log](https://github.com/flutter/flutter-intellij/files/511148/IdeaFileChanges.pdf) shows a pretty staggering set of changes :-|

[2016-10-05 12:54] mit-mit commented on #229
@danrubel should we consolidate those two bugs?

[2016-10-05 12:59] mit-mit commented on #194
@devoncarew for the first public release of the IJ plugin should we not at least check for a specific min version (which is the one we test against)?

[2016-10-05 13:06] mit-mit commented on #44
@pq I was thinking that this is not blocking for fishfood (we can provide config instructions), but that it blocks the [external alpha](https://github.com/flutter/flutter-intellij/milestone/7) instead. WDYT?

[2016-10-05 13:08] mit-mit opened #237 "run/debug support (internal)"

[2016-10-05 13:08] mit-mit opened #238 "hot reload support - flutter_tools shim"

[2016-10-05 13:14] mit-mit opened #239 "blaze build support incl. flutter_tools shim"

[2016-10-05 13:15] mit-mit commented on #237
Moving shim part to #239

[2016-10-05 13:16] pq commented on #44
👍

That said, I got it mostly working yesterday so I should have a PR later this AM.

Hits all these high points. 😄

[2016-10-05 13:19] mit-mit commented on #44
Excellent!

[2016-10-05 14:50] stevemessick commented on #238
What still needs to be done?

[2016-10-05 14:58] mit-mit commented on #238
These are just placeholders to make sure we don't forget, @danrubel is going to review them and close if he concludes there is no work

[2016-10-05 15:05] stevemessick opened #240 "Debug single app on multiple devices simultaneously"
The plugin should allow a developer to attach multiple devices or simulators and use all of them at the same time while working on a single app. They should be able to set breakpoints that are active in all sessions, individually single step the debugger for a single device, resume and exit the app on each device without affecting other devices.

One could imagine setting a breakpoint on a per-dev

[2016-10-05 15:25] sethladd commented on #233
Repo is here: https://github.com/flutter/website

Please send PR's and once merged, they get auto-deployed. Thanks!

[2016-10-05 15:47] devoncarew commented on #38
+1 to sharing - parts of that could live in something like dev/intellij

[2016-10-05 15:51] eseidelGoogle commented on #240
We used to have a feature in earlier versions of flutter run/flutter listen which would run a single app across all connected devices simultaneously.  As I recall, @devoncarew and company found the resulting flutter_tools code sometimes confusing and my understanding was the run-everywhere part wasn't used much other than for sexy demos.  Without further context, a run-a-single-app-on-multiple-dev

[2016-10-05 18:54] devoncarew commented on #240
+1 to the above. Atom had a limit of only being able to debug one flutter app at a time, but this was an artificial limit of the arch. and not really intended. I think this feature is about being able to independently debug an app on multiple devices.

[2016-10-05 19:30] stevemessick opened #242 "Restart stopped app before terminating"
Start an app and let it run until it hits a breakpoint. Then give the daemon the `app.stop` command. The daemon shuts down leaving the app running on the device. However, the app is still paused at the breakpoint. I expected the app to be terminated.

Here's a transcript. Lines beginning with a bracket (`[`) are commands to the daemon. The others are output from the daemon.
[code]

[2016-10-05 20:23] #161 closed

[2016-10-05 20:40] pq commented on #44
Re-framing this issue back to being about run config generation.  We can open another to track other template generation ideas.

[2016-10-05 20:50] pq commented on #44
PR https://github.com/flutter/flutter-intellij/pull/243:

<img width="1395" alt="screen shot 2016-10-05 at 1 43 21 pm" src="https://cloud.githubusercontent.com/assets/67586/19130804/b9009c4e-8b01-11e6-9173-27d2fd36528e.png">

🤘

[2016-10-05 21:00] stevemessick commented on #240
@eseidelGoogle I think IntelliJ has a UX in place for multiple debuggers on the same program. Expert IntelliJ users will want it. However, I added this to the only milestone that has no delivery date on it. :)

[2016-10-05 21:21] danrubel commented on #238
WRT hot reload support, I'm happy to address any shim related work in flutter_tools as necessary... unless someone gets there first. I have not had time to look into it yet.

[2016-10-05 22:58] stevemessick commented on #231
This is straightforward to reproduce.
1. Get a pristine version of flutter/examples/flutter_gallery. `git status` should report no modifications.
2. Create a new Flutter project in IntelliJ pointing to that directory.
3. Open lib/main.dart
4. See the prompt to enable Dart support, as in the screen shot.

<img width="1096" alt="screen shot 2016-10-05 at 3 52 03 pm" src="https://cloud.githubusercont

[2016-10-06 00:16] pq commented on #231
This is helpful thanks.  That message is definitely interesting!

[2016-10-06 00:17] #44 closed

[2016-10-06 01:31] pq commented on #231
A few quick thoughts.

1. We set the Dart "nature" _after_ `flutter create` returns.  If you open a file before it returns, I'd expect to see this.  --- An easy fix is to queue up the nature assignment before we do the wait.  I'll look at that.
2. Besides that there's a larger issue of whether we should be calling `flutter create` for a project created from sources _in the first place_.  The troub

[2016-10-06 09:05] mit-mit commented on #231
Do we actually call `flutter create` when you create a new Flutter IJ project on a dir that already has flutter files?

[2016-10-06 11:11] devoncarew opened #244 "publish the plugin to the jetbrains plugin repo"
https://plugins.jetbrains.com/

[2016-10-06 13:00] pq commented on #231
We do which is clearly a bug.

@devoncarew: did you do anything in Atom to decide when (not) to run `create`?  Is a non-empty directory a good-enough heuristic?

[2016-10-06 13:08] pq opened #245 "Add a check to ensure a run config does not already exist before auto-creating one"
As per https://github.com/flutter/flutter-intellij/pull/243#pullrequestreview-3091451, add a check to ensure a run config does not already exist before creating one.

[2016-10-06 13:09] devoncarew commented on #231
We probably want to differentiate between creating a new project and importing an existing one (that may not yet have all the intellij metadata). That probably maps to these two menu items?

<img width="513" alt="screen shot 2016-10-06 at 6 08 08 am" src="https://cloud.githubusercontent.com/assets/1269969/19153428/6ac47296-8b8b-11e6-8a09-6c41d3cec009.png">

[2016-10-06 13:21] pq commented on #231
Ideally yeah.

The trouble is there doesn't appear to be any way for us to contribute to the "Project from Existing Sources..." flow and it's very much about importing eclipse, maven or gradle projects.

![screen shot 2016-10-06 at 6 20 03 am](https://cloud.githubusercontent.com/assets/67586/19153861/fe9e36c2-8b8c-11e6-8c62-bf9d7c71ed85.png)

Unless I'm overlooking something?

[2016-10-06 14:45] devoncarew commented on #231
Hmm, ok. Not sure where the best place for us to plug in is then for importing existing projects. Perhaps we can adapt the 'create' flow to not call out to flutter create if there's a pubspec or flutter.yaml file? (This sounds similar to what you suggest above).

[2016-10-06 15:26] pq commented on #231
I think for starters I'll use a *really* simple heuristic and just not call create if the directory is non-empty.

As for where to plugin long-term, we could adapt the existing New Flutter Project wizard to allow a user to specify that they are importing from existing sources (vs. creating new).  If we do that we could allow them to specify `main` and so on so that we can create a reasonable run c

[2016-10-06 15:50] pq commented on #54
I think we're as far as we want to go on this for a first cut.  Flutter SDK configuration should set the right SDK and if a user has done something different they'll see an editor notification.  Feel free to re-open if you want to continue to iterate.  Or maybe better still, open new issues to track specific asks.

[2016-10-06 15:50] #54 closed

[2016-10-06 16:16] pq commented on #178
@stevemessick before I go mucking around in here, I wonder if this is on your radar...  If so, please re-assign.  In any event, we should coordinate.

[2016-10-06 16:22] pq commented on #194
My gut too.  I think we can punt on the `VERSION` tweaks but it would be great to have some kind of check in place to ensure folks don't get snagged by stale flutter tools.

[2016-10-06 16:25] pq commented on #134
@devoncarew : Are we good enough here?  Or can we make this more concrete?

[2016-10-06 16:27] pq commented on #142
Given that we now have a means to specify an earliest compatible plugin version, can we maybe re-target this bug?  What's our goal?  Further minimize our Dart API exposure?

[2016-10-06 19:16] stevemessick commented on #231
Isn't 'flutter create' safe to reuse?

On Oct 6, 2016 08:26, "Phil Quitslund" <notifications@github.com> wrote:

[2016-10-06 19:38] stevemessick commented on #178
I'm not looking at this. Today is vacation anyway.

On Oct 6, 2016 9:16 AM, "Phil Quitslund" <notifications@github.com> wrote:

[2016-10-06 19:58] pq commented on #231
Depends on what you mean.  The issue is that it creates a bunch of files for you that in the case where you're opening an existing project you don't want.

[2016-10-06 20:11] #231 closed

[2016-10-06 23:35] #245 closed

[2016-10-06 23:47] pq commented on #217
Change info is inlined like so:

[code]

[2016-10-07 00:43] #38 closed

[2016-10-07 18:15] #242 closed

[2016-10-07 18:17] devoncarew commented on #134
I think this is complete fo V0.

[2016-10-07 18:17] #134 closed

[2016-10-07 18:20] devoncarew commented on #142
Let's close, and re-open a more specific one, when we need to target a specific older version.

[2016-10-07 18:20] #142 closed

[2016-10-07 18:53] devoncarew opened #250 "publish a new release"
This is an interim release - a fishfood candidate.

[2016-10-07 20:13] devoncarew commented on #250
fixed by @pq

[2016-10-07 20:13] #250 closed

[2016-10-07 20:22] pq opened #254 "Remove Dart nature to get back to a trim build."
(No need to bundle the Dart SDK.)

![screen shot 2016-10-07 at 1 22 19 pm](https://cloud.githubusercontent.com/assets/67586/19204325/16084028-8c91-11e6-8d63-3069550a6524.png)

[2016-10-07 21:53] devoncarew opened #255 "document how to install the plugin"
For early dogfooding purposes, from our alpha site.

[2016-10-07 23:01] pq commented on #255
As per https://github.com/flutter/flutter-intellij/issues/233, have we decided that this will live on flutter.io?

[2016-10-08 01:43] devoncarew commented on #255
That would be great; for early dogfood perhaps also have some instructions in the readme or wiki?

[2016-10-08 03:57] devoncarew opened #256 "exception on debug after a launch timeout"
When launching an app (on a very slow laptop), I often see a timeout. On the 2nd debug launch, I see the exception:

[code]

[2016-10-08 13:06] devoncarew opened #258 "Launch config cleanup"
Can we do anything to pre-populate the launch config names, after the user has chosen a launch script?

[2016-10-08 13:21] #256 closed

[2016-10-09 14:17] pq commented on #255
👍

To start, let's do things here.  When we feel good about them we can upstream to flutter.io.

Is this a good root?

https://github.com/flutter/flutter-intellij/tree/master/docs

next to `alpha`?

Maybe a new directory called `user`?

[code]

[2016-10-09 16:16] pq opened #261 "create or repurpose an alpha doc README"
We've got a bunch of information spread across issues, wikis and internal docs.  We should consolidate what we need for fishfood into a single `README`.

[2016-10-09 16:17] pq opened #262 "fishfood docs [meta]"
Tracking bug for all the docs that need wrangling for fishfood.

  * [x] create or repurpose an alpha doc README #261
  * [x] document how to install the plugin #255
  * [x] migrate user journeys to a separate doc in docs/ #265
  * [x] link to the docs/readme from the README #264

...

Please add more to the punch-list!

/cc @mit-mit @devoncarew

[2016-10-09 16:19] pq commented on #261
@devoncarew @mit-mit : I feel tempted to fill-out our main `README` which we left intentionally sparse.

https://github.com/flutter/flutter-intellij/blob/master/README.md

WDYT?

[2016-10-09 16:20] pq commented on #255
As per #261, I'm actually feeling inclined to just put this in the top-level `README`.

Thoughts?

[2016-10-09 16:29] #254 closed

[2016-10-09 20:23] devoncarew commented on #255
The readme.md sgtm.

Currently, items in the `docs/` folder are served out over [flutter.github.io/flutter-intellij](https://flutter.github.io/flutter-intellij/readme.md) (and any markdown files are run through jekyll).

[2016-10-09 20:33] pq commented on #255
I just noticed that.  Neat!

I'll put together some plugin install docs for the `readme`.

👍

[2016-10-10 12:30] pq commented on #178
Did a bit of plumbing in this weekend and have a few questions.  Maybe we can chat today.

[2016-10-10 12:34] pq commented on #261
Actually, after chatting w/ @devoncarew, I think the plan of action is to update `docs/readme.md` w/ install instructions:

https://github.com/flutter/flutter-intellij/blob/master/docs/readme.md

This will get slingshotted to flutter.io.

The top-level `README` can be more focused on the source base (e.g., build status, etc.)

Having said that, as I intend to put some time into docs this week, @mi

[2016-10-10 12:40] pq commented on #229
@danrubel : is this reasonably on track for this week or should  we push it to the next milestone?

[2016-10-10 13:41] mit-mit commented on #261
Sounds good. Should the "user journeys" wiki page be converted to a .md
page here?

On Mon, Oct 10, 2016 at 2:34 PM, Phil Quitslund <notifications@github.com>
wrote:

[2016-10-10 15:28] danrubel commented on #229
[Detecting IntelliJ on Linux](https://github.com/flutter/flutter/pull/6227) has landed. Working on detecting it on Mac today.

[2016-10-10 15:50] pq commented on #229
🎉

[2016-10-10 15:53] pq opened #264 "Link to the docs/readme from the README."
Once there's content on flutter.io, we should link to it from the README.

[2016-10-10 16:18] pq opened #265 "Migrate user journeys to a separate doc in docs/."
We'd like to link this off the `readme` on flutter.io.

[2016-10-10 16:34] pq commented on #261
Closing in favor of more targeted follow-ups.

[2016-10-10 16:34] #261 closed

[2016-10-10 17:38] #255 closed

[2016-10-10 18:58] stevemessick opened #267 "Only display device list for Flutter projects"
If the Flutter plugin is installed the device list pull-down is displayed in the tool bar unconditionally. It should be possible to adapt that behavior so the pull-down is only displayed when the current project is a Flutter project.

[2016-10-10 20:00] stevemessick opened #268 "Fix Rerun button"
The "Rerun" button in the IntelliJ debugger relaunches the app. It could instead use the app.restart command implemented by the Flutter daemon. The current implementation works for the case of single apps but could fail if multiple apps were running.

[2016-10-11 01:02] #264 closed

[2016-10-11 01:03] #265 closed

[2016-10-11 01:04] #262 closed

[2016-10-11 12:12] mit-mit opened #270 "Open lib\main.dart automatically for new project"
When the user creates a new project, we should automatically open lib\main.dart in the main editor window, to guide them to where to start editing code.

[2016-10-11 14:06] mit-mit opened #271 "Failure when opening flutter examples"
Tested with plugin version 0.0.6:

1. Open IJ, and do File>Open
2. Navigate to `/flutter/examples/hello_world` and hit OK
3. It prompted that Dart support is not enabled, enable it
4. When prompted that "'Pub get' has not been run" hit 'Get dependencies"

Fails with:

[code]

Pub should be available there:
[code]

[2016-10-11 14:06] mit-mit commented on #271
@pq known issue in 0.0.6?

[2016-10-11 15:47] pq commented on #271
cc @devoncarew wonder if this has anything to do with our checked-in project metadata?

[2016-10-11 15:59] devoncarew commented on #271
This is something we'll need to handle. The way those pubspecs are written (https://github.com/flutter/flutter/blob/master/examples/hello_world/pubspec.yaml#L5), you can't use `pub get` or `pub upgrade` with them (which IntelliJ is doing). You can to run `flutter packages get` and `flutter packages upgrade`.

[2016-10-11 16:04] pq commented on #271
Hmmmm....   A few thoughts:

1. Should we train the Dart plugin to ignore pubspecs with `sdk: flutter` set or maybe better still,
1. should we make the Dart Plugin pub support retargetable so that we can have it call `flutter packages get`? Or,
1. is there a plan in place to make `pub get` "just work" (a la Dan's shim idea)?

[2016-10-11 16:05] pq commented on #270
Are you creating a fresh project or opening an existing one?  (The former should be implemented and if it isn't working, it's a bug!)

[2016-10-11 17:00] mit-mit opened #272 "Meta-issue: Support updating code with hot reload while debugging"
The ability to update the source code while stopped at a breakpoint is really powerful. However, the may cause the breakpoint locations to move, and thus the VM needs to be told what the new breakpoint locations are.

Work items:

  - [ ] document deamon protocol: #273
  - [ ] IntelliJ tracking and communication of new breakpoints
  - [ ] VM support for new deamon protocol

[2016-10-11 17:01] mit-mit opened #273 "Document daemon protocol for updating breakpoints"
Document how to communicate new breakpoint locations when new sources are hot reloaded during a debugging session.

[2016-10-11 17:02] mit-mit commented on #273
@johnmccutchan is this you?

[2016-10-11 17:11] mit-mit commented on #270
Sorry, it does open, just a bit later (I was using a slow VM)

[2016-10-11 17:11] #270 closed

[2016-10-11 17:13] devoncarew commented on #271
flutter_tools impl of `flutter packages get` here: https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/dart/pub.dart#L54

[2016-10-11 17:19] devoncarew opened #275 "doc using the plugin on flutter.io"

[2016-10-11 17:24] devoncarew commented on #194
It sounds like the intent here is to capture super old installs of Flutter.

[2016-10-11 17:25] devoncarew commented on #194
Can we have `flutter_tools` report how old it is?

[2016-10-11 17:28] sethladd commented on #194
We say "XX days ago" in --version:

[code]

[2016-10-11 17:28] devoncarew commented on #230
@stevemessick - you've looked at this - do you have a sense for approx. how much work this is? I'm wondering if it's small/medium/large. Thanks!

[2016-10-11 17:36] devoncarew commented on #275
closing as a dup of https://github.com/flutter/flutter-intellij/issues/233

[2016-10-11 17:36] #275 closed

[2016-10-11 17:39] pq commented on #30
@stevemessick could elaborate on what you had in mind here?

[2016-10-11 17:40] pq commented on #114
As per our discussion, the user journey's doc will serve double-duty as our test script.

[2016-10-11 17:52] stevemessick commented on #230
Actually, I haven't had a chance to do any more than the quick search I described. I don't know what's really involved in implementing it. It sounds like UI work, and not something standard in IntelliJ, so it could be a big job even though it seems small-ish. I would de-prioritize it until we were actually trying to integrate with AS. Is that happening now?

[2016-10-11 17:58] devoncarew commented on #271
Can we replace the `pubspec.yaml` contributions from the Dart plugin with ones from the Flutter plugin?

[2016-10-11 18:49] devoncarew commented on #273
Here's the current docs of the `app.restart` command: https://github.com/flutter/flutter/wiki/The-flutter-daemon-mode#restart (`{ String appId, bool fullRestart }`)

Adding breakpoints is defined here: https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#addbreakpoint (in the service protocol doc).

[code]

And we call `_reloadSources` from here: https://github.com/flutter/fl

[2016-10-11 20:13] devoncarew commented on #232
Makes sense. Looking at the code, the action surfacing the pulldown is setting and getting its info from the `FlutterDaemonService`. That's a singleton for the app:

[code]

We'd need to either make one daemon instance per window (probably a good idea) or have a device selection service, and have one instance of that per window.

[2016-10-11 20:19] pq commented on #271
That may be tricky as there are actions _and_ inspections we'd want to hijack/retarget.

What about the idea of making `pub get|upgrade` run "the right way" if `sdk: flutter` is specified?  That is, by setting the right environment variables?

[2016-10-11 21:28] #178 closed

[2016-10-11 21:33] #217 closed

[2016-10-11 21:58] stevemessick opened #281 "Change plugin name"
The plugin should be named "Flutter" instead of "flutter-intellij" (see screen shot). I'm not sure what "N/A" underneath the plugin name refers to but it could probably be improved.

<img width="228" alt="screen shot 2016-10-11 at 2 55 01 pm" src="https://cloud.githubusercontent.com/assets/8518285/19290119/f9bf5ae8-8fc2-11e6-9645-180a5e1d45ec.png">

[2016-10-12 00:10] devoncarew opened #282 "NPE on app debug"
[code]

To repro (this scenario is not a common one for users):
- open an existing flutter project
- install the flutter plugin
- restart
- set the path to the flutter sdk
- devices now show up in the device pulldown
- hit debug; see exception

[2016-10-12 00:17] devoncarew opened #283 "closing the iOS simulator didn't clear out the devices pulldown"
The iOS simulator (`iPhone SE`) still showed in the pulldown.

[2016-10-12 00:18] devoncarew commented on #283
Re-opening the simulator, and exiting it again did clear the pulldown.

[2016-10-12 01:53] devoncarew commented on #281
Fixed by https://github.com/flutter/flutter-intellij/pull/284 (@pq, I didn't see you grabbed this until I pushed my PR!)

[2016-10-12 03:59] pq commented on #281
No worries!

[2016-10-12 13:13] pq commented on #281
FWIW, according to Alex,

Things should look a little better when we're not host the repo ourselves.

[2016-10-12 13:16] pq commented on #271
Update: after a chat with Alex, I'm going to explore baking some minimal logic into the Dart Plugin proper.

[2016-10-12 14:46] #281 closed

[2016-10-12 18:22] abarth opened #287 "getting-started: "Open plugin preferences (Preferences>Plugins)" is misleading"
On Linux at least, this is in `File > Settings...`

[2016-10-12 18:26] abarth opened #288 "getting-started: Flutter plugin configuration"
The "Flutter plugin configuration" step says:

 * Open plugin preferences (Preferences > Plugins)

However, I think you mean "Preferences > Languages & Frameworks"

[2016-10-12 21:59] InMatrix opened #289 "Exception message when running the starter app in IntelliJ"
The following exception only occurs when I run the starter app in IntelliJ. The starter app was created using the New Project wizard in IntelliJ. This problem didn't occur when I ran the same project via command line or ran the same project in the debug mode in IntelliJ. The starter project still ran normally on a Nexus 6P when the exception occurred.

My dev environment:
- OS X El Capitan on a Ma

[2016-10-12 22:24] InMatrix opened #290 "View>External Documentation takes you to the root of the dart doc"
If I select "AppBar" in the code and then click External Documentation from the View menu, the browser will open this URL: https://api.dartlang.org/stable/1.20.0/index.html#id_AppBar

[2016-10-12 22:46] pq commented on #287
Thanks @abarth !

[2016-10-12 23:57] #287 closed

[2016-10-12 23:57] #288 closed

[2016-10-13 02:00] johnmccutchan commented on #273
@devoncarew Expanding `reloadSources` with side data won't scale because a debug client may want to do a variety of operations before resuming execution of the isolate. I have a [CL](https://codereview.chromium.org/2411153002/) that will land shortly that will add an optional `pause` parameter to `reloadSources`. When set to `true`, the isolate will pause in the debug loop. While the isolate is pa

[2016-10-13 08:02] abarth opened #292 "Hang when Rerun app"
When I click the "Rerun" app (on Mac with iOS simulator), IntelliJ hangs until my app reloads.

[2016-10-13 08:54] abarth commented on #292
The stop button has the same hang, which makes me thing its the stop action that's causing the trouble.

[2016-10-13 13:12] pq commented on #292
cc @stevemessick

[2016-10-13 13:13] pq commented on #289
@devoncarew @stevemessick : any thoughts on this?

[2016-10-13 13:15] pq commented on #258
Not sure what you mean by this one...  Could you elaborate?

Here's what I see.

<img width="299" alt="screen shot 2016-10-13 at 6 15 08 am" src="https://cloud.githubusercontent.com/assets/67586/19350392/6b5a8a3e-910c-11e6-9ec4-5c02cc7c8ac8.png">

[2016-10-13 13:20] pq commented on #229
@danrubel : I think this was close for the Mac right?

<img width="470" alt="screen shot 2016-10-13 at 6 19 15 am" src="https://cloud.githubusercontent.com/assets/67586/19350519/f93142da-910c-11e6-9f12-969e829ca2da.png">

Still only seeing Atom...

[2016-10-13 13:20] pq commented on #201
@devoncarew is this a candidate for the external alpha?

[2016-10-13 13:22] pq commented on #194
@abarth, @sethladd  : after a bunch of discussion I think we converged on bumping the `VERSION` file after all.  Any objections to me doing that today?

[2016-10-13 13:23] pq opened #293 "Bump Flutter `VERSION` so that we can detect stale SDKs."
See #194.

[2016-10-13 13:29] danrubel commented on #229
It's close. Got distracted on other things. Need to address review comments for https://github.com/flutter/flutter/pull/6262, land it, then we'll have support for Mac.

[2016-10-13 14:26] devoncarew commented on #273
Makes sense, and

yup, this will be easier for clients to implement.

[2016-10-13 14:27] devoncarew commented on #201
Sure, it's good cleanup.

[2016-10-13 14:28] devoncarew commented on #258
This is when creating a new launch configuration - the user has to do a bunch of data entry, and I'm wondering how much we could automate.

[2016-10-13 15:15] stevemessick commented on #292
@abarth Is this after starting the app via Run or Debug?

[2016-10-13 15:22] abarth commented on #194
Go for it.

[2016-10-13 15:23] abarth commented on #292
Run.  (Assuming that what happens when I press the green triangle.)

[2016-10-13 15:31] pq commented on #229
Cool!

Question.  After a sync, I'm not seeing anything.  Does this mean it cannot find my IntelliJ installation(s)?

[code]

[2016-10-13 15:42] pq commented on #194
Awesome.  Thanks!

[2016-10-13 15:47] stevemessick commented on #292
Yes, it is. FWIW you can see the names of buttons by hovering the mouse pointer over the button for a few seconds.

I can reproduce this problem.

[2016-10-13 15:51] stevemessick opened #294 "Cannot un-set Flutter SDK path"
Initial state: fully configured IntelliJ + Flutter plugin, which can be used to run and debug Flutter apps.

Steps to reproduce: open the preferences and try to change the path to the Flutter SDK to something other than what is set. It won't accept the change. Maybe if I had two Flutter SDK locations I might be able to change from one to the other, but what I want to do is set a bad SDK path.

[2016-10-13 15:56] pq commented on #294
Validation forbids you from setting a bad path.  Setting to another valid path works though.  I *think* this is a feature not a bug?

If you're just trying to test a clean install, follow these instructions?

https://github.com/flutter/flutter-intellij/wiki/Development

[2016-10-13 16:01] stevemessick commented on #294
I think I ought to be able to tell it where I plan to install the SDK, even before having done so. So that makes this feature a bug for me. I could get into an equivalent state by changing the name of one of the directories in the path, so it is not like prohibiting the change is preventing any problems.

[2016-10-13 16:36] #293 closed

[2016-10-13 16:40] pq commented on #294
Hmmmm.  I think this complicates things a bit since we'd need to listen for external events in order to know when the set value becomes valid and then set the SDK path, start the daemon, etc.

For perspective, I don't think this kind of validation is unusual either.  For example, you can't point to a bogus Java SDK location either.

<img width="525" alt="screen shot 2016-10-13 at 9 40 17 am" src="

[2016-10-13 17:23] danrubel commented on #229
Where do you have it installed?
If you email me the exact path, I can check that I'm searching the right directories.

[2016-10-13 17:34] pq commented on #229
```/Application/Tools` is where I have all my IDEs but I'm guessing that's not standard.  Of course, what _is_ standard?

[2016-10-13 17:43] danrubel commented on #229
The standard (when you run the IntelliJ `*.dmg`) is for it to be installed in `/Applications` and that's where the code checks. Should it scan `/Application` subfolders as well?

[2016-10-13 17:50] pq commented on #229
Makes sense!

I don't think it's unreasonable.  At least one level deep.  It's pretty common for folks to do a little management of their Apps directory.

[2016-10-13 18:15] #292 closed

[2016-10-13 18:18] pq commented on #292
🤘

[2016-10-13 19:16] abarth commented on #292
Thanks!

[2016-10-13 20:11] stevemessick opened #298 "Add device name to debugger tab"
When debugging an app on multiple devices simultaneously there is no way to tell which debugger tab controls which device, other than running the app and observing state changes on the devices. The current name of the tab is just the name of the app; the name of the device it is running on should be added to the tab name -- or perhaps the device name should replace the app name since in this UI th

[2016-10-13 21:29] pq opened #300 "Limit uses of `LOG.error|warning|info`"
In summary, `LOG.error` should be reserved for failed assertions and `warning` and `info` only sparingly since all they write goes into the `.log`.  For debugging output, we should use `debug` which only produces output when debugging is explicitly turned on.

[2016-10-13 22:53] #194 closed

[2016-10-14 04:05] abarth opened #302 "Intellij fights with itself over iml files"
I tried setting the iml files to a reasonable value, but each of my machines has a different idea what it wants these files to hold.

[code]

[2016-10-14 06:32] devoncarew commented on #302
Does running `flutter update-packages --upgrade` normalize it at all? I would expect that some (all?) of those packages dirs should go away with `pub upgrade --no-packages-dir`.

[2016-10-14 06:45] abarth commented on #302
I'll need to run some experiments.

[2016-10-14 09:40] alexander-doroshko commented on #267
Or may be only when currently selected run configuration in the neighbor combo box is the Flutter one.

[2016-10-14 09:57] alexander-doroshko commented on #302
This is actually caused by the Dart plugin. Exclusion list depends on the Dart SDK version configured in the IDE (even if Dart support is disabled for the current project). Difference happens because in case of SDK older than 1.12 root `packages` folder is not excluded, but some of its subfolders should. In case of SDK 1.12+ root `packages` is excluded. Dart plugin treated no SDK the same as 1.11-

[2016-10-14 14:23] stevemessick commented on #258
Are you referring to this form?

<img width="835" alt="screen shot 2016-10-14 at 7 07 04 am" src="https://cloud.githubusercontent.com/assets/8518285/19390410/dcd7082e-91dc-11e6-9626-7c767de6943d.png">

I think that could use some clean-up. I believe the only required fields are the config name (`Unnamed` in this example) and the path to the file. And I'm not even sure the file is absolutely requir

[2016-10-14 14:48] abarth commented on #302
Thanks!

[2016-10-14 16:06] devoncarew commented on #258
I think they'll likely just have one launch config per app. You can have several apps per project - that's what the `target` field is for. It defaults to `lib/main.dart` - we should populate it with the info from the `Dart file:` field (but probably sending it in as relative to the project).

We probably don't need to expose the `route` arg - we can if there's demand. We may want to add a `support

[2016-10-14 16:16] devoncarew commented on #294
I think being able to remove the setting makes sense - we just need to broaden our definition of a 'valid sdk path' a bit, from valid flutter sdk's, and no sdk path.

[2016-10-14 16:39] pq commented on #302
@devoncarew : it looks like the IML files can be safely updated in the repo.  Tentatively bouncing to you since you did the first round.  Feel free to reassign as you see fit!

[2016-10-14 16:41] pq commented on #267
@alexander-doroshko : you mentioned maybe just swapping in a transparent pane (or something).  Can you point me towards anywhere else in the IDE where something similar is done "the right way?"  It'd be great to have a reasonable point of reference.

Thanks!

[2016-10-14 16:46] pq commented on #294
I almost agree but that doesn't address @stevemessick 's concern which I think is around the UX idea of unnecessary "premature commitment".

Besides testing, what's the motivation for un-setting a Flutter SDK?

[2016-10-14 16:55] pq commented on #290
Thanks!

It looks like the Dart plugin hardcodes the documentation root to point to  `"http://api.dartlang.org/docs/releases/latest/"` as it's base root (`com.jetbrains.lang.dart.ide.documentation.DartDocumentationProvider#constructDocUrl`).

cc @alexander-doroshko for thoughts on how we might make documentation resolution a bit more retargetable.

[2016-10-14 16:58] pq commented on #282
cc @stevemessick -- I'm curious if this is still valid?

[2016-10-14 16:59] abarth commented on #302
I pushed the updated IML files to flutter.git.

[2016-10-14 17:04] pq commented on #302
Awesome.  Thanks @abarth !

Optimistically closing...

[2016-10-14 19:13] pq commented on #300
I took a quick pass over the SDK and module config bits (https://github.com/flutter/flutter-intellij/pull/304).

@stevemessick would you mind taking a crack at logging in debugging?

[2016-10-14 19:42] stevemessick opened #305 "Restore breakpoints after hot reload"
When the Hot Reload button is clicked the code on the selected device is updated but the breakpoints are lost for that device. If multiple devices are connected only the breakpoints on the reloaded device are lost. The breakpoint locations are not changing in this case (I just changed one character in a string to test that). This needs to be solved by the IDE since the daemon has no information ab

[2016-10-14 19:46] stevemessick commented on #305
Oddly, doing a full app restart seems to preserve breakpoints.

[2016-10-14 20:02] stevemessick commented on #300
I didn't see any problems.

[2016-10-14 20:03] #300 closed

[2016-10-14 20:03] devoncarew commented on #305
Yeah, we'll need some API changes to enable us to preserve (or re-set) breakpoints during a hot reload.

[2016-10-14 20:07] stevemessick commented on #305
Can't we just use the observatory, as we already do to set and unset them? I'm actually wondering why the breakpoints do not get lost on a restart. Maybe the daemon should be doing something different, and this isn't even an IDE issue. @danrubel could that be the case?

[2016-10-14 21:30] stevemessick opened #307 "Update debugger stack when app is paused"
Clicking the Pause Program button does pause execution of the Flutter app but it does not update the debugger's view of the stack. When used on a Java program the debugger stack is updated, so if it is possible to do so we should do the same for Flutter.

[2016-10-14 21:37] devoncarew commented on #305
The resolution from this issue: https://github.com/flutter/flutter-intellij/issues/273 will help us out. I think the steps will be:

- we send in `reloadSources(pause: true)` via the daemon protocol
- the VM reloads; we get a new event type back (`kPausePostRequest`)
- on receipt of that event, we should manually restore all previous breakpoints

[2016-10-15 00:27] eseidelGoogle commented on #305
FYI @johnmccutchan

[2016-10-15 04:53] abarth commented on #302
Now we're fighting over `.pub` folders.

[code]

[2016-10-15 09:12] alexander-doroshko commented on #267
A guess with empty panel was wrong.
DeviceSelectorAction is a standard Action, you control its visibility inside `update()` method using standard `e.getPresentation().setVisible()`.

[2016-10-15 09:20] alexander-doroshko commented on #302
It's ok to commit excluded .pub folders

[2016-10-15 14:23] pq commented on #267
Ah!  That's much easier.  Thanks!

[2016-10-15 14:30] pq commented on #302
Thanks @alexander-doroshko.

cc @devoncarew

[2016-10-16 07:00] #109 closed

[2016-10-16 07:24] abarth opened #310 "Autoindent fights me when I'm trying to write constructor cascades"
Here's what I'm trying to type:

[code]

Every time I press "enter", the next line is indented four spaces, but I only want it to be indented two spaces.  When I press "backspace", all four spaces are removed.  What I need to do is move earlier in the line an right-delete two spaces to get the indent I'm looking for.

Notice that the above code is formatted properly according to `dartfmt`.

[2016-10-16 08:12] devoncarew commented on #310
/cc @stevemessick, who I believe worked on the indentation code

[2016-10-16 08:24] devoncarew commented on #302
Fixed here https://github.com/flutter/flutter/commit/9cab64a72c1e09d8c87e7ff8ef6f75701e42cbe3 I believe.

[2016-10-16 08:24] #302 closed

[2016-10-16 13:34] stevemessick commented on #310
I'll take a look. We may be able to make it less annoying. It is unlikely to ever be perfect. The built-in IntelliJ formatter is rule-driven. There is limited access to non-local state. You can make the rules arbitrarily complex (Java code) but they have to run fast, can't block the event loop. I think newline processing is done in the event loop.

I think a lot of Dart programmers ignore formatti

[2016-10-16 15:56] abarth commented on #310
If that's the case, the simplest thing might be to intent by two spaces rather than by four spaces in this case and have backspace operate in units of two spaces.  That's not going to give you the correct indent in every case, but it will at least let you type correctly formatted code without tricky delete sequences.

[2016-10-17 10:26] alexander-doroshko commented on #302
I've found one more possible case when there may be conflicts related to excluded folders in the `*.iml`. This is what Dart plugin does:
- excludes ALL `packages` folders, even if they do not exist by iterating all places where these folders can be potentially created
- excludes `.pub` folder, but only if it exists
- excludes `build` folder, but only if it exists

**Example 1:** you add new `web/f

[2016-10-17 17:08] pq commented on #229
Landed. 🎉

[2016-10-17 17:08] #229 closed

[2016-10-17 17:15] pq opened #312 "Create a known issues list"

[2016-10-17 17:17] devoncarew commented on #290
Perhaps the dart plugin should complain if the library is not a `dart:` one?

[2016-10-17 17:20] devoncarew commented on #312
- debugging and hot reload don't play well together currently

[2016-10-17 17:21] devoncarew commented on #64
Let's assume IntelliJ CE and ultimate for now, and open specific issues for additional platforms (Android Studio, AppCode) to track the work for those products, when we do want to support them.

[2016-10-17 17:21] #64 closed

[2016-10-17 17:33] pq commented on #312
Add to README.

[2016-10-17 20:04] #267 closed

[2016-10-17 22:06] pq commented on #271
Fix up for review: https://github.com/JetBrains/intellij-plugins/pull/431

[2016-10-18 08:23] devoncarew opened #315 "support AppCode"
This is a longer term tracking issue, to know what work we'd need to do to support AppCode:
- [ ] Flutter is not suggested in New Project Wizard (IntelliJ IDEA-specific extension points do not work there)
- [ ] AppCode can open only those projects that have *.xcodeproj or *.xcworkspace in the root folder, next to .idea, and it is not the case for flutter projects

[2016-10-18 08:25] devoncarew opened #316 "Opening an existing Flutter project that is missing .iml/.idea files causes confusing errors"
We should implement `ProjectOpenProcessor` for easy opening existing Flutter projects (I mean those that have never been opened in the IDE before and do not have .idea folder, so that Flutter module is created for them, not the default module type).

[2016-10-18 08:26] devoncarew opened #317 "implement ModuleConfigurationEditorProvider on our custom module type"
Custom module type gives great control on module level configuration in the Project Structure dialog (IntelliJ IDEA only). I mean that you can add any tabs (like for Java you have Sources, Paths and Dependencies). Currently you have none, so user even can't see/configure content roots, and excluded folders. Consider implementing ModuleConfigurationEditorProvider that would return something inherit

[2016-10-18 17:10] pq opened #320 "Create a doc that describes how to setup up project for development."

[2016-10-18 17:10] mit-mit commented on #320
Maybe just extend this:
https://github.com/flutter/flutter-intellij/wiki/Development

[2016-10-18 17:14] pq commented on #244
@devoncarew : once this happens can we still push as often and as quickly as we want?

[2016-10-18 17:34] pq commented on #320
Actually, this is what you want:

https://github.com/flutter/flutter-intellij/blob/master/CONTRIBUTING.md

[2016-10-18 17:34] #320 closed

[2016-10-18 18:57] devoncarew commented on #244
Yup!

[2016-10-18 19:09] devoncarew commented on #233
I think we should also have an entry in the faq (flutter.io/faq) about editor choice and recomendations.

[2016-10-18 19:38] sethladd commented on #233
Filed https://github.com/flutter/flutter/issues/6376 to track

[2016-10-18 20:07] stevemessick commented on #289
This error occurs when you start an app in release mode using the daemon.

[code]
@danrubel Might want to take a look at flutter tools.

[2016-10-18 20:31] stevemessick commented on #310
@abarth Since changes to the Dart plugin typically appear with IntelliJ releases you might want to change a preference setting now, to get the kind of delete-key behavior you want.

Go to this page: `Preferences>Editor>General>Smart Keys`
Change the `Unindent` selection to `To nearest indent position`

Let us know if that helps. If it does, we might want to find a way to make it easier to communic

[2016-10-19 08:06] mit-mit opened #324 "Print out plugin version numbers"
#229 added support in `flutter doctor` for determining if the developer has the Dart and Flutter IntelliJ plugins installed.

This bug tracks an enhancement to also print out version numbers of those plugins, similarily to how we do for Atom:

[code]

CC @danrubel

[2016-10-19 08:07] mit-mit commented on #324
@devoncarew what is the canonical way of determining the version of a .jar file?

[2016-10-19 08:09] mit-mit commented on #324
Tentatively adding alpha milestone

[2016-10-19 08:12] mit-mit opened #325 "Track general usage with Google Analytics"

[2016-10-19 08:13] mit-mit commented on #325
Assigning to self to get this specified.

[2016-10-19 08:44] alexander-doroshko commented on #324
Plugin version is specified as a `<version>` tag (child of the root `<idea-plugin>` tag) in the `plugin.xml` file.
`plugin.xml` is in the `META-INF` folder inside the plugin JAR.

[2016-10-19 11:00] mit-mit opened #326 "Confusing Android message"
Whenever I open a flutter project in IJ for the first time, I get this confusing message about Android:

![screen shot 2016-10-19 at 13 01 03](https://cloud.githubusercontent.com/assets/13644170/19516383/0c390900-95fc-11e6-9c2d-6b74290454b9.png)

[code]

Can we suppress this?

[2016-10-19 11:07] mit-mit commented on #326
My bad, this only happens when you open a new project using `File->Open...`, not when you use `File->Create...`

[2016-10-19 11:08] mit-mit commented on #326
@alexander-doroshko is there some way we can make the `File->Open...` workflow work for Flutter projects?

[2016-10-19 11:18] alexander-doroshko commented on #326
Yep, ProjectOpenProcessor extension point should help. Devon filed https://github.com/flutter/flutter-intellij/issues/316 on behalf of me to track it.

[2016-10-19 11:19] mit-mit commented on #326
Thanks, closing this bug then

[2016-10-19 11:19] #326 closed

[2016-10-19 11:22] mit-mit commented on #282
Bumping to second external release

[2016-10-19 11:24] mit-mit commented on #316
+1, as discussed in #326 this causes a confusing Android message ("Frameworks detected: Android framework is detected in the project Configure"), and causes the debug config to be missing.

[2016-10-19 11:38] mit-mit commented on #289
**Repro steps:**

1. Create a new app from the terminal: `flutter create testapp`
2. Run it in prod mode from the terminal: `flutter run --release`

*Expected and actual result*: Runs with no error

3. Start IntelliJ
4. Create new project with File->New, pick Flutter, point it at the testapp dir
5. Click the Run ('Play' icon) button in the toolbar

*Expected result*: No error just like when runnin

[2016-10-19 11:41] mit-mit commented on #312
I'll update README.md with this on Friday. Please tag issues that you think should be mentioned with a [needs-known-issue-docs](https://github.com/flutter/flutter-intellij/labels/needs-known-issue-docs) label

[2016-10-19 11:44] mit-mit commented on #324
Not critical for first milestone, bumping

[2016-10-19 11:45] mit-mit commented on #283
@devoncarew how often do you hit this? I was wondering if we can punt to the 0.2 milestone?

[2016-10-19 11:46] mit-mit commented on #201
Doesn't seem critical for 0.1, bumping to 0.2

[2016-10-19 11:51] mit-mit commented on #272
Closing this in favor of just tracking this with 305.

[2016-10-19 11:51] #272 closed

[2016-10-19 12:05] mit-mit opened #327 "Observatory button is enabled but doesn't work when running in release mode"
If you run a Flutter app with the Run button ("play" icon in the toolbar), then the Observatory button is enabled. However, clicking the Observatory button opens a browser tab on `about:blank`.

I think the Observatory button should be disabled when you are not debugging.

[2016-10-19 12:09] mit-mit commented on #289
@danrubel see above bug link, looks related?

[2016-10-19 12:17] mravn-google opened #328 "Exception while activating newly installed flutter plugin."
IntelliJ seems to indicate that we are accessing UI components from a background thread.

Steps to reproduce: I was following installation instructions:

Exception occurred after the final OK click. Happens again after restart of IntelliJ and repetition of the last four steps above.

[code]

[2016-10-19 12:25] mravn-google commented on #328
[code]

[2016-10-19 12:30] pq commented on #271
The fix has landed in the Jetbrains repo (https://github.com/JetBrains/intellij-plugins/commit/3cc250319131e6645ffcae26ef4764a745a2cfd1) and will be available with the next Dart plugin release.  I've added a new `waiting-on-release` tag to try and capture this state.  I'm not sure it's quite right.  Essentially, I'd like us to be able to categorize bugs that are "fixed" on our side but are waiting

[2016-10-19 12:35] pq opened #329 "Revisit/refactor Flutter project structure."
There's an ongoing conversation around Flutter project structure and in particular our choice to use an application library to track the Flutter SDK location.  This is a placeholder for a revisit of that decision.

/cc @alexander-doroshko

[2016-10-19 12:41] pq commented on #328
Curious if the Dart analysis server exceptions ring any bells for @scheglov or @jwren?

[2016-10-19 12:51] pq commented on #283
I'm guessing this is equally true for other disconnected devices?

[2016-10-19 12:51] mit-mit commented on #328
We found a resolution: Mikkel was using IJ 2016.1. After upgrading to 2016.2 the problem went away.

[2016-10-19 12:58] pq commented on #328
The best kind of resolution. 👍

Thanks!

[2016-10-19 12:59] mit-mit opened #330 "Device picker is missing"
After upgrading to 0.1.1, I no longer see the device picker:
![screen shot 2016-10-19 at 14 53 53](https://cloud.githubusercontent.com/assets/13644170/19519522/ac753834-960c-11e6-974a-d2bf4e0b07eb.png)

[2016-10-19 13:00] mit-mit commented on #330
Environment info:

[code]

[2016-10-19 13:01] mit-mit commented on #328
Should we be testing for the IJ versioning and prompt the user to upgrade?

[2016-10-19 13:04] pq commented on #330
Out of curiosity, do you see it if you open the "toolbar" view?

<img width="359" alt="screen shot 2016-10-19 at 6 04 33 am" src="https://cloud.githubusercontent.com/assets/67586/19519690/ea36d312-95c1-11e6-81b7-fda3ae4c016a.png">

[2016-10-19 13:06] mit-mit commented on #330
Yup, if I toggle that 'on' I see it. If I toggle it to 'off' I also still see it, but after a restart of IJ it's gone again.

[2016-10-19 13:14] pq commented on #330
Hmmmm.  I'm wondering if there isn't a condition where I can't reliably query the action for it's associated project.  (Possibly a race condition?)

cc @alexander-doroshko

In the meantime, for local development, a work-around is to comment out lines 84-89 in `DeviceSelectorAction`.  I'll get this fixed pronto.

[2016-10-19 13:15] alexander-doroshko commented on #328
Just add `<idea-version since-build="xxx" until-build="xxx"/>` to `plugin.xml` or make sure Gradle build adds it if the plugin is built with gradle.
For example to target the latest 2016.2.5 use:
[code]
Or if any 2016.2.x is ok then just:
[code]

In flutter-plugin branch that targets 2016.3 use this or more specific `since`:
[code]

I wouldn't recommend to create plugin builds that target multiple

[2016-10-19 13:15] stevemessick commented on #283
I just tried to repro this and failed. Both my Nexus 5X and iOS Simulator were automatically removed from the list when they were no longer available.

[2016-10-19 13:16] pq commented on #328
Thanks @alexander-doroshko !

PR on the way... :)

[2016-10-19 13:21] stevemessick commented on #283
I think we can close this. The daemon management architecture had a huge operational change a few days ago (https://github.com/flutter/flutter-intellij/pull/306). My guess is this problem arose after the device polling daemon got stopped when it should not have, and that is less likely to happen now that every job has its own daemon.

[2016-10-19 13:22] pq commented on #328
https://github.com/flutter/flutter-intellij/pull/331 👍

[2016-10-19 13:23] pq commented on #283
Awesome!  Let's reopen if we see it again.

[2016-10-19 13:23] #283 closed

[2016-10-19 13:27] stevemessick commented on #289
We can close this one. The problem will no longer appear after https://github.com/flutter/flutter/issues/6280 is fixed.

[2016-10-19 13:28] mit-mit opened #332 "update the enablement of the restart buttons (was: crash while restarting)"
Repro steps:
1. Open some Flutter app in IntelliJ
2. Start debugging
3. Once the app has started, click the 'restart' button fast 5-10 times in a row

Result:

This crash:

[code]

[2016-10-19 13:30] alexander-doroshko commented on #330
In `update()` you have `setVisible(false)` somewhere but nowhere `setVisible(true)`, so once hidden it won't appear ever. Make sure that each logical branch in `update()` is sufficient.

[2016-10-19 13:32] mit-mit commented on #289
Yup

[2016-10-19 13:32] #289 closed

[2016-10-19 13:34] pq commented on #330
Yep, just caught that misstep. Thanks!

[2016-10-19 13:36] stevemessick commented on #332
Is this really something that needs to be in the 0.1 milestone?

[2016-10-19 13:38] stevemessick commented on #332
Do you mean the `Full Application Restart` button? When I click that one several times I do not see this problem (but I do get another, so it needs work).

[2016-10-19 13:42] mit-mit opened #334 "Missing console output when doing a Restart"
Repro steps:
1. Open some flutter app in IJ
2. Start a debugging session
3. Press hot reload button

Actual and expected: A small status update (`Reloaded 1 of ...`) is printed in the console.
1. Press restart ('Full Application Restart') button

Expected: A similar status update (`Restart performed in xxx ms.`) is printed
Actual: Nothing at all is printed to the console

[2016-10-19 13:42] mit-mit commented on #334
Tagging 0.1 as this is what lead me to #332

[2016-10-19 13:45] mit-mit commented on #332
Yes, I mean 'Full application restart'. Sometimes I need to click many times. But sometimes just two clicks with like half a second in between hits this. I seem to hit it more often when using a physical Android device than when using the iOS simulator.

After that the only remedy is to restart IJ, so pretty severe.

[2016-10-19 14:54] mit-mit opened #335 "Default keyboard shortcuts don't work"
Our default keybindings for hot reload and restart don't seem to work well:

_On macOS 10.11.6:_
- Hot reload:
  - Defaults to `cmd-F5`.
  - This launches the Mac 'VoiceOver' app for me.
- Restart:
  - Defaults to `cmd-shift-F5`.
  - This works.

**On Linux:**
- Hot reload:
  - Defaults to `ctrl-F5`.
  - Doesn't do anything at all
- Restart:
  - Defaults to `ctrl-shift-F5`.
  - Doesn't do anything

[2016-10-19 14:55] mit-mit commented on #335
Suggestions for new keys. These work for me on both macOS and Linux:

* Hot reload:
  * Bind to `alt-r`.
* Restart:
  * Bind to `alt-e` (as in rEstart, also conveniently right next to `r`).

[2016-10-19 14:58] mit-mit commented on #335
I am wondering if we go with `r` and `e`, would we then also change the shortcuts in `flutter run`. CC @johnmccutchan

[2016-10-19 15:12] alexander-doroshko commented on #335
Hint: when looking for a vacant shortcut you can open IntelliJ IDEA Ultimate (with all plugins enabled), go to Preferences | Keymap and click 'Find Actions by Shortcut' button. It won't guarantee absence of conflicts with other Keymaps, other OSes and other plugins, but still may help to catch some conflicts.

[2016-10-19 15:27] eseidelGoogle opened #336 "Newly created flutter project shows broken pub banner"
I suspect this will be fixed by https://github.com/flutter/flutter-intellij/issues/271, but in case not I'm filing here.

I'm not even sure the banner is needed, but it shows up and then the buttons don't actually do what you want.
<img width="732" alt="screen shot 2016-10-19 at 8 24 31 am" src="https://cloud.githubusercontent.com/assets/11857803/19525450/cfb2d234-95d5-11e6-9d30-b05063a3fdda.png">

[2016-10-19 15:27] #330 closed

[2016-10-19 15:29] eseidelGoogle opened #337 "Device selector does not appear for newly created project"
I'm testing the create/first-run flow in IntelliJ, and I don't seem to get a device popup for my newly created project.

![screen shot 2016-10-19 at 8 28 12 am](https://cloud.githubusercontent.com/assets/11857803/19525542/1f133792-95d6-11e6-8409-ca86469a8127.png)

I don't have any devices connected or simulators.

[code]

[2016-10-19 15:30] eseidelGoogle commented on #337
Maybe the device selector has just been removed.  I launched a simulator and then turned the debug button green and seems to know how to run things on it. :)

[2016-10-19 15:31] mit-mit commented on #233
I updated the first entry in this bug to contain a checklist of all the changes I plan on making over the next two days. @devoncarew @pq @stevemessick @sethladd please review and see if you think I am missing something!

[2016-10-19 15:34] pq opened #338 "Update change-notes (for 0.1.1 and 0.1.2)."
I'd like to see us get into a habit of doing this in general.

[2016-10-19 15:35] stevemessick commented on #233
No obvious omissions from my perspective.

[2016-10-19 15:36] pq commented on #338
Should we include issue numbers where appropriate?  I generally do this but curious what you all think.

/cc @mit-mit @devoncarew @stevemessick

[2016-10-19 15:38] mit-mit commented on #335
@alexander-doroshko great tip, thanks. Just checked and the ones I proposed look free. Actually, doesn't look like alt is used much for shortcuts. Is there a reason to avoid using it?

[2016-10-19 15:38] pq commented on #233
LGTM!

[2016-10-19 15:44] sethladd commented on #233
Added a few items. Good list!

[2016-10-19 15:50] alexander-doroshko commented on #335
I've heard that Mac OS X by default handles Alt+Letter itself and doesn't delegate keypress to the app.

[2016-10-19 15:56] #338 closed

[2016-10-19 16:02] pq commented on #338
As a point of reference, here's what the `0.1.2` update looks like in the IDE:

![screen shot 2016-10-19 at 9 01 34 am](https://cloud.githubusercontent.com/assets/67586/19526843/a063170a-95da-11e6-9f5b-4ce2d6d5ed0d.png)

[2016-10-19 16:05] pq commented on #337
Not removed!  Just suppressed by mistake (#330).  Fixed plugin now available for your enjoyment.  Update and all should be well! 👍

[2016-10-19 16:05] #337 closed

[2016-10-19 16:08] pq commented on #336
Right.  There are (at least) two issues:

1. the pub banner shows even though we've run pub behind the scenes in `flutter create` --- maybe @alexander-doroshko can chime in on what we might do here...
1. `pub get` doesn't do the right thing for Flutter w/o some massaging --- as you note, this is fixed with #271 and will work as soon as a new Dart plugin is pushed

Thanks!

[2016-10-19 16:10] pq commented on #334
@stevemessick : is this on our side or is there a missing notification from the daemon?

[2016-10-19 16:15] alexander-doroshko commented on #336
1. Banner is shown if there's no `.packages` file near `pubspec.yaml` or if `.packages` file is older than pubspec.
1. I guess you want me to cherry-pick that fix to 162 branch and update the Dart plugin?

[2016-10-19 16:22] pq commented on #336
Ah.  That makes sense.  What's odd is that I can repro this with a project that looks like this:

[code]
I would expect this to be OK since `pubspec.yaml` is older than `.packages`?

If possible that would be awesome!

[2016-10-19 16:25] devoncarew commented on #338
+1 to release notes - a very nice feature for users when they see there's a new update

I'm not sure they add value, over just having a concise description of the user facing change

[2016-10-19 16:25] stevemessick commented on #233
I just ran into a problem that should not affect many people, but might be worth mentioning.

With the latest version you cannot continue working on a project that was created with an earlier version of the Flutter plugin. The problem is that we only recently started marking Flutter projects with a module type and old projects do not have that. The solution is to create a new project pointing to t

[2016-10-19 16:25] pq commented on #336
_(Edited my previous comment for correctness.)_

@eseidelGoogle : could you confirm that there's a `.packages` file next to your pubspec and that it's indeed newer?

[2016-10-19 16:31] devoncarew commented on #244
Will take this, and ensure that other team members can also do the publishing.

[2016-10-19 16:33] pq opened #341 "Support for adding Flutter Module Type to existing projects."
From #233, @stevemessick notes:

FWIW, the Dart plugin supports this in it's preference page.

<img width="789" alt="screen shot 2016-10-19 at 9 32 29 am" src="https://cloud.githubusercontent.com/assets/67586/19527949/f40d56aa-95de-11e6-9f06-6e7fcae7c463.png">

Depending on how we settle #329, we might consider doing something similar.

/cc @alexander-doroshko

[2016-10-19 16:34] pq commented on #233
Tracking bug filed: #341

[2016-10-19 16:41] stevemessick opened #342 "Make Observatory wait time configurable"
The amount of time allowed by the plugin to establish communication with the Observatory keeps growing. It started at 10s and almost immediately jumped to 30s. Then it changed to 60s and is now 90s. That suggests to me that it needs to be configurable by the user. We could add a place in the preference page to adjust it.

[2016-10-19 16:49] stevemessick commented on #335
Confirming what Alex said:

I just test alt-r by binding it to Move Caret Backward a Paragraph and that seems to work. (Restart is currently broken in my dev env or I would have tested with that.)

It does not work with alt-e though. That inserts the acute accent prior to performing the keybinding action.

Using alt-anything on Mac may be confusing to people who are accustomed to typing in languag

[2016-10-19 16:50] alexander-doroshko commented on #342
Instead of a configurable setting IDE could wait for connection for a very long time showing some cancelable progress to the user. This way user understands what is going on, has control on the process and doesn't have to think about 'What is this option a about and what should I set it to'.

[2016-10-19 16:53] eseidelGoogle commented on #336
@pq I'm not sure what you're asking for?  This is the list from the project I filed this from, but it's been run, etc. since so I'm sure the timestamps are no longer useful to you.  You can just follow the "create a project" flow in intellij to test yourself.

[code]

[2016-10-19 16:59] stevemessick commented on #342
I have seem a modal progress indicator that would work, except that it is modal. Is there a non-modal one as well? If so, that sounds even better than an obscure preference setting.

[2016-10-19 16:59] pq commented on #336
Thanks @eseidelGoogle.  This is actually what I was asking for.  I did the flow locally, had similar timestamps but did _not_ see the broken pub banner (but have in the past).  Investigating further...

[2016-10-19 16:59] alexander-doroshko commented on #341
Dart support doesn't care about module type, so nothing in common here with Flutter unless you decide to get rid of Flutter module type for some reason.
Flutter is closer to Go plugin in this regard. See [WrongModuleTypeNotificationProvider](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/671943ad70ec7f1c4e2b59662cdb06d84f81cf1c/src/com/goide/inspections/WrongModuleTypeNotificationP

[2016-10-19 17:02] pq commented on #336
@alexander-doroshko : looking at the where this error is created, I wonder if the issue isn't that we're creating the file in a separate process and need to do a file system refresh to pick it up?

In other words,  maybe the `findChild(...)` call here

[code]

should be replaced with a call to `LocalFileSystem.getInstance().refreshAndFindFileByPath(...)`?

[2016-10-19 17:07] pq commented on #341
Sorry, wasn't clear...  What I mean is that the Dart plugin, in Preferences, provides a means to add Dart support to existing projects.

Having said that, I like Go's solution.  An inspection would be perfect here actually.

Thanks! 👍

[2016-10-19 17:07] alexander-doroshko commented on #336
Yes, it looks like a race. Refresh may not help as file may be open in editor when .packages is not created yet. To avoid race after Dart project creation we have `DartPubActionBase.isInProgress()` check but it doesn't work for Flutter. Need to think more.

[2016-10-19 17:11] alexander-doroshko commented on #341
Sorry for not being clear, I meant that there can be nothing in common in the implementation of 'Enable support' feature (regardless of #329), because it is not possible to change module type on the fly, you need to reload project.

[2016-10-19 17:14] pq commented on #341
Great clarification.  Thanks!  Unfortunate that a restart is required but I still think it's very much the right approach.  In particular, I'd like to take your cue from Go and add an inspection that asks the user if they want to "Enable Flutter support", when a project is detected that

  * does not already have the Flutter module type, and
  * looks Fluttery which I take to be:
    * having a `f

[2016-10-19 17:16] pq commented on #336
Great.  Thanks for giving this thought!

[2016-10-19 17:19] devoncarew commented on #342
It seems like we could wait a long time, and the user could use the 'stop' debugger/process button if things weren't progressing?

[2016-10-19 17:25] alexander-doroshko commented on #342
It can be a modal progress, non-modal progress, some spinner right in the Debug tool window or simply a text (I think 'Trying to connect the Dart VM' is already showing). Yes, Stop button is there and I hope it works.

[2016-10-19 20:48] stevemessick commented on #334
This is working as designed. There is no console output from the daemon for a Restart. Doing a Hot Reload will print a line displaying the number of libraries that got reloaded. Eventually, it also displays how much time the reload took, but currently that's kinda broken -- it isn't emitted until after the next event and so the reload times are quite ludicrously long. See https://github.com/flutte

[2016-10-19 20:51] stevemessick commented on #327
If you run a flutter app from the console you can open the observatory from the link printed to the console. We just need to change it so the URI isn't computed until after flutter has gotten connected. This should be a lot simpler that what we had to do to get the debugger connected.

[2016-10-19 21:39] pq commented on #328
As an experiment, I created constraints I couldn't satisfy and tried to install locally and was greeted with this dialog.

![screen shot 2016-10-19 at 2 36 52 pm](https://cloud.githubusercontent.com/assets/67586/19538616/be450c68-9609-11e6-9b16-4fe63c33aacf.png)

@alexander-doroshko : do you know how this looks when you try and install from a plugin repository?  Is there anything we can do to impr

[2016-10-19 22:04] eseidelGoogle opened #344 "Hot reload command gives confusing error during "run" session instead of "debug" session"
"No flutter app currently running".

Well, there is one, I just started it with the "debug" button instead of the "run" button.

![screen shot 2016-10-19 at 3 03 23 pm](https://cloud.githubusercontent.com/assets/11857803/19539260/4cfba8f6-960d-11e6-8293-992f38f6d00c.png)

[2016-10-19 22:34] stevemessick commented on #332
I have code to fix this mostly written but I can't commit it until https://github.com/flutter/flutter/issues/6400 is fixed. See https://github.com/flutter/flutter-intellij/tree/enablement. I still need to tune the code that detects when to enable the buttons, and that depends on getting 6400 fixed.

I did see this sort of crash occur. I was able to recover by stopping the flutter app and restartin

[2016-10-19 22:44] eseidelGoogle opened #345 "IntelliJ doesn't seem to think a `flutter create` project is a flutter project"
@pq  says he has a plan to fix this.

[code]

![screen shot 2016-10-19 at 3 43 45 pm](https://cloud.githubusercontent.com/assets/11857803/19540255/ecf5adde-9612-11e6-80d4-081c78a45929.png)

[2016-10-20 00:13] pq commented on #334
@mit-mit : what do you think?

[2016-10-20 03:07] eseidelGoogle opened #346 "Inline docs do not seem to understand dartdoc?"
https://www.jetbrains.com/help/idea/2016.2/viewing-inline-documentation.html

![screen shot 2016-10-19 at 8 07 27 pm](https://cloud.githubusercontent.com/assets/11857803/19544997/ae419ae2-9637-11e6-9bf9-392058824dec.png)

Not sure if it's possible to.

[2016-10-20 03:09] eseidelGoogle opened #347 "External documentation takes you to Dart API docs instead of docs.flutter.io"
https://www.jetbrains.com/help/idea/2016.2/viewing-external-documentation.html

For example, shift-f1 on FlutterLogoDecoration takes you to:

https://api.dartlang.org/stable/1.20.1/index.html#id_FlutterLogoDecoration

[2016-10-20 05:24] mit-mit commented on #334
Sounds like this would be a pretty easy fix in the daemon? If not, lets as the artificial message on our side.

[2016-10-20 05:39] InMatrix commented on #347
This is the same issue as #290.

[2016-10-20 05:42] devoncarew commented on #346
Perhaps only supported for javadoc? @alexander-doroshko

[2016-10-20 05:48] devoncarew commented on #347
Closing as a dup.

[2016-10-20 05:48] #347 closed

[2016-10-20 08:14] mit-mit commented on #334
One additional inconsistency: If you to both reload and starts when not debugging (which is possible using keyboard shortcuts), then you get a message saying the app is not running *only* for reload. I find that odd, as this message is coming from the plugin, not the daemon:

[RestartFlutterAppKeyAction.java](https://github.com/flutter/flutter-intellij/blob/c943c8248808967d4b3c01b978c0677caf39bbc3

[2016-10-20 08:46] mit-mit commented on #335
OK, new suggestions. Confirmed that these work on both macOS and Linux:

* Hot reload:
  * macOS: `ctrl-z`.
  * Linux: `alt-z`.
* Restart:
  * macOS: `ctrl-shift-z`.
  * Linux: `alt-shift-z`.

Perhaps not the most natural letter, but there are almost no unbound keys left on cmd and ctrl.

[2016-10-20 09:29] mit-mit commented on #327
Sounds good!

[2016-10-20 09:33] mit-mit commented on #271
I think that tag approach will be fine.

On Wed, Oct 19, 2016 at 2:30 PM, Phil Quitslund <notifications@github.com>
wrote:

[2016-10-20 09:53] alexander-doroshko commented on #328
You wan't be able to install incompatible plugin from the plugin repository.

[2016-10-20 11:03] lukechurch opened #348 "Git branch switching doesn't invalidate the code in the analysis server"
This may be in the dart plugin more generally - feel free to move.

I had a project with an old reference '../lib/run_command_new.dart'. I fixed that elsewhere, and have switched to the branch with the fix (the import is now 'run_command_new.dart' which is correct.)

However the state in IJ is stale. The error is still reported in the status bar, and a location is highlighted that doesn't make sen

[2016-10-20 11:16] lukechurch opened #349 "Stop button appears to hang UI"
- Start a minimal flutter app using the iOS simulator
- Press stop

The stop button appears depressed for multiple seconds before the UI responds, giving the appearance that the UI has hung.

[2016-10-20 11:20] lukechurch opened #350 "Flutter plugin contributes targets for dart projects"
See the below (complete with typo):

<img width="858" alt="screen shot 2016-10-20 at 12 17 42" src="https://cloud.githubusercontent.com/assets/2978182/19557790/4a282804-96bf-11e6-94f3-a48b3ddf63b0.png">

This implies that pressing the run button will run 'main.dart' (a normal dart project) on a iPhone. However what actually happens is that it launches it as a normal command line app.

Consider rem

[2016-10-20 12:06] lukechurch opened #351 "After a crash the run button no longer works"
Please see:

<img width="1788" alt="screen shot 2016-10-20 at 13 05 11" src="https://cloud.githubusercontent.com/assets/2978182/19559072/e54c8324-96c5-11e6-97b3-a6f52e0f4a6f.png">

This circumstance is caused by running a flutter app, which then crashes due to a bug in the app.

Pressing the green run button at this point has no effect and gives no feedback. The only way to restart the app appears

[2016-10-20 12:21] pq commented on #328
That's what I would expect.  I'm just wondering if it tells you why.  More specifically, does it tell you that you need to upgrade your IDE version?

[2016-10-20 12:25] alexander-doroshko commented on #328
I think IDE shows only latest compatible plugins. I guess you won't see the plugin if there's no plugin build for your version. Try to make sure.

[2016-10-20 12:58] pq commented on #328
OK.  Thanks.  This is something we should investigate and weigh our options.

@mit-mit I'm curious if you have a feeling with respect to user experience.  Some options:

1. add a constraint to `plugin.xml` that ensures the plugin cannot be installed on a stale version of the IDE.  Pro: no inconsistencies like reported here; CON: poor discoverability --- if I try and install Flutter and don't see i

[2016-10-20 13:01] mit-mit commented on #328
Are we likely to often only support the very latest release of IJ, or is it a special case this first time around? If we will generally support a few releases back, then I am fine with the simple option 1.

[2016-10-20 13:08] pq commented on #328
My preference would be to support as wide a swath of compatible IDEs as possible but we'll see how that goes in practice.  In any event, I think we can safely opt for option 1 and then upgrade if needed.  Thanks!

[2016-10-20 13:17] pq commented on #345
Yep.  Tackling this in #341.

Thanks!

[2016-10-20 13:17] #345 closed

[2016-10-20 13:18] pq commented on #344
cc @stevemessick

[2016-10-20 13:19] pq commented on #348
cc @alexander-doroshko

[2016-10-20 13:19] pq commented on #349
cc @stevemessick

[2016-10-20 13:23] pq commented on #350
Thanks Luke!

Did you have any Flutter apps/projects open when this happened?  The device selector should only appear when a Flutter Module is open so if that's not the case, it's a bug.  That said, it may be confusing even on a good day.

We've talked, in general, about a desire to improve our UI around running and debugging and this comment fits right in.  Perhaps something we can kick around wh

[2016-10-20 13:24] pq commented on #351
Good catch.  Thanks Luke!

cc @stevemessick

[2016-10-20 13:32] lukechurch commented on #350
np!

I had Flutter apps open in other windows, but not in that one (I have IntelliJ configured to show each project in a new window). Full window screenshot attached

<img width="1144" alt="screen shot 2016-10-20 at 14 31 40" src="https://cloud.githubusercontent.com/assets/2978182/19561819/fca0e5b8-96d1-11e6-9423-72e3308fb3d2.png">

[2016-10-20 13:33] stevemessick commented on #350
@lukechurch Which version of the flutter plugin did you have installed?

[2016-10-20 13:36] stevemessick commented on #349
@lukechurch Which version of the flutter plugin are you using? How far along had the flutter process gotten before you clicked Stop? More specifically, did flutter print "Application running" to the console or was it still initializing?

[2016-10-20 13:37] lukechurch commented on #350
@stevemessick I think 0.1.

Is there an easy way of me getting you the answer to that? The version details in the flutter plugin config doesn't seem to list the version of the plugin.

[2016-10-20 13:42] pq commented on #350
An update wouldn't hurt.

<img width="219" alt="screen shot 2016-10-20 at 6 41 50 am" src="https://cloud.githubusercontent.com/assets/67586/19562191/41075706-9690-11e6-813b-9ae12e5e0a25.png">

`0.1.2` is a wee bit better though I think you'll see this same behavior.

[2016-10-20 13:43] lukechurch commented on #349
I was running 0.1 when this occurred. yes, the app was running before I hit stop.

I've now updated to 0.1.2 - the stop button now appears to be immediate :) however the app doesn't appear to stop, it just keeps running.

[2016-10-20 13:46] lukechurch opened #352 "Command to make bug reporting easier"
@pq @devoncarew @mit-mit

The Atom plugin's single command to file issue on GitHub was very much appreciated. Esp. now there are many different version numbers in play (IntelliJ, dart, flutter, dart plugin, flutter plugin, OS). It would really help if we could have a one button or hot key to create a new issue auto populated with version details.

[2016-10-20 13:47] mit-mit commented on #352
Tagging for potentially including in 0.2

[2016-10-20 13:47] lukechurch commented on #350
@pq Yup, now updated, thanks. FWIW, I didn't know there was an update available until I went to find the version in preferences. I'm sure the UI was telling me somewhere, but I didn't notice it. In the early days when we're cycling the plugin quickly we might want to make it a bit louder.

[2016-10-20 13:49] stevemessick commented on #344
@eseidelGoogle I'm having trouble understanding what's going on here, but let me make a guess. You started the app with the debug button, clicked the Hot Reload or Restart button before the app was fully initialized, then restarted the app using the Run button. The screen shot shows the app running via Run (there's a little green dot on the Run button). But there was this annoying flashy thing in

[2016-10-20 13:51] mit-mit commented on #350
I get a pretty "loud" prompt in the lower, left corner whenever there is an update. But I have heard of others that also don't get that.

@alexander-doroshko can you elaborate on how the update prompting works in IJ?

[2016-10-20 13:54] pq commented on #350
At a minimum you want update checking on in your preferences...

![screen shot 2016-10-20 at 6 53 10 am](https://cloud.githubusercontent.com/assets/67586/19562624/dbb0dcea-9691-11e6-8149-fa03da94b936.png)

But besides that, I'd love to know if there's more that can be done.

[2016-10-20 13:55] lukechurch commented on #350
<img width="663" alt="screen shot 2016-10-20 at 14 54 59" src="https://cloud.githubusercontent.com/assets/2978182/19562704/38445f5c-96d5-11e6-8390-138e36e65883.png">

I don't know why it's 'never'.

[2016-10-20 13:56] pq commented on #350
Ok, well, that's not good!  Curious if @alexander-doroshko has ideas...

[2016-10-20 13:58] pq commented on #350
PS: dude, how can you not be using the darcula theme.  I mean all the kids are into black these days!

[2016-10-20 14:19] johnmccutchan commented on #335
ctrl-z is "undo"

[2016-10-20 14:20] mit-mit commented on #335
Not on a mac; it uses `cmd-z`.

[2016-10-20 14:24] alexander-doroshko commented on #328
Not sure I understand the problem that you try to solve. There are no options actually. You publish only working and tested plugin builds with appropriate `since-build` in each. You do not publish incompatible plugins for older IDE versions just to make people think that you support it.

P.S. Issue title says 'exception' but no exception pasted, only a thread dump. Nevermind.

[2016-10-20 14:41] eseidelGoogle commented on #344
My understanding was that I just did:
1.  Clicked Run button.
2.  command-R (my binding for hot reload)
3.  Saw error message.

I don't know if I had accidentally started a debug session before those.

[2016-10-20 14:44] mit-mit commented on #233
flutter.io updates drafted, please review! https://github.com/flutter/website/pull/290

[2016-10-20 14:44] stevemessick commented on #344
Thanks. The keybindings should be disabled when not applicable. Reload and restart are only usable when the app is started in debug mode. @pq

[2016-10-20 14:46] alexander-doroshko commented on #348
Definitely not a flutter-plugin issue. Might be Dart plugin, but most likely a server issue. 'Reanalyze' in the Dart Analysis tool window should help.
A reliable reproducible case is needed to process the issue.

[2016-10-20 14:53] alexander-doroshko commented on #350
someone has to test that you do not [hardcode Darcula-specific colors](https://github.com/flutter/flutter-intellij/pull/343/commits/623680a8b801d77e54ac2f6e07dcef3a90a66cea)! :)

No idea why Never checked for updates for Luke. Someone need to browse that piece of code in IntelliJ Community sources.

[2016-10-20 14:57] alexander-doroshko commented on #335
But you are going to add shortcuts to all keymaps, so with Ctrl+Z you may disable Undo action for Linux and Windows users.

[2016-10-20 14:59] stevemessick commented on #349
That's a bug in the daemon: https://github.com/flutter/flutter/issues/6208

I think we can close this one.

[2016-10-20 15:03] mit-mit commented on #335
I don't understand, are the keymaps not platform specific? I see lots of
keys being different across the two (e.g., the one for Debug)

On Thu, Oct 20, 2016 at 4:57 PM, Alexander Doroshko <
notifications@github.com> wrote:

[2016-10-20 15:09] alexander-doroshko commented on #335
They are if plugin developer cares about it :)
Your current code in `plugin.xml` [contributes the same shortcut to all keymaps](https://github.com/flutter/flutter-intellij/blob/master/resources/META-INF/plugin.xml#L45).

[2016-10-20 15:11] alexander-doroshko commented on #335
And on Windows/Linux Keymap choice is much bigger:
![image](https://cloud.githubusercontent.com/assets/4499789/19565724/8ddc58e6-96f0-11e6-8faf-0d7c74332ff6.png)

[2016-10-20 15:36] pq commented on #349
Assigning to @mit-mit to capture in known issues before closing.

[2016-10-20 15:38] pq commented on #350
FYI @devoncarew --- I may have done this but I know you were in there too.

[2016-10-20 15:39] pq commented on #348
cc @scheglov who I think tackled something similar a while back.

[2016-10-20 16:24] stevemessick commented on #230
I made some progress on this, since it would also solve #332 and #334. See https://github.com/flutter/flutter-intellij/tree/enablement

It is blocked on flutter #6400.

[2016-10-20 16:43] devoncarew commented on #350
All I can say is, Darcula is awesome!

@lukechurch with the latest plugin we should just show the pulldown for projects with flutter apps in them. OK to close this issue?

[2016-10-20 17:06] #328 closed

[2016-10-20 17:09] pq commented on #233
Awesome.

Make @sethladd and @qchong happy and it works for me!

[2016-10-20 17:32] stevemessick commented on #327
What I wrote above is misleading. `flutter run` launches the app in debug mode and the observatory is available. `flutter run --release` launches in release mode and there is no observatory. The IDE's Run button launches in release mode so we should not even have a button on the UI for the observatory.

The caveat is that for some targets, like simulators, there is no release mode, per se. It alwa

[2016-10-20 17:39] jwren commented on #328
@mit-mit
External devs should be nudged to move over to 2016.2.x

2016.1.1 did have the security bug (https://blog.jetbrains.com/idea/2016/05/important-security-update-for-intellij-idea-2016-1-and-older-versions/)- best to move everyone over to 2016.2 proper.

[2016-10-20 17:42] stevemessick commented on #351
@lukechurch I'm unable to reproduce this. Probably because "crash" is not well-defined. Can you give me more specific instructions?

[2016-10-20 17:48] lukechurch commented on #351
@stevemessick The setup is somewhat complicated. If it doesn't reproduce easily for you, let me see first of all whether it reproduces on 0.1.2.

[2016-10-20 18:50] alexander-doroshko commented on #329
https://github.com/flutter/flutter-intellij/pull/355

[2016-10-20 19:37] stevemessick commented on #349
Actually, this is intended behavior. Once the flutter daemon (or flutter tool) starts an app in release mode (i.e. Run button launch) then it is done with the app. It cannot stop it.

What we really should do here is disable the Stop and Pause buttons (along with Hot Reload, Restart, Observatory).

@mit-mit There are a few known issues regarding buttons and keystrokes that should be disabled but a

[2016-10-20 19:38] stevemessick commented on #349
@devoncarew Anything to add?

[2016-10-20 19:40] stevemessick commented on #334
Blocked on flutter/flutter#6400

[2016-10-20 21:07] #341 closed

[2016-10-21 05:48] lukechurch opened #358 "Code pane shows a lot of extra issues on parser problem not in the errors view"
Plugin 0.1.2

To reproduce:

Create new app using sample. Delete the last ")" on line 39, making it:

[code]

Here the errors and warnings displays the correct "Expected to find )" message.

However the editor pane contains an additional 15 red squiggles that are not shown in the errors and warnings pane.

<img width="529" alt="screen shot 2016-10-21 at 06 41 32" src="https://cloud.githubuserconte

[2016-10-21 05:55] lukechurch opened #359 "Problematic error recovery on missing expression in field access"
Plugin 0.1.2

PLMK if you would prefer this to be refiled in the Dart SDK repo.

<img width="1383" alt="screen shot 2016-10-21 at 06 52 47" src="https://cloud.githubusercontent.com/assets/2978182/19588074/13a9444c-975b-11e6-829e-5897defd854a.png">

A missing expression in the map access causes 24 parse errors to be listed in the problems view. This masks the useful warning 'WARNING: The argument t

[2016-10-21 06:00] lukechurch commented on #350
@devoncarew: Yup, just tested on 0.1.2, this seems fixed. Thanks!

![image](https://cloud.githubusercontent.com/assets/2978182/19588187/fde0e56a-975b-11e6-8471-e62b69a89d08.png)

@pq Happy with my aesthetics now? :)

[2016-10-21 06:00] #350 closed

[2016-10-21 06:02] lukechurch commented on #349
@stevemessick

If we do that, can we make the hover text explain why? I.e. that if the developer wants these functions, they should launch in dev mode?

[2016-10-21 06:09] lukechurch commented on #351
This no longer reproduces on 0.1.2. Apologies for the noise.

[2016-10-21 06:09] #351 closed

[2016-10-21 11:53] pq commented on #350
Much! :dancing_men:

[2016-10-21 12:19] mit-mit commented on #230
@stevemessick and @johnmccutchan can you please sync on this today, Friday? Even if we cannot resolve this by early next week for 0.1, I think we really need this fixed in 0.2.

[2016-10-21 12:42] pq opened #360 "Tidy up wiki docs."
The wiki docs are a bit stale in parts.   We should refresh them and redirect elsewhere where appropriate --- in particular, to the external docs as they come online (#233).

[2016-10-21 12:49] pq commented on #359
I think this probably should be tracked on the analyzer proper (or Dart Plugin) but it doesn't seem out of line to track it here too since it's very much user-impacting.

To know where it should be fixed, we need to suss out what parser (analyzer or IntelliJ) could do better recovery.

cc @bwilkerson @alexander-doroshko for context on parser errors...

[2016-10-21 12:51] pq commented on #358
cc @alexander-doroshko

I think this is coming from the Dart Plugin's parser?

[2016-10-21 13:00] alexander-doroshko commented on #358
Yes, it is Dart plugin's parser. Doesn't look like a big (or any) problem to me. It's clear that there are syntax errors that must be fixed.

[2016-10-21 13:02] alexander-doroshko commented on #359
Problems listed in the Dart Analysis tool window come from the Analysis Server, not from Dart plugin's parser.

[2016-10-21 13:04] pq commented on #349
👍

[2016-10-21 13:08] pq commented on #358
Thanks for the confirmation.  I'll leave it to @lukechurch to chime in on how much of a problem it is but it seems less than ideal to me.  Looking at the red squiggles it's not at all obvious what a user is supposed to do to fix the source and the hover is not terribly helpful.  In analyzer (cc @bwilkerson) a lot of care is taken to add error recovery to the parser so that good errors can be surfa

[2016-10-21 13:11] pq commented on #359
FWIW I've added a new `analyzer` label to tag issues that derive from analyzer.  I'm thinking there should be a corresponding bug on the SDK as well but will defer to @bwilkerson on how we wants to manage that.

[2016-10-21 13:13] alexander-doroshko commented on #358
Both recovery and better error messages are doable using Grammar-Kit. Something is easy, other things are rather complicated. Not sure how much time I can spend on it now.

[2016-10-21 13:16] pq commented on #358
Cool.  Let's be sure to spend some time with @lukechurch at the Summit so that he can motivate what matters and why.

[2016-10-21 13:54] lukechurch commented on #358
@alexander-doroshko @pq yeah - let's talk at the summit. This kind of thing does matter as it misguides users.

It's important (roughly in priority order)

- that the two views are consistent in what errors they report
- that the errors are reported as proximally to the location of the problem as possible (both systems could use some improvement here)
- that the errors have actionable messages for

[2016-10-21 13:58] alexander-doroshko commented on #358
@lukechurch From what you say it looks like we should simply disable reporting all parsing-related errors generated by the Dart plugin and leave only errors reported by the Analysis Server, and this way all responsibility goes to its side. Well, may be it makes sense.

[2016-10-21 14:21] lukechurch commented on #358
That sounds like a great idea to me.

Anyone have any data on the downsides of doing so?

[2016-10-21 14:24] danrubel commented on #358
+1

The only downside I see is communication latency with the Analysis Server. That downside can be mitigated by having the Analysis Server prioritize returning syntax errors for the priority sources before anything else.

[2016-10-21 14:24] bwilkerson commented on #358
Does the plugin's parser find errors that server should be finding and reporting, but isn't, or is it essentially equivalent and/or a subset, but just reporting things differently? If it's the former, then we should fix the bugs in server.

[2016-10-21 14:36] alexander-doroshko commented on #358
In files that server processes and where it reports parser errors Dart plugin is not doing it better.

Dart plugin parser wins for cases not handled by the server, like:
- typing Dart code in Evaluate Expression field while debugging, or when adding a Watch expression
- typing Dart code in Log Evaluated Expression field of a breakpoint properties
- other cases of Dart code that is not in a file li

[2016-10-21 15:16] devoncarew opened #362 "Clarify run / debug behavior"
I'd like to clarify what we expect to happen with the run / debug behavior and how that maps to various flutter run modes.

IntelliJ has a run and a debug button.

flutter tools supports debug, profile, and release modes when running, and the debug mode itself supports running in hot and non-hot modes.

We currently map the IntelliJ debug button to the flutter run debug mode. This seems sensible.

[2016-10-21 15:20] devoncarew commented on #359
I'll bump this over to the sdk repo proper.

[2016-10-21 15:21] devoncarew commented on #359
This issue was moved to dart-lang/sdk#27646

[2016-10-21 15:22] #359 closed

[2016-10-21 15:44] stevemessick commented on #362
I think the purpose of the IntelliJ Run button is to get your application running in the same fashion as if it were deployed, regardless of which platform you are developing for. You want to see how well it performs when there is no debugging overhead. This mode is needed for final system testing. The fact that Flutter does not currently have a release mode for simulators is a deficiency they may

[2016-10-21 20:44] sethladd opened #364 "Flutter includes a Dart SDK, but IntelliJ is asking me to set a Dart SDK"
We shouldn't have to ask users to configure the Dart SDK if they have opened a Flutter project. The version of Flutter bundles/downloads a version of the Dart SDK. No further configuration should be required. Asking a user to further configure their IDE increases the chances of them using the wrong Dart SDK.

Here's a screenshot of my IDE, immediately after restarting after installing the Dart plu

[2016-10-21 20:44] pq opened #365 "Add notification to install Flutter when it's not"
If you open a Dart file, and the Dart plugin is not installed, you get a notification inviting you to install Dart.  We should do the same for Flutter when a Flutter Module is encountered but the Flutter plugin is not installed.

@alexander-doroshko: curious where this logic gets contributed?

[2016-10-21 20:48] sethladd commented on #364
Here is the screen where I'm supposed to set the Dart SDK. It would be fantastic if there was a "use the version from Flutter" so I don't have to hunt down wherever Flutter downloaded the Dart SDK

![screen shot 2016-10-21 at 1 47 11 pm](https://cloud.githubusercontent.com/assets/5479/19611121/0456dca4-9795-11e6-9329-f7095c38041c.png)

tldr: I don't know how to set this :(

[2016-10-21 20:56] alexander-doroshko commented on #365
JetBrains plugin repository is scanned for plugins that declare `FileType`s. Unfortunately not applicable for Flutter plugin.

[2016-10-21 20:59] pq commented on #365
Ah.  That makes sense.  I suppose we could add something to the Dart plugin if we really wanted but not sure how weird that would be (and would create a kind of bidirectional dependency besides).

[2016-10-21 21:01] alexander-doroshko commented on #364
According to the screenshot Flutter plugin is not installed. IDE has no idea where Flutter SDK is.

With my [pull request](https://github.com/flutter/flutter-intellij/pull/361) accepted user will have no chance to get empty 'Dart SDK path' in Dart page if Flutter SDK is set in Flutter page.
//cc @pq

[2016-10-21 21:13] sethladd commented on #364
Good call. I don't have the Flutter plugin installed. Not sure what to do about that. Maybe there's a search algorithm to find a Dart SDK?

[2016-10-21 21:16] pq commented on #364
@sethladd: if you have the Flutter plugin installed it will prompt you for a Flutter SDK location (e.g., repo root) and set the Dart SDK for you.  You should never have to go to the Dart preference page.  (In this case Dart is a detail of Flutter...)

[2016-10-21 21:16] pq commented on #364
`flutter doctor` should yell at you then right?

[2016-10-21 21:18] sethladd commented on #365
Yes! Was just going to file this issue. :)

[2016-10-21 21:19] devoncarew commented on #365
It's not commonly opened, but perhaps we could register for the flutter.yaml file?

[2016-10-21 21:20] sethladd opened #368 "Getting Started mentions a flutter_plugin.zip, where do I get that?"
I'm trying to install the Flutter plugin. I'm on https://github.com/flutter/flutter-intellij/wiki/Getting-Started but it doesn't seem to link me to where I can get the plugin?

Are there newer instructions?

Thanks!

[2016-10-21 21:21] sethladd commented on #368
cc @pq

[2016-10-21 21:24] sethladd commented on #368
Ah, I really want to look at https://github.com/flutter/flutter-intellij/blob/master/getting_started.md

Should we delete the Wiki page?

[2016-10-21 21:30] pq commented on #368
Yes! Nagged myself about this earlier: #360

Would that I'd gotten around to it already!

[2016-10-21 21:31] pq commented on #368
Deleted.

[2016-10-21 21:31] #368 closed

[2016-10-21 21:31] sethladd commented on #364
I just installed the Flutter plugin. I haven't been asked to set my Flutter SDK yet. The IDE is still telling me to set Dart SDK:

![screen shot 2016-10-21 at 2 30 46 pm](https://cloud.githubusercontent.com/assets/5479/19612392/1cbc9d5a-979b-11e6-85e0-33f73a3348d2.png)

[2016-10-21 21:33] pq commented on #364
Did you create a project or open an existing one?

[2016-10-21 21:34] sethladd commented on #364
Opened an existing project.

[2016-10-21 21:39] pq commented on #364
OK, that's what I'd expect.  To fix this, we'd need the Dart plugin to be smarter.

cc @alexander-doroshko

The flow I was describing starts with you:

1. installing the flutter plugin
1. creating a flutter project, wherein you are asked for an SDK location

Opening an existing project skips the second step and so the Dart plugin sees the Dart file and intervenes.

[2016-10-21 21:44] sethladd commented on #364
I did:

1) open an existing project
2) install the dart plugin (because IDE told me to)
3) install the flutter plugin (because @pq told me to :)

[2016-10-21 21:45] pq commented on #364
You forgot:

4) install darcula theme

[2016-10-21 21:48] pq commented on #364
but really, (1) should have prompted a different

2) install the **_Flutter plugin_** (because the IDE told me to)

[2016-10-21 22:01] pq commented on #360
Did some deleting.  Looks good enough for me for alpha.  We can re-open as specific needs arise.

[2016-10-21 22:01] #360 closed

[2016-10-21 23:19] devoncarew commented on #349
@stevemessick I'm working on a fix to allow the IDE to stop an app started in release mode. We should determine the best behavior for the run and debug buttons as well - I started an issue to discuss that. I also hope to make some progress on https://github.com/flutter/flutter/issues/6400 as well, in terms of improving the events that flutter tools creates that an IDE could key off to know more ab

[2016-10-22 14:59] sethladd commented on #364
Yes, ideally, if a user opens a Flutter codebase in IntelliJ for the first time, they should be prompted to install the Flutter plugin. That would be great.

Can you look for flutter.yaml ?

[2016-10-22 15:01] sethladd commented on #365
Hm, so it's only triggered to prompt a plugin if the user opens a file? Bummer we can't prompt for a plugin when the user imports a new project.

Could we prompt for the Flutter plugin if they open a .dart file with an import to 'package:flutter' or 'dart:ui' ?

[2016-10-22 23:09] pq commented on #364
We have logic like that *in the Flutter plugin* that helps migrate projects that weren't created with the Flutter wizard to having the Flutter module type and so being treated as a Flutter project.  It would be awesome to embed similar logic in IntelliJ.

The logic that @alexander-doroshko described that you get from the platform I think would only kick in if `flutter.yaml` were opened and I don't

[2016-10-22 23:13] pq commented on #365
Ah!  I tried to answer this over on #364.  We totally could do something like that in the Dart plugin or maybe elsewhere?

@alexander-doroshko how does framework detection like Android work?  Can we do more than attach to an editor notification?

[2016-10-24 09:30] mit-mit opened #371 "Disable update prompts from Dart plugin"
As a Flutter developer, getting this is pretty confusing:
![screen shot 2016-10-24 at 11 29 57](https://cloud.githubusercontent.com/assets/13644170/19640487/38468a10-99dd-11e6-9e4f-decfd5fdccb6.png)

Given they get the Dart SDK via the Flutter SDK, we should see if we can configure the Dart plugin to not show this.

[2016-10-24 09:40] mit-mit commented on #362
It would be good to allow this to be configured via run configurations, but I feel the default *should* differentiate in the type of app they build. I think developers will find it really odd if running gives they an app in 'slow mode'. However, that would not work on simulators currently:
https://github.com/flutter/flutter/issues/6208

[2016-10-24 10:52] alexander-doroshko commented on #364
Looks like there are no ways to automatically get advertising of the Flutter plugin from the IntelliJ Platform.

[2016-10-24 12:12] alexander-doroshko commented on #365
No, just the presence of a file in a project is enough, but it won't work for Flutter, see below

'flutter.yaml' is a file name, not a file type, you can't register for it. There are no flutter-specific file types.

It is `FrameworkDetector` class + extension point. In theory it could be used instead of editor notification that suggests to change module type to flutter and reload project. But I'm

[2016-10-24 12:16] sethladd commented on #365
So if we have a .flutter file in the project, that would work? You need a unique file extension?

[2016-10-24 12:22] devoncarew commented on #365
Sounds like the user would need to open that file type.

All flutter projects should now be created with the correct IntelliJ metadata. This includes a module file with the flutter module type.

I wonder if we could extend the platform to let plugins register as handlers for specific module types? Then if could say something like "you've opened a flutter project; would you like to install the flut

[2016-10-24 12:23] sethladd commented on #365
ah, gotcha

Should we add that to the Gallery?

[2016-10-24 12:27] devoncarew commented on #365
It's there now, and for the hello_world app as well. It's the .iml file in the directory (on mobile, but I think that's the file extension).

[2016-10-24 12:31] alexander-doroshko commented on #365
Please do not implement dirty hacks like registering *.flutter file type :)

[2016-10-24 12:33] alexander-doroshko commented on #365
Your plugin already does  register module type. If user opens confgured Flutter project without Flutter plugin installed he gets a warning that FLUTTER_MODULE_TYPE is unknown.

[2016-10-24 12:44] pq commented on #365
Right but wouldn't it be even cooler if the platform said, "It looks like you're trying to edit a Flutter module but you don't have the Flutter plugin, would you like to install it?"

[2016-10-24 12:47] pq commented on #364
Thanks for confirming @alexander-doroshko.

From the other thread it sounds like the best we could do is add some awareness to the Dart plugin. Something to add to the general discussion around how these plugins should interact.

[2016-10-24 12:55] pq commented on #371
cc @alexander-doroshko

I've been thinking about this too.  In fact, we probably want to remove the update UI from the Dart plugin preferences when configured to use Flutter as well.

[2016-10-24 20:40] RdeWilde opened #372 "Plugin active in non-flutter project"
Great plugin.

I experienced a problem with this plugin though. I was not working on a flutter project, just some other dart project, but this plugin was freezing my instance somehow.

It kept moaning about an unauthorized device (which is my phone I am charging). I noticed it every 4 seconds or so in the logs;

[code]

I don't think the plugin needs to be active when there's no flutter enabled pr

[2016-10-24 21:15] pq commented on #372
Hey thanks for taking a look and for the report!  Spot on that the daemon shouldn't be started for non-Flutter apps.  We'll take a look.

/cc @stevemessick

[2016-10-25 18:27] yjbanov opened #373 "Code navigation from in bin/ is not working"
When I control + click on an import statement or a symbol in a file inside the `bin/` directory I get a red bubble saying "Cannot find declaration to go to".

[code]

Dart plugin version: 162.2485

flutter doctor:

[code]

Logging here because I'm using the Dart SDK bundled with Flutter.

[2016-10-25 18:28] mit-mit commented on #271
Was this fixed before or after the cutoff for the published 0.1.3? (Asking
as it still repros for me in 0.1.3)

On Fri, Oct 21, 2016 at 8:13 PM, stevemessick <notifications@github.com>
wrote:

[2016-10-25 18:36] mit-mit commented on #328
Yup, already covered in the new docs!

On Oct 20, 2016 19:39, "Jaime Wren" <notifications@github.com> wrote:

[2016-10-25 18:46] alexander-doroshko commented on #271
@mit-mit Make sure your Dart plugin version is 162.2485.

[2016-10-26 04:34] pq commented on #373
Is this in public flutter repo source?  (Can we easily set up a comparable project?)

[2016-10-26 06:30] mit-mit commented on #233
Completed

[2016-10-26 06:30] #233 closed

[2016-10-26 07:58] #312 closed

[2016-10-26 12:02] devoncarew opened #378 "update the plugin metadata to specify IntelliJ CE and Ultimate"
We should update the plugin metadata to specify that we support IntelliJ CE and Ultimate. Right now I believe we say that we support all IDE types.

[2016-10-26 12:12] devoncarew commented on #373
If this is in a package in the flutter repo, you have to open the individual packages in `//packages/` as separate IntelliJ modules. If you just open the entire repo in IntelliJ, there is an IntelliJ project and individual modules already defined.

[2016-10-26 13:35] pq commented on #378
👍

And while we're at it, we should update other bits too.  For example, look at [scala](https://plugins.jetbrains.com/plugin/1347?pr=idea):

<img width="370" alt="screen shot 2016-10-26 at 3 33 32 pm" src="https://cloud.githubusercontent.com/assets/67586/19727919/a82eb3e2-9b91-11e6-8cc1-7a42f037a51f.png">

Issues and website would be great for sure.

[2016-10-26 14:49] pq commented on #378
OK, so I think this is done?

I also added a few links:

<img width="307" alt="screen shot 2016-10-26 at 4 47 10 pm" src="https://cloud.githubusercontent.com/assets/67586/19730892/e9771ed4-9b9b-11e6-97ab-f23db33aac28.png">

(Docs point to `getting_started.md`.)

We could also inline some basic usage instructions and add a screenshot but I don't feel too strongly.

cc @devoncarew @mit-mit

[2016-10-26 15:14] mit-mit commented on #378
I would rather not inline usage instructions, too many duplicates to maintain.

[2016-10-26 15:15] pq commented on #378
SGTM.

[2016-10-26 15:48] pq commented on #378
On second thought, updated to point to the `README`.

@devoncarew : can we close this?  Looks like you've updated the IDEA platform details.

[2016-10-26 20:47] yjbanov commented on #373
This is in public Flutter repo. To reproduce, open `dev/devicelab` as an IntelliJ module. Then try navigating from `bin/run.dart` to `package:flutter_devicelab/framework/manifest.dart` import.

[2016-10-27 04:57] devoncarew opened #384 "support android studio"
We should support installing the plugin into and developing from Android Studio.

We'll have some versioning issues with the IntelliJ API to deal with (Android Studio is on an older version of the APIs). Similarly, we'll probably be using an older version of the Dart plugin. And we'll need to add some UI bits specific to Android Studio (for instance, contributing to their project wizard).

[2016-10-27 05:21] devoncarew commented on #373
I'm able to reproduce this; if I make an edit to the file then I do see navigation start to work. This is using `1.21.0-dev.0.0` of the dart sdk.

@bwilkerson @scheglov

[2016-10-27 11:12] sethladd opened #385 "when completing, we should display documentation for initializing parameters from the dartdoc from associated fields"
Would love to see what all the options are:

![screen shot 2016-10-27 at 1 11 44 pm](https://cloud.githubusercontent.com/assets/5479/19765115/fd3bc8d8-9c46-11e6-9b38-e11a59372e9c.png)

[2016-10-27 11:13] sethladd opened #386 "Options for named param aren't helpful"
Trying to figure out what goes into a textTheme. Here's what I saw:

![screen shot 2016-10-27 at 1 12 30 pm](https://cloud.githubusercontent.com/assets/5479/19765141/1e10bff0-9c47-11e6-9a31-4520327f3a9b.png)

In the above, not sure that "const" and "false" are that useful here.

![screen shot 2016-10-27 at 1 12 41 pm](https://cloud.githubusercontent.com/assets/5479/19765140/1da99064-9c47-11e6-81f9

[2016-10-27 11:13] lukechurch commented on #386
+1!

[2016-10-27 11:14] devoncarew commented on #385
I don't believe they show up until you hit F1.

[2016-10-27 11:16] sethladd commented on #385
Here's what I see when I hit F1:

![screen shot 2016-10-27 at 1 16 03 pm](https://cloud.githubusercontent.com/assets/5479/19765231/8dd777a2-9c47-11e6-9688-30ca0c2dda44.png)

Maybe analyzer/dartdoc doesn't know how to show docs per named arg?

I think Matan filed a similar issue to this.

[2016-10-27 11:18] sethladd commented on #385
cc @matanlurey

[2016-10-27 11:19] matanlurey commented on #385
Yep, I'd like to see something like:

[code]

and once you type `brightness: ...`, you'd see the docs for the parameter.

[2016-10-27 11:20] sethladd commented on #385
I volunteer the Flutter team to add the dartdocs if the IDE showed them.

cc @Hixie

[2016-10-27 14:27] sethladd opened #387 "Code complete named param should be a String, but is offered a Typography"
![screen shot 2016-10-27 at 4 23 04 pm](https://cloud.githubusercontent.com/assets/5479/19771047/d6d6478e-9c61-11e6-978f-f36936218c45.png)

`fontFamily` is what I'm trying to complete. It can take a String. Notice how the first option is a Typography. If I hit enter, Typography is inserted.

[2016-10-27 16:22] Hixie commented on #385
This may also require dartdoc changes so that the docs appear in the documentation.

Ideally arguments of the kind this.foo would automatically defer to the foo property otherwise we're in for a staggering amount of duplication...

[2016-10-27 20:20] #244 closed

[2016-10-28 20:05] sethladd opened #388 "investigate using typedef names in completions instead of typedef types"
_From @FaisalAbid on October 27, 2016 22:20_

## Steps to Reproduce

In IntelliJ when using LazyBlockBuilder you get the totally wrong information for its constructor.

<img width="629" alt="screen shot 2016-10-28 at 12 14 52 am" src="https://cloud.githubusercontent.com/assets/253700/19787562/ab6b6a06-9ca3-11e6-9232-fb91d500f6bc.png">

when in fact the constructor actually is IndexWidgetBuilder, i

[2016-10-28 20:05] sethladd commented on #388
_From @abarth on October 27, 2016 22:24_

I think it might just be expanding the typedefs in a confusing way.

[2016-10-28 20:05] sethladd commented on #388
_From @eseidelGoogle on October 28, 2016 13:34_

This is presumably an analyzer issue.  @devoncarew @jwren

[2016-10-28 21:43] devoncarew commented on #386
This issue was moved to dart-lang/sdk#27687

[2016-10-28 21:43] #386 closed

[2016-10-28 21:46] devoncarew commented on #387
This issue was moved to dart-lang/sdk#27688

[2016-10-28 21:47] #387 closed

[2016-10-28 21:53] devoncarew commented on #388
It looks like the information is correct, it's just that instead of displaying `IndexedWidgetBuilder builder`, it's displaying the expanded form of the typedef.

[2016-10-28 21:59] devoncarew commented on #388
Moved to https://youtrack.jetbrains.com/issue/WEB-23957.

[2016-10-28 21:59] #388 closed

[2016-10-28 22:04] devoncarew commented on #385
I updated the title. I think this is a request for:

- letting named params be dardoc'd
- having dartdoc recognize as such
- borrowing docs automatically from associated members
- have tooltips and completions show these docs
- changing the style guide to support this type of usage (currently, it specifies docing params using in-line prose in the method dartdoc)

[2016-10-28 22:05] devoncarew commented on #378
We should also update the plugin.xml to specify the supported platforms.

[2016-10-28 22:15] devoncarew commented on #310
moved to https://youtrack.jetbrains.com/issue/WEB-23958

[2016-10-28 22:15] #310 closed

[2016-10-28 22:17] devoncarew commented on #237
After some discussions, this will consist of:

- an IntelliJ launch configuration that supports launching bazel run targets
- changes to the flutter tool to make the stdut/stdin streams from flutter run toolable, i.e. they should support json input and output as well as the regular user facing output

[2016-10-28 22:18] devoncarew commented on #139
I'm going to close this for now; we can re-open similar when webstorm gets on our radar.

[2016-10-28 22:18] #139 closed

[2016-10-28 22:19] devoncarew commented on #71
Closing as we've re-done the wiki a few times since this was filed.

[2016-10-28 22:19] #71 closed

[2016-10-30 19:58] ScottPierce opened #389 "detect PATH when shelling out to flutter tools (was: cannot locate file icudtl.dat)"
I can't run my build from intellij. Every time I press the play button I see this:

[code]

Running from command line with `flutter run` works just fine.

I'm on the latest `alpha`, and I've also tried the latest `master` branch with the same result.

[code]

[2016-10-31 00:37] abarth commented on #389
if you rm -rf /Volumes/MacintoshHD/Users/spierce7/frameworks/flutter/bin/cache/artifacts/engine

does that fix it?

[2016-10-31 00:43] Pacane opened #390 "Plugin should use flutter packages get instead of pub get"
When editing the pubspec file, intelliJ tries to run `pub get` to update deps, and by doing so, the following error gets output:

[code]

Instead of running pub get, it should run `flutter packages get` / `upgrade`

[2016-10-31 08:27] mit-mit commented on #349
I discussed this with Eric, and we arrived at the following:

1. Map the Debug action to Debug mode, i.e. `flutter run`
1. Map the Run action to Release mode, i.e. `flutter run --release`
1. Disable the Run action when the current target device is a simulator, and state in the tooltip that release mode currently only works on physical devices

[2016-10-31 09:06] asaarnak opened #391 "Support Webstorm IDE"
Feature request to support Webstorm IDE.

I discovered, that in Webstorm the flutter plugin is not found in plugins search.
But the plugin can be installed manually by downloading https://plugins.jetbrains.com/plugin/9212
If manually installed in Webstorm the Create new project > Flutter is not visible.
Also flutter doctor dosn't check for Webstorm IDE.

[2016-10-31 12:40] mit-mit commented on #362
I discussed this with Eric, and we arrived at the following:

1. Map the Debug action to Debug mode, i.e. `flutter run`
1. Map the Run action to Release mode, i.e. `flutter run --release`
1. Disable the Run action when the current target device is a simulator, and state in the tooltip that release mode currently only works on physical devices

@devoncarew sounds good to you?

[2016-10-31 13:47] stevemessick commented on #362
So, a tooltip like "Please select a physical device to launch in Run mode"?

I think this sounds good. Let me know if you want different wording.

[2016-10-31 14:56] mit-mit commented on #362
I'd make the label

   "Run ''<config name> in release mode." when a physical device is
connected, and

   "Run ''<config name> in release mode (requires a physical device
target)." when not.

-- M

On Mon, Oct 31, 2016 at 2:47 PM, stevemessick <notifications@github.com>
wrote:

[2016-10-31 15:02] mit-mit commented on #362
I'd make the label

   `Run '<config name>' in release mode.` when a physical device is connected, and

   `Run '<config name>' in release mode (requires a physical device target).` when not.

[2016-10-31 15:18] pq commented on #390
Thanks for the report!  Could you check what version of the Dart plugin your have?  It should be fixed as of plugin version `162.2233`.

[2016-10-31 15:19] Pacane commented on #390
It says v.0.1.4 here.

[2016-10-31 15:23] pq commented on #390
Oh sorry, I mean what version is the _**Dart**_ plugin?

[2016-10-31 15:24] Pacane commented on #390
163.6512.13

[2016-10-31 15:36] pq commented on #390
Well, that looks good...

What does your Dart SDK path look like?  (**Preferences>Languages & Frameworks>Dart**)?

For example, here's mine:

<img width="748" alt="screen shot 2016-10-31 at 4 33 06 pm" src="https://cloud.githubusercontent.com/assets/67586/19860136/ee59c01a-9f87-11e6-8798-e790749170bc.png">

[2016-10-31 15:48] Pacane commented on #390
![image](https://cloud.githubusercontent.com/assets/2762440/19860669/f40877f4-9f5f-11e6-946f-9fc360d4418a.png)

[2016-10-31 15:55] bwilkerson commented on #373
Does the navigation information that server sent IntelliJ include a navigation region for the URI? Is there an error indicating that server couldn't resolve the URI?

[2016-10-31 16:26] pq commented on #390
Hmmm, thanks.  That looks good too.

@alexander-doroshko: any thoughts?

[2016-10-31 17:00] devoncarew commented on #362
I think the decision is whether to map the `run` button to `flutter run --release` or `flutter run --debug` but w/ disabled breakpoints. Sound like you and Eric prefer the 1st option; that works for me.

In terms of the UX:

I'm fine if the run button stays enabled, but fast fails w/ appropriate messaging when the user hits run on an unsupported device. That error message can come from flutter_too

[2016-10-31 17:00] ScottPierce commented on #389
I did that and then ran from intellij again.

[code]

Nothing happened after that for quite some time. I stopped the process and tried again, and received the same error.

[2016-10-31 17:17] yjbanov commented on #373
@bwilkerson

Where do I get this information? (assuming the question was directed at me)

[2016-10-31 17:21] devoncarew opened #392 "create an IntelliJ launch configuration that supports launching bazel run targets"
This will support the internal workflow.

[2016-10-31 17:21] devoncarew commented on #237
https://github.com/flutter/flutter-intellij/issues/392

[2016-10-31 17:22] devoncarew commented on #237
closing this in favor of more granular issues

[2016-10-31 17:22] #237 closed

[2016-10-31 17:22] devoncarew commented on #239
closing this in favor of more specific issues

[2016-10-31 17:22] #239 closed

[2016-10-31 17:22] devoncarew commented on #238
We decided not to go the shim route.

[2016-10-31 17:22] #238 closed

[2016-10-31 17:24] stevemessick commented on #362
That's an interesting point, keeping Flutter internals to Flutter. In this case, I'd vote for a clean UX over good system design. IOW I'd prefer to disable the Run button and take the risk of getting it out-of-sync with Flutter capabilities. I think the risk is low since we have high-bandwidth communication between the projects. But the implementation effort isn't going to be too great in either c

[2016-10-31 17:25] devoncarew commented on #392
This will depend on https://github.com/flutter/flutter/issues/6593.

[2016-10-31 17:47] bwilkerson commented on #373
I'll take an answer from anyone who has an answer :-)

If you've configured the IntelliJ registry entry `dart.server.additional.arguments` to include a command line argument starting with `--instrumentation-log-file=`, then the file you specified will contain all of the communication between IntelliJ and server. (But only for the current session, so if you've restarted IntelliJ since the problem o

[2016-10-31 20:44] RdeWilde commented on #390
I am experiencing the same problem, though it was working fine a few days ago.

I did a `flutter upgrade` but that did not help either.
Checked updates for IDEAJ, none left.

[2016-10-31 22:00] pq commented on #390
Thanks for chiming in @RdeWilde!

That actually exactly what I'd expect.  I was hoping that @Pacane had a similar misalignment but looking at the screenshots suggests that the SDK setting is correct.

Regarding this, are you aware of having *changed* your SDK settings in the meantime?  (Between when it worked and when it broke?)

[2016-10-31 22:07] RdeWilde commented on #390
@pq Not aware, but I've been experimenting a lot, so may have been any upgrade or whatsoever.

[2016-11-01 04:14] ScottPierce commented on #390
I'm having the same issue. I have the same issue when I run `pub get` from the command line though.

[2016-11-01 04:46] ScottPierce commented on #390
Pointing the intellij dart plugin to use flutters sdk seems to have resolved this for me.

[2016-11-01 14:32] alexander-doroshko commented on #390
@pq I'll be reminding every day that my [pull request](https://github.com/flutter/flutter-intellij/pull/361) fixes the issue of diverged Dart and Flutter SDKs. :)
With it applied you may completely remove `SdkConfigurationNotificationProvider`, it won't be ever triggered any more.

[2016-11-01 14:46] alexander-doroshko commented on #390
For IntelliJ IDEA 2016.3 EAP minimal Dart plugin version that does 'pub get' correctly for Flutter is 163.6957.3, @Pacane please update.

[2016-11-01 21:24] sethladd opened #394 "Device recognized, but run buttons not enabled"
I plugged in my moto g4 and the plugin discovered the device (yay!), but none of the run buttons are enabled:

![screen shot 2016-11-01 at 2 22 37 pm](https://cloud.githubusercontent.com/assets/5479/19908052/c28798ec-a03e-11e6-9726-31e299045e30.png)

I would expect that once a device is recognized, I'd be able to run on it.

Can we enable hot reload and run after I plug in a device?

[2016-11-01 21:29] sethladd opened #396 "flutter run default is hot reload enabled, but Run button in IntelliJ is release mode"
We have a conflict. :)

The default semantics of `run` in Flutter is "debug, with hot reload". However, it appears that the Run button in IntelliJ means "release build, no hot reload". I'd like to reconcile the default semantics of Run , for Flutter developers.

Suggestion: the Run button in the plugin triggers the same default semantics as `flutter run`.

The sentence, "to run your app, use `flut

[2016-11-01 21:36] sethladd commented on #396
cc @mit-mit

[2016-11-01 21:37] devoncarew commented on #396
There's more discussion of this here: https://github.com/flutter/flutter-intellij/issues/362

[2016-11-01 21:48] devoncarew commented on #394
There's no launch configuration selected - to tell IntelliJ which app to run.

[2016-11-01 22:08] sethladd commented on #362
We are sitting in a User Study, and the instinct of the user was to click the green Run button. That doesn't put the user on the best development experience. We had to manually instruct that "Debug means edit/refresh".

The Debug icon means "I want to debug my app". That is often not what the user intends when they want to edit/refresh.

Suggest that Solid Green Run button means the exact same thi

[2016-11-01 22:32] stevemessick commented on #362
If we do as Seth suggests then we don't have to worry about disabling the button when the target is a simulator. That would simplify things a bit, which is always nice.

I'd like to know what an experienced user expects. Is it OK to tell developers they must use the command-line tool to see how their app performs "for real"?

[2016-11-02 12:08] pq commented on #394
I wonder why?  (And whether we should pick one on enablement?)

@sethladd : does this project have any run configurations?  Did you create it with the new project wizard or import it from elsewhere?

[2016-11-02 12:10] pq commented on #396
In general, how often do folks do a release build?  Do we have any analytics?

[2016-11-02 12:14] pq commented on #362
I know it was suggested but in light of the recent conversation, I'm curious how an option in the run config sits with folks?

    [ ] run in release mode

To make it more obvious what run configs are release configs, we could decorate them with an icon?

[2016-11-02 12:49] pq commented on #389
@devoncarew: any ideas?

[2016-11-02 12:51] pq commented on #373
@bwilkerson, @jwren : are there user docs any where for instrumentation?  If not, should there be?

[2016-11-02 12:52] pq commented on #336
@alexander-doroshko : curious if you have any more thoughts on this one?

[2016-11-02 12:59] alexander-doroshko commented on #336
See `com.jetbrains.lang.dart.ide.inspections.DartOutdatedDependenciesInspection#checkFile` and `com.jetbrains.lang.dart.ide.actions.DartPubActionBase#isInProgress`. Without changes at Dart plugin side I see no way to skip showing `'Pub get' has not been run` while `flutter create` is in progress.

[2016-11-02 13:02] lukechurch commented on #396
+1 @sethladd

'debugging' is not a separate activity in modern development workflows, especially ones with a live style of development. 'Releasing' might be.

[2016-11-02 13:11] lukechurch commented on #394
I've just had this problem as well.

- I 'Imported Folder' to load the Flutter/examples/flutter_gallery folder
- IJ asked me to 'enable the Flutter module' or some such. I accepted and it reopened the project.
- Ran Pub Get

I have the project displayed, and the iPhone simulator is correctly discovered, but no run button.

[2016-11-02 13:14] eseidelGoogle commented on #396
We don't actually have a separate "release" step yet.  `flutter build ios
--release` is probably the closest we have, but even that doesn't build a
store-releasable ipa I don't think.  We may need to re-think the CLI modes
and how we expose them in the CLI and IDE.  We could for example never
build "release" from the IDE but only --debug and --profile so that we
always have observatory control.  A

[2016-11-02 13:20] eseidelGoogle commented on #389
I suspect this is a flutter_tools or flutter infrastructure/packaging bug and has nothing to do with the intelliJ plugin. :)  I don't know why a complete clearing of the artifacts cache and re-download didn't fix it, unless there is some sort of host/device architecture mismatch confusing flutter_tools where to find the file (this is an x86 Nexus 5x, so presumably an emulator, probably genymotion)

[2016-11-02 13:26] pq commented on #336
Exactly.  I was thinking this would require some changes in the Dart plugin as well.  I'm curious how you think this would be easiest.  Could we simply disable this test in the case of Flutter modules?  (And defer to Flutter to ensure that pub gets properly run?)

[2016-11-02 13:27] pq commented on #389
Thanks Eric!  In that case, cc @danrubel 😄

[2016-11-02 13:31] mit-mit commented on #396
pq wrote:

The only data point I have is the Aplos team here in AAR. Maybe 'release build' is a misnomer, but they occasionally need to run in --release mode to get a "faster build" that enables gauging performance of scrolling, animations, etc.

[2016-11-02 13:33] mit-mit commented on #396
RE:

I don't think we can remove the standard Run and Debug actions, but not sure if we can add additional ones. I noticed Android Studio has a few additional buttons next the Run/Debug ones. PDX folks what can be customized in the main toolbar up where Run and Debug are?

[2016-11-02 13:38] alexander-doroshko commented on #336
May be introduce setter like `DartPubActionBase#setPubIsInProgress(boolean)` and use it in flutter plugin like:
[code]

[2016-11-02 13:49] alexander-doroshko commented on #396
Quoting my [comment](https://github.com/flutter/flutter-intellij/issues/362#issuecomment-255428129):

Run/debug modes are usually configured at Run Configuration level.

So yes, you can add more buttons. But as for now all runners (i.e. all buttons) are not framework specific. Each button (Run/Debug/Coverage) can start different types of apps. If your plugin is going to contribute another button -

[2016-11-02 14:37] mit-mit commented on #396
Thanks Alexander.

It's getting a bit confusing with discussions both here and in #362, so I am closing this bug as a dupe of #362.

[2016-11-02 14:37] #396 closed

[2016-11-02 14:54] mit-mit commented on #362
Here is my suggestion:

1. In run config, add a 'Build type' combo box with two values 'Debug mode' and 'Release mode'
1. When a new project is created, create now one but two build configs:
  * One called 'Debug': Like the current one, and with the combo box set to 'Debug mode'
  * One called 'Release': Like the current one, and with the combo box set to 'Release mode'
1. Default the run config b

[2016-11-02 15:03] stevemessick commented on #394
If restarting IntelliJ causes the buttons to be enabled then Luke's problem will be fixed with https://github.com/flutter/flutter-intellij/pull/393

I'm not sure that will solve Seth's problem, though.

I have another branch ("enablement") I'm working on that will re-jigger buttons, so we'll need to loop back here once that's finished to see if the problem persists. That's still waiting on Flutter

[2016-11-02 15:05] Pacane commented on #390
It's effectively fixed after updating the dart plugin. Thanks!

[2016-11-02 15:05] #390 closed

[2016-11-02 15:11] mit-mit commented on #362
One more comment: If we think most developers are going to do their development with the Run action, we should probably have the Run->Run Refresh behavoir on that icon button just like we are discussing here for the Debug button: https://github.com/flutter/flutter-intellij/issues/230

[2016-11-02 15:13] lukechurch opened #398 "Tooltip covers the source being observed"
In the attached video I'm trying to navigate to the source of declaration of MaterialApp.

The type display tooltip covers the source that I'm trying to click on.

![jump to declaration ui problem](https://cloud.githubusercontent.com/assets/2978182/19934525/c78ab11e-a10e-11e6-8519-16a86ac5386f.gif)

[2016-11-02 15:13] stevemessick commented on #327
This is another consideration when resolving #362

[2016-11-02 15:40] lukechurch opened #399 "Right mouse click causes source to jump 1 line"
Please see attached video.

![ij screen jumping](https://cloud.githubusercontent.com/assets/2978182/19935573/6f7f4cd8-a112-11e6-9a58-d97964a79b0f.gif)

On right click, the screen jumps up one line, and then displays the menu. It doesn't occur on other software, and only sometimes on IJ. However, it is pretty frustrating when it does happen.

It is probably unrelated, but the first time I started s

[2016-11-02 15:48] alexander-doroshko commented on #398
Looks like IntelliJ Platform issue. Reproducible when tooltip width is bigger than the IDE frame width.

[2016-11-02 15:51] sethladd commented on #362
I like this for two reasons: hot reload is the default, and the word 'debug' is the same as the default mode for `flutter run`.

How does a user know what "build config mode" they are in, given the UI of the IDE? Is that visible in any way?

[2016-11-02 15:53] mit-mit commented on #362
Yup, there is a build mode selector right next to the Run and Debug buttons:

![screen shot 2016-11-02 at 16 52 48](https://cloud.githubusercontent.com/assets/13644170/19936143/d14b7fa4-a11c-11e6-8d3d-d84724f0531e.png)

[2016-11-02 15:56] pq commented on #362
In general I like this but (and I think @lukechurch makes this point elsewhere) is the dichotomy not actually better between **run** and **_release_**?

[2016-11-02 15:57] sethladd commented on #362
Ah, on mine it's blank :) We should watch the UX video to see what the participant had selected here. Not sure the word "Debug" is super clear, but that might be linked to "ok, I want to debug my app". Did we consider "Develop" , which might match the user's intent more?

[2016-11-02 15:58] pq commented on #390
Thanks @Pacane!

Last question: how dependent on using the EAP are you?

[2016-11-02 15:59] sethladd commented on #362
@pq fwiw the flutter tool has debug, profile, and release as the different modes for "run". As in, "run in debug", "run in profile", and "run in release".

I think it's more confusing in the IDE context because the action "Debug" is overloaded to often mean "enable breakpoints and open the debugger and do actions like step over".

[2016-11-02 15:59] Pacane commented on #390
Well a lot I guess, since I've been using EAP without license for 2 years now, lol.

[2016-11-02 16:01] alexander-doroshko commented on #362
Since there may be more than one entry points (apps) in a project we usually prefer to give names to the  run configurations that describe the app configured inside it. For example 'foo_app' if entry point is 'foo_app.dart', or 'Debug foo_app' if you want to reflect launch mode.

That's true that "Debug" in the IDE usually means "enable breakpoints and open the debugger and do actions like step ov

[2016-11-02 16:05] sethladd commented on #394
I opened the gallery. Not sure if that matters.

Not sure how to tell?

[2016-11-02 16:15] pq commented on #362
@sethladd can you debug a release build?

[2016-11-02 16:17] pq opened #400 "IntelliJ Early Access Preview (EAP) Support"
See: https://github.com/flutter/flutter-intellij/issues/390

Some folks are using the EAP.  If we don't officially support it we should at least document known limitations.

[2016-11-02 16:18] pq commented on #390
Ha!  OK, that's great to know thanks!

[2016-11-02 16:19] sethladd commented on #362
No. A release build is not debuggable/profilable.

[2016-11-02 16:20] pq commented on #394
If you click the little chevron, are there any run configurations to choose from?

[2016-11-02 16:30] alexander-doroshko commented on #400
You do support it, it is 163 branch, still in range both in the repo and in the published plugin build.
EAPs for 171 will start not earlier than in 2 months.

[2016-11-02 16:31] alexander-doroshko commented on #400
Not sure you test it against 2016.3 though :)

[2016-11-02 16:33] sethladd commented on #394
Nope:

![screen shot 2016-11-02 at 9 32 27 am](https://cloud.githubusercontent.com/assets/5479/19937643/4c042e50-a0df-11e6-9e6e-f58280ee3b98.png)

I think @devoncarew suggested that we auto-populate that list for new projects (with Debug, Profile, and Release, to match the current `flutter run` modes).

[2016-11-02 16:43] #372 closed

[2016-11-02 17:23] devoncarew commented on #399
@alexander-doroshko, do you know if this is a known issue?

It may not be related, but I've seen this frequently in the project explorer view.

[2016-11-02 17:28] alexander-doroshko commented on #399
Looks like already fixed: https://youtrack.jetbrains.com/issue/IDEA-162490

[2016-11-02 17:43] devoncarew commented on #399
👍 thanks for checking!

[2016-11-02 17:43] #399 closed

[2016-11-02 18:07] pq commented on #372
\o/

[2016-11-02 18:09] pq commented on #394
@devoncarew : are there run configs in the gallery IML files?

[2016-11-02 18:10] danrubel opened #401 "Update IntelliJ to use flutter run rather than flutter daemon"
Once [flutter run --machine](https://github.com/flutter/flutter/pull/6645) lands, we should
* [support launching bazel targets](https://github.com/flutter/flutter-intellij/issues/392)
* update other launch targets to use `flutter run --machine` rather than `flutter daemon`

[2016-11-02 18:31] pq commented on #401
When we do this should we bump the version of flutter tools and up our minimum requirement?  Or should we support the old and the new worlds?

@danrubel @devoncarew

[2016-11-02 18:32] pq commented on #398
@alexander-doroshko is there a corresponding platform issue or should Luke file one?

[2016-11-02 18:37] pq commented on #378
@alexander-doroshko I did some poking around but couldn't find a way to do this.  Can you advise?

[2016-11-02 19:23] alexander-doroshko commented on #394
Run configs are stored in .idea/worksapce.xml (if not shared) or in ./idea/runConfigurations/ folder (if shared).

If Seth opened existing project there shouldn't be any run configs as New project wizard has not been invoked.

[2016-11-02 19:28] devoncarew commented on #394
There is a run configuration committed in //examples/flutter_gallery. But more generally, I think the use case of newly created projects (`flutter create`) is covered; the flutter tool creates a launch config.

[2016-11-02 19:31] alexander-doroshko commented on #398
Didn't find in 30 sec. You can file new one in 'IntelliJ IDEA' YouTrack project if you do not find one. This is a documentation tooltip on Cmd+hover.

[2016-11-02 19:37] mit-mit commented on #362
Seth wrote:

Yes, I did. But I wanted to be consistent with other IDEs (I have never use an IDE where the default configs were not Debug and Release), and with the Flutter tool itself that has debug, release, and profile.

In any case, this is just a string, so should be very easy to change later if needed.

[2016-11-02 19:39] mit-mit commented on #362
Alexander wrote:

Sure, good point, so perhaps we change them to `MyApp (debug)` and `MyApp (release)` where MyApp is whatever the developer picked as the module name. We could also do that in a following CL.

[2016-11-02 19:40] pq commented on #398
Thanks.  Closing for now here --- @lukechurch if you want to open one for the platform that'd be awesome.

🍻

[2016-11-02 19:40] #398 closed

[2016-11-02 20:09] devoncarew opened #402 "we should disable the reload buttons while we’re reloading"
This will require new events / better progress messages from the flutter command-line tools.

[2016-11-02 20:19] sethladd commented on #362
Fair enough. Those are the names we use in the CLI, so consistency makes sense here.

[2016-11-02 20:19] sethladd commented on #394
Can we create two default config when you import a new project?

[2016-11-02 21:00] danrubel commented on #389
In order to narrow down the problem, we can simulate how IJ uses flutter tools.
Would you try the following and let me know what happens?

In a terminal window, type the following to get the id for your connected device:
[code]

Now launch the flutter daemon:
[code]

Then use the flutter daemon to launch your app in the same way that IJ launches the app.
The follow is typed in the terminal window

[2016-11-02 21:01] danrubel commented on #401
I recommend bumping the flutter tools version and requiring that version in IJ.

[2016-11-02 21:18] sethladd opened #403 "Unclear how to config Debug|Profile|Release for a run config"
Intent: create a "run config" for "debug mode" for a Flutter app.

I don't have run configs, so I tried to create one. I'm on this screen, but I'm not certain how to say "use debug mode" or "use profile mode".

![screen shot 2016-11-02 at 2 16 07 pm](https://cloud.githubusercontent.com/assets/5479/19947815/0b5150f4-a107-11e6-9f9c-d5946a1b4144.png)

I see a "checked mode", but not sure what that wo

[2016-11-02 23:09] Hixie opened #404 ""Run" button confusion"
There are (at least) four ways to launch an app in IntelliJ.

There's a very attractive green ▶ button in the toolbar. It does something you basically never want, which is run the app in release mode without assertions or anything.

There's a scary-looking 🐞 icon in the toolbar. It runs the app in debug mode, which is what you want, but even if you already have it running, it restarts the app from

[2016-11-02 23:10] Hixie opened #405 "No saviour when analyzer dies"
In the P5 usability study, the participant at one point ended up with the analyzer no longer reporting issues. This tanked their productivity and there was no indication that there was anything going wrong.

When the analyzer is not responsive, we should non-modally alert the user as to the failure, and attempt to restart the analyzer.

[2016-11-02 23:10] devoncarew commented on #362
Hey all, thanks for all the feedback and ideas! We had a discussion in person based on the comments on this issue and evaluated the behavior of Android Studio's hot reload functionality. What we plan to execute on:

## the debug button

- is based on flutter run --hot and allows debugging
- is very similar to the current behavior, modulo:
- when an app is running, the debug button becomes a hot re

[2016-11-02 23:12] Hixie opened #406 "stdout output is duplicated when debugging"
In the P5 usability study, all exceptions from the framework got garbled in the console output in IntelliJ. This made them borderline unusable.

The garbled output is also visible in: https://github.com/flutter/flutter/issues/6647

[2016-11-02 23:25] devoncarew opened #407 "update the behavior of the run and debug buttons"
We should update the behavior of the run and debug buttons to address some UX issues:

- [x] the run button should be changed from executing `flutter run --release` to `flutter run` (just like the current debug button) (#445)
- [x] the run button should not set breakpoints and not break on exceptions (it's the same as the debug button, but without debuggability)
- [ ] we contribute a hot reload an

[2016-11-02 23:30] b-strauss commented on #404
The arrow and bug buttons do the same thing they do on other Intellij project types, run and debug. Wouldn't it be wrong to change the meaning of these if that is the common pattern on the platform?

As a heavy Intellij user, I would be surprised if they wouldn't do run and debug. Maybe another set of icons would work better?

[2016-11-02 23:38] devoncarew commented on #362
Tracking the implementation of the above here: https://github.com/flutter/flutter-intellij/issues/407

[2016-11-02 23:40] Hixie commented on #404
Neither of the two users in the usability study understood it, and they were both previous IntelliJ users. I don't really care what is standard for IntelliJ if that standard is incomprehensible. :-)

We should care about what is best for our users. If we're successful, our users will be using IntelliJ more for Flutter than for other languages.

Also, if what we do is a substantial improvement over

[2016-11-03 00:00] pq commented on #405
cc @jwren @alexander-doroshko

[2016-11-03 00:06] pq commented on #406
cc @stevemessick for thoughts

A snippet from  flutter/flutter#6647 that illustrates the log issue:

[code]

[2016-11-03 00:10] pq commented on #403
I agree that checked mode is odd here.  Likely we should remove it.

As for creating a debug config, the model in IntelliJ is to have a single run configuration be runnable in debug or run modes.  A little background [here](https://www.jetbrains.com/help/idea/2016.2/run-debug-configuration.html).

[2016-11-03 02:26] devoncarew commented on #406
I think this is duplicating stdout output - once directly from the application over the service protocol connection, and once from the adb output. I've seen this before, and have a start at a fix.

[2016-11-03 02:31] devoncarew commented on #389
@ScottPierce, I'm curious, when shell do you use on macos? This could be an issue where the path for processes launched from IntelliJ is not set up the same as that for apps run from the CLI.

[2016-11-03 02:32] devoncarew commented on #389
When executing shell processes from Atom, we first sniff the user's PATH, and then execute processes using an env setting w/ that discovered PATH. We may need to do something similar here.

[2016-11-03 09:17] mit-mit commented on #407
Details of the 'lightning bolt' behavior are discussed in https://github.com/flutter/flutter-intellij/issues/230

[2016-11-03 09:18] mit-mit commented on #404
Hixie, we are already working on this as per #362 and #407. Both the Run and Debug buttons will correspond to flutter run (without --release), and both buttons will morph into 'reload' buttons (as in Android Studio 'instant run') while you are running (see #230).

Closing this as I believe this has been addressed.

[2016-11-03 09:18] #404 closed

[2016-11-03 09:22] mit-mit opened #410 "Expose --release and --profile modes"
Currently both the `Run > Run` and `Run > Debug` actions  produce a debug build, i.e. they correspond to `flutter run --debug` (historical background is in #362 and #404).

Thus there is no way of running `--release` or `--profile` from IntelliJ. This is concerning as developers who use just the IDE might get the impression that all flutter apps are slow, and it means that release testing and prof

[2016-11-03 09:23] mit-mit commented on #362
Now that #407 tracks updating the Run and Debug buttons so that they both are non `--release`, and both support hot reload, we need something to track support `--release`. I opened #410 for that.

Closing this.

[2016-11-03 09:23] #362 closed

[2016-11-03 09:42] alexander-doroshko commented on #378
http://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/plugin_compatibility.html

[2016-11-03 09:59] alexander-doroshko commented on #378
Make sure to read and understand all the info in http://www.jetbrains.org/intellij/sdk/docs/index.html. :)
I didn't check, but hope that all the info there is correct. Ask me if anything is not clear.