[2018-07-17 11:58] zoechi commented on #2458
Perhaps a dropdown that allows to select a specific run?
I find continuous logs from multiple runs cumbersome if not properly separated.
There doesn't seem to way with the new log view to get logs purged automatically on reload/rerun.

[2018-07-17 12:17] zoechi opened #2487 "Don't scroll to bottom when scrolled away from bottom manually"
The logging output should stay where it is when manually scrolled away from bottom.
Currently a log output scrolls to the bottom every time a new log output happens.

This makes it impossible to check previous log output while the app is running.

Scrolling to bottom (manually or using a scroll-to-end button) should restore the current behavior.

[2018-07-17 16:30] quangson91 commented on #2487
Ah, I understood @zoechi  problem.
It seems we have to detect if the log scroll-up => we will disable `auto scroll to end` action.

[2018-07-17 17:16] quangson91 commented on #2487
I created a new PR to fix this problem: https://github.com/flutter/flutter-intellij/pull/2488

[2018-07-17 17:20] quangson91 commented on #2340
@devoncarew @pq Do you have any suggestion how we can query to the Dart VM to get the full log.
I've checked but can't found the solution :|

[2018-07-17 17:39] zoechi commented on #2487
@quangson91
and you should detect when scrolled back to the end to re-enable `auto scroll to end`.
Does your fix include that?

[2018-07-17 17:40] quangson91 commented on #2487
My fix don't include that.
But I think for that action -> user just clicks action `auto-scroll to end`.

[2018-07-17 17:42] quangson91 commented on #2487
=> To fix that, we just need check new scroll value = 100 => we re-enable `auto scroll to end`.

Ah, I will fix that. I tested on Intellij, after user scroll to end -> `auto scroll to end` must re-enable

[2018-07-17 17:44] devoncarew commented on #2340
Yup, on the vm service, you'll want to call the `getObject()` method. Given an String object that has a truncated string value, I believe that getObject() will return the full value.

https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#getobject

[2018-07-17 17:47] quangson91 commented on #2340
Thank you, I will continue checking :)

[2018-07-17 18:08] quangson91 commented on #2487
@zoechi I updated this PR: https://github.com/flutter/flutter-intellij/pull/2488

now when user scroll update -> disable auto scroll to end.
when user scroll to the end (bottom) -> re-enable `auto scroll to end`.

[2018-07-17 19:35] zoechi commented on #2487
@quangson91 that sounds great. Thanks a lot!

[2018-07-17 19:40] darylrue commented on #1855
Using my work computer on my home network I'm now having the same issue. If I run
`flutter create test_project`
it hangs here:
`Running "flutter packages get" in test_project...`
If I go to an existing flutter project and run
`flutter packages get -v`
it hangs here:
`[C:\Users\path_to_project\] c:\flutter\bin\cache\dart-sdk\bin\pub.bat --verbosity=warning --verbose get --no-precompile`

[2018-07-17 20:09] #2486 closed

[2018-07-17 20:44] pq opened #2490 "Consider a toggle to clear log on restart"
Follow-up from: https://github.com/flutter/flutter-intellij/issues/2458#issuecomment-405556818

consider a toggle to allow for auto-clear on restart (and possibly reload)?

/cc @zoechi

[2018-07-17 21:32] pq opened #2491 "Logging support for dart:developer.inspect(..)"
_Tracking issue for [`dart:developer.inspect(..)`](https://api.dartlang.org/stable/1.24.3/dart-developer/inspect.html) logger integration._

@jacob314 and I did some quick investigations and while I don't have anything ready to land there's enough sketched out to start a conversation.

The thinking is to make calls to `inspect(..)` work very much like `console.log(obj)` in the Chrome dev console.

[2018-07-18 06:43] parasthekoder opened #2492 "Fatal signal 11 (SIGSEGV), code 128, fault addr 0x0 in tid 11046 (1.ui), pid 10905"
When performing a hot restart I got a fatal exception and then application is terminated.
It is usually happening on hot restart, it seems like a kind of memory related error.
Searching over internet I found that turn off hardware acceleration, I did it too, but still getting this error.

## Steps to Reproduce

Hot restart your app few times.

## Version info

Android Studio `3.1.3` • Flutter plug

[2018-07-18 15:21] devoncarew commented on #2478
`Colors.accents` wouldn't be, but there could be follow-on fields of `accents` that would be valid there. People also use completion for discovery, so I think we don't want to hide fields on a class. We can - and I believe do - use the type of a field to inform the weight of a code completion suggestion.

[2018-07-18 15:22] devoncarew commented on #2478
I believe this is working as intended -

[2018-07-18 15:22] #2478 closed

[2018-07-18 15:45] move[bot] opened #2493 "make sure we save pubspec.yaml contents to disk when running "packages get" / upgrade"
*@fmatosqg commented on Apr 20, 2018, 5:15 AM UTC:*

## Steps to Reproduce

*   Edit pubspec.yaml
*   Immediately click `get packages`
*   Notice that it won't read the latest changes

If you `cmd+s` before clicking the expected result happens.

AS 3.1.1 with flutter plugin 23.2.2 and flutter beta 2.

*This issue was moved by [devoncarew](https://github.com/devoncarew) from [flutter/flutter#16786]

[2018-07-18 15:46] devoncarew commented on #2493
We should verify this behavior and make sure we save the pubspec contents when calling the flutter packages commands.

[2018-07-18 19:03] pq commented on #2487
Fixed w/ #2488 🎉

[2018-07-18 19:03] #2487 closed

[2018-07-18 20:46] Hixie commented on #2478
FWIW, this specific issue is leading to a number of difficulties for users. People start with the `flutter create` template, go to the line where we specify the primary swatch, and try to edit it using autocomplete to guide them about what's valid. So e.g. they try "Colors.white", which fails (but only at runtime), or "Colors.accents", which also fails (during analysis). In both cases they get con

[2018-07-19 16:20] jwren opened #2495 "Dartfmt on save throwing errors"
Reported from a user:

Android Studio Version: 3.0.1
Dart Plugin Version: 171.4424
Flutter Plugin Version: 23.2.1

[code]

[2018-07-20 21:41] InMatrix commented on #2478
I just reproduced this issue. It was surprising to me Colors.white is not a MaterialColor while Colors.blue is. This seems to be inconsistent, and there is no visible cues to suggest these two properties are of different types. I wonder if this is an API design issue as much as a tooling issue. If we simply hide Colors.white when types don't match, the user might find it surprising that there is n

[2018-07-22 10:33] palkatap opened #2497 "CompletionException from service call ext.flutter.inspector.getSelectedWidget"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.2 Beta 4` • Flutter plugin `io.flutter 26.0.2` • Dart plugin `181.4892.1`

Error getting Flutter sdk information.

## Exception

java.io.IOException: unexpected response: {"id":4,

[2018-07-22 19:02] devoncarew commented on #2497
Thanks for the report!

[2018-07-22 19:03] devoncarew commented on #2497
In this case, we likely shouldn't surface this as an exception to the user, but do something like silently allow the timeout.

[2018-07-23 17:06] jacob314 commented on #2437
Added back.

[2018-07-23 17:06] #2437 closed

[2018-07-23 17:32] zoechi commented on #2472
This seems to work now with

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v0.5.8-pre.109, on Mac OS X 10.13.6 17G65, locale en-AT)
[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
[✓] iOS toolchain - develop for iOS devices (Xcode 9.4.1)
[✓] Android Studio (version 3.1)
[✓] IntelliJ IDEA Ultimate Edition (version 2018.1.6)

[2018-07-23 17:32] #2472 closed

[2018-07-23 17:33] zoechi commented on #2222
I haven't seen this in quite some time and assume it is fixed.

[2018-07-23 17:33] #2222 closed

[2018-07-24 00:45] creativecreatorormaybenot commented on #2024
Same problem. `flutter clean` will delete `flutter-x86.jar` and that is it. No more builds after that 💯

[2018-07-24 14:22] creativecreatorormaybenot commented on #2024
@fyzs-n9001 That is exactly what `flutter clean` does. This introduces the problem we are having and not fix it.

[2018-07-25 14:24] kabir19 opened #2501 "Widget tree"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

I am leaning "Build your own Widget" in 1st Lesson of Flutter framework from Udacity.

I am not able to view Widget tree and Render tr

[2018-07-25 16:53] jaumard commented on #2378
Would like to see the same kind of generation for internationalization (like R.string in android) :)

[2018-07-25 17:17] stevemessick commented on #2501
@jacob314 @pq Is the version of Flutter used here compatible with the widget inspector?

[2018-07-25 17:29] Sun3 opened #2502 "Flutter stanim live template is missing on two computers - Intellij and Android Studio"
## Steps to Reproduce
1. Create a new dart file in a Flutter Project
2. Type stanim and the live template is not there.

I have tried this on two different Macs with same result.

## Version info

flutter doctor -v
[✓] Flutter (Channel beta, v0.5.1, on Mac OS X 10.13.6 17G65, locale en-US)
    • Flutter version 0.5.1 at /Users/marco/Development/flutter
    • Framework revision c7ea3ca377 (8 weeks

[2018-07-25 18:16] stevemessick commented on #2502
Sorry about that. `stanim` was inadvertently removed in M26. It will be restored in M27, which should be released "soonish".

[2018-07-25 18:16] #2502 closed

[2018-07-25 18:51] Sun3 commented on #2502
Great... thanks.

[2018-07-25 18:54] devoncarew commented on #2126
We are working on a solution here; /cc @stevemessick

[2018-07-25 18:58] devoncarew opened #2503 "introduce more logging into debugging in order to debug issues hitting breakpoints"
We should introduce more verbose logging into the debugger code so that users can send us good bug reports when they have issues not hitting breakpoints. This should cover logging for isolate events - so we know whether we're receiving events like 'start paused', and logging for vm breakpoint paths that are sent, and script uris that are received.

[2018-07-25 19:20] stevemessick commented on #2126
@justin-vanwinkle You can navigate in IntelliJ or Android Studio to the android module in the Project view, then use the menu option to open it in Android Studio. We're working on something better.

[2018-07-25 23:45] kabir19 commented on #2501
Hi Steve,

Well I am a complete novice when it comes to Flutter and widgets. Besides I
have mentioned flutter version and Android studio version i am using in the
version details.

Also enlighten me on how can I check whether my flutter version is
compatible with widget inspector.

Regards,
Kashyap Wadekar

On Wed, Jul 25, 2018, 22:47 stevemessick <notifications@github.com> wrote:

[2018-07-26 06:54] zenith22 commented on #1735
File / Invalidate Cache / Invalidate and Restart helped me too thanks

[2018-07-26 15:07] pq commented on #2501
Sorry for the slow response!

That's a pretty old build.

@jacob314: could you advise?

[2018-07-26 15:33] jacob314 commented on #2501
Let me know if you can reproduce with the latest beta and plugin and I'll investigate. Thanks!

[2018-07-26 17:50] stevemessick commented on #2501
@kabir19 I don't see any indication of which version of Android Studio or the Flutter plugin you are using. The `flutter doctor -v` output appears to be incomplete. To expand on the suggestion @jacob314 made, please install the latest version of Flutter, the latest stable version of Android Studio, and then add both the Dart and Flutter plugins to AS. That will solve any versioning problems. If yo

[2018-07-27 22:41] littlemarc2011 opened #2505 "Analyzer Error"
Analyzer Feedback from IntelliJ

# Version information

- `IDEA IU-182.3684.101`
- `1.24.3`
- `IU-182.3684.101, JRE 1.8.0_152-release-1248-b8x64 JetBrains s.r.o, OS Windows 8.1(amd64) v6.3 , screens 1920x1080, 1600x900`

# Exception

Please append the contents of:
file://C:\Users\marc\AppData\Local\Temp\report2.txt

[code]

[2018-07-27 22:43] littlemarc2011 commented on #2505
Here is a screenshot of the error that it seems to come from:
![error](https://user-images.githubusercontent.com/13179783/43349329-96c7ec9c-91c4-11e8-85ee-0f195cc6c1f3.png)

[2018-07-27 22:58] stevemessick commented on #2505
Thanks for the report!

@bwilkerson Could you say whether this is a problem in Dart 2 land?

[2018-07-28 00:31] quangson91 commented on #2340
@devoncarew, @pq our log entry almost come from `ProcessHandler` callback.
as I check, we don't have any log come from VmService (calblack) :|

[2018-07-28 01:53] devoncarew commented on #2505
Hi @littlemarc2011, thanks for the report. I see that you're using a `1.24` version of Dart with Flutter. That's a pretty old version of Dart from Flutter's perspective. You should probably:

- make sure IntelliJ and the Flutter IntelliJ plugin are up-to-date
- get the latest version of Flutter (`flutter upgrade` from the command line, or Tools > Flutter from the IDE
- make sure that the Flutter I

[2018-07-28 01:53] #2505 closed

[2018-07-28 14:49] JarvanMo commented on #1862
we need smarter imports

[2018-07-28 17:51] ljesparis opened #2507 "Third parte java code - android studio"
Hello i am trying to use opencv with flutter and i am importing opencv for android into the IDE, everything compiles good and in the logcat shows me what i want. But, i cannot import opencv java code from flutter id, i have to open only android studio for java to autocomplete the opencv java code

### flutter ide

![flutteride](https://user-images.githubusercontent.com/9313243/43359226-47bb5b3a-92

[2018-07-30 12:58] wheymajor commented on #2038
I am new to this and I dont really get where to enable --track-widget-creation.
I am starting the app from android studio, is it possible to use the command from there too or only from the command line?

[2018-07-30 17:23] pq commented on #2340
👍

I'm playing with this right now.  (Specifically for platform channel communications.)

@quangson91: let me know and I can cc you w/ progress.

[2018-07-30 18:05] duanpf opened #2508 "Android Studio not found, but it is Exist on my computer"
![image](https://user-images.githubusercontent.com/24790085/43414705-24c9ccf6-9466-11e8-91af-1f379ee54f22.png)
![image](https://user-images.githubusercontent.com/24790085/43414726-37b5354e-9466-11e8-9a10-280f2e4aba83.png)

[2018-07-30 21:06] stevemessick commented on #2508
See if `flutter help config` offers any guidance. I'm just guessing, but it looks like you installed Android Studio somewhere other than /Applications. If so, you'll need to tell Flutter where it is.

`flutter config --android-studio-dir /path/to/studio`

[2018-07-31 01:16] quangson91 commented on #2340
@pq, yes, please.
I would like to know how it works.
Thanks!

[2018-07-31 04:50] devoncarew commented on #2403
I believe this is largely addressed.

[2018-07-31 04:50] #2403 closed

[2018-07-31 04:51] devoncarew commented on #2431
I this addressed? Or, should we move it to the next milestone?

[2018-07-31 04:53] quangson91 commented on #2431
@devoncarew, I think this already addressed.

[2018-07-31 04:53] devoncarew commented on #2471
@stevemessick, I believe this is what you were seeing in AS 3.2?

[2018-07-31 04:54] devoncarew opened #2510 "meta issue for the M27 release"
This is the tracking issue for the M27 release - we can use it to gather feedback on the release candidate.

[2018-07-31 04:56] devoncarew commented on #2431
Thanks! Closing -

[2018-07-31 04:56] #2431 closed

[2018-07-31 05:29] gspencergoog opened #2511 "IntelliJ 2018.2 constantly re-indexing when Android Support turned on."
Tonight I updated to:

[code]

And IntelliJ now continuously indexes (once a second), causing a lot of things to not work, and interrupting interaction with the UI.

It's similar to https://github.com/flutter/flutter-intellij/issues/1735, but invalidating caches/restarting or even nuking the .idea directory doesn't help.

**What does help is disabling the "Android Support" plugin** (with the obvio

[2018-07-31 11:38] imWildCat opened #2512 "On Flutter dev channel (v0.5.7), cannot start debugger (wrong URL)"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

From: https://github.com/flutter/flutter/issues/13747#issuecomment-409026950
I have examined the behaviour:

As for IntelliJ, when sta

[2018-07-31 12:11] stevemessick commented on #2471
@devoncarew When I looked into it I thought the details were so different it was not related to that. However, I am hopeful that #2504 will fix this problem.

[2018-07-31 12:28] alex-field opened #2513 "Android Studio issue"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.1.3` • Flutter plugin `io.flutter 26.0.1` • Dart plugin `173.4700`

Flutter 0.5.1 • channel beta • https://github.com/flutter/flutter.git
Framework • revision c7ea3ca377 (9 weeks

[2018-07-31 13:49] nhardt opened #2514 "out of bounds error opening flutter inspector for first time"
## What happened

Had just opened the flutter inspector for the first time. Seems to work on the second opening.

## Version information

Android Studio `3.1.3` • Flutter plugin `io.flutter 26.0.1` • Dart plugin `173.4700`

Flutter 0.5.1 • channel beta • https://github.com/flutter/flutter.git
Framework • revision c7ea3ca377 (9 weeks ago) • 2018-05-29 21:07:33 +0200
Engine • revision 1ed25ca7b7
Too

[2018-07-31 14:03] devoncarew commented on #2471
Given that, should we consider that PR for the release?

[2018-07-31 16:14] jacob314 commented on #2510
Landed in master.
Enable --track-widget-creation
https://github.com/flutter/flutter-intellij/commit/b43d9f7fd9d289b65663a2ea2c5ed0efd7120dc5

[2018-07-31 16:47] alexander-doroshko commented on #2511
The problem is probably caused by [this issue](https://youtrack.jetbrains.com/issue/IDEA-196167). Could you please try [IntelliJ IDEA 2018.2.1 RC](https://confluence.jetbrains.com/display/IDEADEV/IDEA+2018.2+EAP) where the problem should be fixed? (You may switch to EAP update channel in Preferences | Appearance & Behavior | System Settings | Updates and check for updates).

[2018-07-31 17:37] DavidHoopes opened #2517 "Android Studio `3.1.3` • Flutter plugin `io.flutter 26.0.1` • Dart plugin `173.4700`"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

First time starting running the app in the emulator.  This just started happening after apt-get update/upgrade.  Ubuntu 16

Android Studio `3.1.3` • Flutter plugin `io.flutter 26.0.1` • Dart p

[2018-07-31 17:57] jacob314 commented on #2510
Landed in master:
Fix exception thrown when restarting an app.
https://github.com/flutter/flutter-intellij/commit/d230d80e8c11ecb044052508834b24ccc9bb5035

[2018-07-31 18:52] jwren commented on #2511
@stevemessick for FYI

Reopen if you suspect that you are hitting something else.

[2018-07-31 19:00] devoncarew commented on #2511
@jwren, this issue is severe enough that we may want to consider keeping it open until the fix rolls into the stable version of 2018.2, and / or updating our known issues list on the readme and mentioning something in the release notes.

[2018-07-31 19:49] stevemessick commented on #2513
The stack trace looks like maybe an analyzer problem. It isn't AS. Maybe Dart2?

[2018-07-31 20:07] pq opened #2518 "Paths to plugin-relative files not resolving in console"
To reproduce, create a new plugin project.  You'll notice that `lib/main.dart` is not hyperlinked as expected.

![image](https://user-images.githubusercontent.com/67586/43484163-694906ce-94c2-11e8-816d-f749477ba2b8.png)

[2018-07-31 21:27] stevemessick opened #2519 "'flutter create' plugin template issue"
The template for plugins (used by `flutter create`) does not include any indication that example/lib is a source folder. It should. The .iml file needs to be updated in the Flutter repos.

[2018-07-31 21:37] pq commented on #2519
Tangentially related, we don't treat `example/lib` as a source root when resolving links in the console either #2518.

[2018-07-31 23:51] alex-field commented on #2513
It looks like an android studio dart plugin issue, because its not a stack trace for application debugging, it appeared every time i launched android studio, so i think maybe its a plugin bug

[2018-08-01 10:18] hjJunior commented on #2517
Same here, on first run of application this happens, and I lose connection to simulator

[2018-08-01 10:32] parasthekoder opened #2520 "Unable to hot reload. No instance of Flutter is currently running."
## What happened

I was hot reloading when the instance is currently loaded/running.
The changes propagates to a different files and it does'nt reflect back from where it is called.
If I change the code of a file which contains the Scaffold it works fine.
If I change the code of a file which doesn't contains the Scaffold. Say for example a StatelessWidget which is inside a scaffold but resides in

[2018-08-01 11:00] parasthekoder commented on #2520
Oops, duplicate issue. See this for more info  [https://github.com/flutter/flutter/issues/19517](url)

[2018-08-01 11:05] #2520 closed

[2018-08-01 11:30] parasthekoder opened #2521 ""error":"Bad state: No element""
## What happened

Ran main.dart from IDE.

## Version information

Android Studio `3.1.3` • Flutter plugin `io.flutter 26.0.1` • Dart plugin `173.4700`

## Flutter Doctor
[code]

## Exception

java.io.IOException: unexpected response: {"id":3,"error":"Bad state: No element","trace":"#0      List.first (dart:core-patch/dart:core/growable_array.dart:211)\n#1      AppDomain.callServiceExtension (pack

[2018-08-01 12:06] parasthekoder opened #2522 "Feature Request : Block reload/run if the error is detected by dart analyzer"
Sometime when writing code I certainly made mistakes and hot reload causes my current instance to be buggy and so I lost the session. This could be better if the hot reload/restart must specify the command or changes to be triggered if required in order to run hot reload/restart more efficiently without bugs.

[2018-08-01 19:25] marlon19991 commented on #1735
I solved it by just Invalidate and Restart. I experienced this isssue in a loop, indexing non stop without Run or Build anything.

File --> Invalidate Cache/Restart.

https://stackoverflow.com/a/51104279/8729293

[2018-08-01 20:10] jwren commented on #2522
Assigning to Devon who has worked on the hot-reload dev cycle in the Flutter plugin.

[2018-08-01 20:26] pq commented on #2519
Looking closer, this is not tangential at all.  The way we resolve links is based on content roots so #2518 would get fixed by this.  That said, adding `example` as a content root doesn't "just work" since it's nested below the base content root which is disallowed.

[2018-08-01 20:58] #2518 closed

[2018-08-01 21:01] goderbauer opened #2524 "Support for DartDoc macros"
When jumping to the definition of a function or property within the flutter framework I often see something like the following:

[code]

It would be great if IntelliJ would offer some sort of support for these DartDoc macros. I'd love it if IntelliJ would just show inline what the macro is referencing. Or at least provide a link to the referenced location.

[2018-08-01 22:37] pq commented on #2510
Another to cherry-pick:

https://github.com/flutter/flutter-intellij/commit/6c36c3230fb61febc4a82cad7d0f05fe54a82c42

FYI @stevemessick, @devoncarew

[2018-08-01 22:59] stevemessick commented on #2510
I have added all current cherry-picks to release_27 and pushed it to github.

[2018-08-02 05:06] devoncarew commented on #2522
@parasthekoder, we shouldn't reload code if the project has analysis errors. Are you seeing this occurring? Could you detail the repro steps for what you're seeing a bit more?

[2018-08-02 05:11] devoncarew commented on #2512
@imWildCat, thanks for the report. Is this behavior consistent for you? If so, can you enable verbose logging (Setting > Flutter > General > enable verbose logging) and re-run? You should see a lot more output in the Run (or Debug) tool window; can you paste the output here? Thanks!

[2018-08-02 05:44] devoncarew commented on #2332
Hmm, I saw hoping that https://github.com/flutter/flutter-intellij/pull/2321 would give us a bit more insight into what was going on here.

[2018-08-02 07:03] parasthekoder commented on #2522
### Steps to reproduce

1. Suppose I've line of code shown below
[code]

2. And from the first line I've removed the semicolon. The dart analyzer issues that semicolon is missing.
3. Now Press Hot Reload.
4. The Run tab shows this.
[code]

_So, tell me what's the last line indicates ? Well I think it is hot reloaded but in actual it shouldn't be._

[2018-08-02 07:08] parasthekoder commented on #2522
Eventually doing these repeatedly results into this fatal crash https://github.com/flutter/flutter/issues/19517

[2018-08-02 16:17] devoncarew commented on #2510
One more to cherry-pick:
- d9be215146532c6ccb57324b08343378be26fd7a

[2018-08-02 17:15] stevemessick commented on #2510
The release_27 branch has been updated with all recent cherry-picks. To be clear, everything merged to master through d9be215146532c6ccb57324b08343378be26fd7a is included in release_27 at this point.

[2018-08-02 18:39] stevemessick opened #2527 "Wrong link in balloon"
The "Flutter supports hot reload" balloon has the wrong link. It takes you to [Getting Started](https://flutter.io/get-started/) which is close. That page used to have a specific label for hot reload but that content has been moved. Perhaps a better link would be to the [Hot Reload](https://flutter.io/hot-reload/) page.

[2018-08-02 20:42] paolosoares commented on #1655
+1 for customer:mulligan

[2018-08-02 21:43] stevemessick opened #2528 "New window not visible"
While a project window is open, create a new project. Make sure to open new projects in a new window (not replacing current window); change the preference if necessary. Note whether the new window is on top of the window stack or not. Sometimes it is, sometimes it isn't. It should always be on top.

[2018-08-02 22:46] stevemessick opened #2529 "Plugin Android module template needs work"
Create a plugin project that uses Kotlin. The Android module that is generated includes content roots that point to directories named "java". The Kotlin code doesn't get indexed. The template files used by the Flutter tool need to be updated to work for both Java and Kotlin.

The app template also needs work, but it isn't quite as bad. It does need to have the "kotlin" directory added as a content

[2018-08-03 00:27] alex-field commented on #2513
thanks for the aid, maybe trying an upgrade

[2018-08-03 00:27] #2513 closed

[2018-08-03 03:46] hwasoosung commented on #1735
File / Invalidate Cache / Restart only worked that moment. When I add or save file indexing happens again.

[2018-08-03 16:51] devoncarew commented on #2511
I updated the readme to reference this issue (https://github.com/flutter/flutter-intellij/commit/109e9f3f0a9a931cdf0ea7c4f2558418b7179e14); we expect the fix to be in the stable version of 2018.2 ~next week.

[2018-08-03 19:57] devoncarew commented on #2510
It's released!

[2018-08-03 19:57] #2510 closed

[2018-08-03 23:59] AleksandarFaraj commented on #2167
I believe if you sent out a survey about developer satisfaction with flutter, this is going to be one of the biggest pain points with flutter development. This issue is worse than anything language/framework specific I've had to deal with before.

[2018-08-04 07:33] alexander-doroshko commented on #2167
@AleksandarFaraj, as far as I know, all known issues like this are already fixed in the latest releases. Please paste a problematic code sample and IDE / Dart plugin version that you use. Thanks!

[2018-08-04 08:11] rvowles commented on #2511
It is worth keeping this issue open so people like me can more find it and find a resolution. It was driving me bonkers :-)

[2018-08-04 21:11] dazza5000 commented on #2084
Experiencing this on Ubuntu

[2018-08-05 09:36] Seifon opened #2530 "idea "updating indices""
I to do new Flutter Project on Idea,
idea repeated hints "updating indices",

my other Java Project is not this Situation.

my idea is latest version.

my development environment is Mac OS 10.13.1

help me, please!

[2018-08-05 11:00] Mojtaba-Shafaei opened #2531 "plugin"
## What happened

I work on an android project. NOT a flutter project.

## Version information

Android Studio `3.3 Canary 4` • Flutter plugin `io.flutter 27.0.3` • Dart plugin `182.3208.4`

No Flutter sdk configured.

## Exception

null

[code]

[2018-08-06 03:55] jiangzhixiao opened #2532 "variable is showing "Collecting data...""
## Steps to Reproduce

i'm debuging ,and some value is not showing
these four values : iterator,specifiedType,result,serializer shows "Collecting data..."
![image](https://user-images.githubusercontent.com/7273487/43696159-5026b9e6-996f-11e8-86f6-f6dc7f9e61da.png)

## Version info

[√] Flutter (Channel dev, v0.5.6, on Microsoft Windows [Version 10.0.17134.165], locale zh-CN)
    • Flutter version

[2018-08-06 14:30] pq commented on #2532
/cc @jacob314

[2018-08-06 14:35] pq commented on #2521
Thanks for the report @parasthekoder.  We just released a new version of the Flutter Plugin (27.0) that may address this issue.   At the same time, make sure you're on the latest flutter (`flutter upgrade` from the command line, or Tools > Flutter from the IDE).  Let us know if the issue persists after upgrades.

Cheers!

[2018-08-06 14:35] #2521 closed

[2018-08-06 14:36] pq commented on #2524
/cc @jcollins-g @scheglov

[2018-08-06 14:38] pq commented on #2530
Thanks for the report!  Are you on the latest Flutter plugin (27.0)?  If so and the problem persists, try invalidating your IDEA caches and restarting.

![image](https://user-images.githubusercontent.com/67586/43723110-b7d54f68-994b-11e8-854e-30d954ece812.png)

(Last option in the restart dialog.)

Let us know if that works!

[2018-08-06 14:38] #2530 closed

[2018-08-06 14:39] pq commented on #2531
/cc @stevemessick

[2018-08-06 16:11] scheglov commented on #2524
When you say "show inline", do you mean Quick Documentation feature of IntelliJ?
![image](https://user-images.githubusercontent.com/384794/43727885-1c8b8722-9958-11e8-9994-357cb05b14d4.png)

This should be easy to do, although very Flutter specific (not a bad thing, we love Flutter :-)). We could index all templates in FileState in unlinked summary and extend AnalysisDriver to search templates by

[2018-08-06 17:10] devoncarew opened #2533 "revert the --track-widget-creation default"
From user reports, we should:
- revert having --track-widget-creation default to on
- push out a new build
- escalate getting the flutter_tools / kernel issue fixed

[2018-08-06 17:12] pq commented on #2471
@stevemessick: now that #2504 has landed can we treat this as fixed?

[2018-08-06 18:00] stevemessick commented on #2531
The Flutter plugin for Android Studio does not work with 3.3 Canary 4. I suggest uninstalling it. In general, we support stable and beta channels but not canary.

[2018-08-06 18:00] #2531 closed

[2018-08-06 18:09] pq commented on #2533
See related: https://github.com/Dart-Code/Dart-Code/issues/1133.

[2018-08-06 19:43] devoncarew commented on #2533
revert commit here: 6b9c0c9211403f9fa36b5522d51a5e2562e9fbe9

[2018-08-06 19:58] stevemessick commented on #2471
This problem isn't fixed. I'm just hoping whatever broke in AS is fixed by the stable release. It IS fixed in canary.

[2018-08-06 20:00] devoncarew commented on #2533
Cherry-picked into `release_27` - re-running the build now.

[2018-08-06 21:27] lukef opened #2537 "Hot reload on save triggered by non-dart files"
I'm sure there are valid reasons for this...
If you're editing your README.md, CHANGELOG, etc then hot reload will fire on each save. It might make sense to exclude certain top-level files or make it specific to `.dart` files?

[2018-08-07 00:14] pq commented on #2537
/cc @devoncarew

[2018-08-07 04:28] beardo01 commented on #2512
Thought I'd add that I was having the same issue after upgrading to macOS Mojave Developer Beta 6. Reinstalling Flutter fixed this for me.

[2018-08-07 20:45] devoncarew commented on #2511
IntelliJ IDEA 2018.2.1 is out, and this does look fixed.

[2018-08-07 20:45] #2511 closed

[2018-08-08 06:10] rizwan49 commented on #1735
File/invalidate cache/ after that restart and it will be fine

[2018-08-08 06:45] Kamil-H commented on #2084
I also have this problem on Mac, with such configuration:
`Android Studio 3.0.1
Build #AI-171.4443003, built on November 9, 2017
JRE: 1.8.0_152-release-915-b08 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6`

`flutter divices` gives following answer:
`2 connected devices:
SM G930F             • ad081603...                      • android-arm64 • Android 8.0.0 (API 26)
iPho

[2018-08-08 15:41] jmnyv commented on #2017
Still getting this in IntelliJ Ultimate (Build #IU-182.3684.101, built on July 24, 2018).

Tried upgrading flutter, invalidating caches, deleting .idea and re-opening the project. Still twitching.

[2018-08-08 18:36] devoncarew commented on #2537
Hi @lukef!

We did get some feedback from UX on an earlier version of this feature, which did do something similar to what you suggested. It reloaded either on dart project files, or whether there was an actual change to a file. What we found was that it was difficult to reason for the user about when a save would reload, and the mental model they formed was more that cmd-S was the keybinding for

[2018-08-08 21:27] goodmang opened #2538 "NPE in DartVmServiceEvaluator"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 27.1.1` • Dart plugin `173.4700`

Flutter 0.5.1 • channel beta • https://github.com/flutter/flutter.git
Framework • revision c7ea3ca377 (2 months

[2018-08-09 00:16] pq commented on #2538
/cc @jacob314

[2018-08-09 02:26] Sun3 opened #2539 "Flutter lib folder - Missing Menu option Create New Folder"
## Steps to Reproduce
1. Create New Flutter Project in Android Studio
2. Right Click the lib folder to open Menu
3. New Folder (Directory) is missing from option

Note, the only way to create Folders is to create a New Dart File with a new Folder name before it. This is very inconvenient when trying to create multiple folders without content.

## Version info

flutter doctor -v
[✓] Flutter (Channe

[2018-08-09 08:05] jaumard commented on #315
Can't we have at least an option "open to AppCode" ? Or it will not work also ?

[2018-08-09 10:44] aeroxy commented on #2017
Same issue here with IntelliJ IDEA 2018.2 (Ultimate Edition)
Build #IU-182.3684.101
JRE: 1.8.0_152-release-1248-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6
Dart Plugin 182.3911.9
Flutter Plugin 27.1.3

[2018-08-09 14:57] stevemessick commented on #2539
Apparently, IntelliJ (and, therefore, Android Studio) interprets `source` folders in Java terms. Instead of creating new folders it wants you to create new packages. I'm not sure what we can do about that, since it isn't something we control.

We need to mark the `lib` folder as a `source` folder to ensure indexing and other behind-the-scenes operations are enabled.

[2018-08-09 16:50] Sun3 commented on #2539
In my test the IntelliJ IDEA editor for the lib folder, it has the Create Directory in the menu option. Just the Android Studio does not.  :)

[2018-08-09 18:12] #2501 closed

[2018-08-09 18:28] stevemessick commented on #2539
Looks like it depends on the version of IntelliJ. This isn't something we'll be changing.

[2018-08-09 18:28] #2539 closed

[2018-08-10 20:49] lukef commented on #2537
Hey @devoncarew. What if there was an exclude option in the project settings? That way if you have assets, documentation, etc then they won't trigger reloads? By default, nothing could be excluded.

[2018-08-11 06:27] soudegesu opened #2540 "NoClassDefFoundError occurred when starting IntelliJ IDEA 2017.3.1"
## What happened

This issue occurred when opening flutter project on IntelliJ Idea.

## Version information

IntelliJ IDEA `2017.3.1` • Flutter plugin `io.flutter 27.1.1` • Dart plugin `173.3942.31`

Flutter 0.5.1 • channel beta • https://github.com/flutter/flutter.git
Framework • revision c7ea3ca377 (2 months ago) • 2018-05-29 21:07:33 +0200
Engine • revision 1ed25ca7b7
Tools • Dart 2.0.0-dev.58

[2018-08-11 18:44] devoncarew commented on #2540
If you check for updates in IntelliJ, are there any available for the Dart plugin? `173.3942.31` looks like an older version.

[2018-08-11 19:03] devoncarew commented on #2537
Hmm, currently we'd trigger even if there was no file open. If we didn't - or filtered on some specific project files or file types - then the user may not always understand why cmd-s reloads some of the times but not others. I.e. they'd need a more sophisticated mental modal than 'cmd-s == reload', it would need to be something like 'cmd-s == reload, if there's a file open, and the file is essent

[2018-08-11 19:41] lukef commented on #2537
I guess, to be totally fair, I could just stop the app while editing certain files. It just seems weird / bad / unpredictable to have the app hot reloading in the background when I'm editing a file that is not associated directly with the compilation process.

I'm curious what users would really be confused that hot reload wasn't working when hitting `ctrl+s` while editing a support / non-dart fil

[2018-08-11 19:44] lukef commented on #2537
VS code has an option like this for file watcher (not sure if the dart plugin observes it):
[code]
I was wondering if it's possible to add something like that on a workspace/per project basis?

[2018-08-11 23:05] soudegesu commented on #2540
Thank you for your reply.

Understood!
I could resolve this problem by updating dart plugin to 173.4700 after updating IntelliJ Idea 2017.3.1 to 2017.3.5.

[2018-08-13 16:10] DanTup commented on #2537
FWIW, in VS Code we hook the save event for hot reload (which means if VS Code decides there's nothing to save, it won't trigger, even if you're hitting the Save shortcut key). Then we check:

- `flutterHotReloadOnSave` is enabled
- The file is in the an open workspace folder
- The file extension of the save is `.dart`
- There are no diagnostics of type `Error` in the problems list for that file

[2018-08-13 17:37] goderbauer commented on #2524
@scheglov I did not have a specific UI in mind, but that would work. Although it might be hard to discover?

[2018-08-13 17:42] gspencergoog commented on #2228
One difference between the Ctrl/Cmd-I and Alt/Cmd-Enter way is that I have to actually have the cursor on the class name to have the context menu appear, as opposed to anywhere inside of the class declaration.

[2018-08-13 17:49] 1and1get2 commented on #2024
[code]

https://github.com/flutter/flutter/issues/10630

[2018-08-14 04:34] mamert commented on #2084
Similar. I usually have 2 Android Studio windows open, 1 with a flutter app, 1 with a plain Android app.
The latter has no problems, the former frequently  (almost always after sleep, often even just after launching AS) gives "no connected devices found".

**Fixed by calling "flutter devices"** in AR's Terminal at the bottom.

ANDROID_HOME and ANDROID_SDK_ROOT are set correctly.

[2018-08-14 14:14] devoncarew opened #2541 "tracking issue for android studio based performance tooling"
@terrylucas, getting some thoughts down about what we need to do to productionize the Android Studio based performance tooling, the versions we'd want to roll out, and the order of items:

V1:
- [x] create a new place for the content as a tool window positioned on the bottom of the window
- [x] implement a memory view based on the current functionality
- [x] build system work to be able to build a

[2018-08-15 23:52] InMatrix opened #2543 "Verify reload and restart analytics data"
We have three questions:
* When the user performs a hot reload or a restart in IntelliJ, will the event end up in Flutter Tool's Google Analytics account?
* How about VS Code?
* If a user uses both the command line tool and IntelliJ, will the user has two separate client ids on her machine?

[2018-08-16 04:44] xster opened #2544 "Complete Current Statement does some strange things"
![aug-15-2018 21-42-36](https://user-images.githubusercontent.com/156888/44188773-43743400-a0d4-11e8-8099-12e856ec612a.gif)

Since Flutter's all about chains of constructors, perhaps it should try to do something with the current constructor instead.

[2018-08-16 13:45] devoncarew commented on #2544
cc @stevemessick

[2018-08-16 20:41] InMatrix commented on #2543
@DanTup, do you have any insights into how the VS Code plugin send reload and restart events to Google Analytics? Does it go through Flutter Tool?

[2018-08-16 21:44] xster commented on #2544
Somewhat related, maybe the analysis server doesn't support complete current statement at all. Would be nice to be able to `import 'something.dart'`, press the key combo and get the ; and go to next line

[2018-08-16 21:52] stevemessick commented on #2544
Thanks, that's a good suggestion. It didn't occur to me before. I added it for Dart about a year ago and I think @scheglov has made some improvements since then.

I think the original request is more of a new feature, though, since it isn't really completing the statement. It is more like "do what I mean here in this constructor" and, yes, could be really useful for Flutter. What should have happe

[2018-08-16 23:05] InMatrix opened #2545 "Automatically rename the State object when its StatefulWidget object is renamed"
## Steps to Reproduce

* Create a StatefulWidget using the IntelliJ template.
* Rename the StatefulWidget using the refactoring feature
* Its State object is not renamed.

## Version info

[✓] Flutter (Channel master, v0.5.9-pre.33, on Mac OS X 10.13.6 17G65, locale en-US)
    • Flutter version 0.5.9-pre.33 at /Users/taodong/Code/flutter_repos/flutter
    • Framework revision 7762e45115 (2 days ag

[2018-08-17 18:11] xster commented on #2544
A bit of both I think.

Right now, completing on `var a = 1 + 1` doesn't add a semi column.

In the Flutter case above, I'd say add a comma and insert and go to a next line.

[2018-08-17 22:47] AskYous commented on #1205
Thanks @mit-mit!

[2018-08-18 02:04] xster opened #2546 "Flutter inspector for widget tests"
Debugging complex widget tests often involves a lot of debugDumpApp() to look at the current state of the UI but terminal tree dumps are unwieldy. Especially trying to connect widgets with render objects. Would be awesome to bring the power of the inspector to tests.

[2018-08-19 14:22] ckakunje opened #2547 "No WISIWIG Editor for Flutter"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

The flutter is very promising , however the GUI coding has to be done manually is outdated concept. Would like to see a nice drag and

[2018-08-19 16:15] zoechi commented on #2547
Dup of #2347

[2018-08-19 23:41] dazza5000 commented on #2084
I was able to fix this by doing the following advice found in this stackoverflow question:

https://stackoverflow.com/a/51644461/3268303

[code]

[2018-08-20 16:58] devoncarew commented on #2543
Yes - I confirmed in the source code - flutter_tools does send analytics events, whether the reload/restart is triggered via an IDE or from the CLI.

Yes, they'll have separate IDs from the Flutter IntelliJ's analytics (store in IntelliJ metadata), and from the flutter_tools analytics (stored in `~/.flutter`).

[2018-08-20 18:31] devoncarew opened #2549 "move the Android emulator launching code over to using the flutter_tools implementation"
See https://github.com/flutter/flutter/issues/13379; we can launch Android emulators in IntelliJ, but we're using a separate code path from flutter_tools. We should move over to the flutter_tools based impl.

[2018-08-20 20:32] xster opened #2550 "Navigate to failure in test"
Would be nice to have a feature where double clicking a failed test in a widget test file goes to the `expect` line that failed for the particular test function.

[2018-08-20 21:53] devoncarew commented on #2546
cc @jacob314 for FYI

[2018-08-20 21:56] devoncarew commented on #2550
@xster, you don't happen to have a screenshot for context?

[2018-08-20 21:57] devoncarew commented on #2545
cc @scheglov

[2018-08-20 22:10] InMatrix commented on #2543
Just to verify my understanding, does the above mean if I perform a hot reload in IntelliJ, this event will generate a record in the Flutter Plugin for JetBrain's analytics with one ClientID _and_ another record in Flutter Tool's analytics with a _different_ Client ID?

[2018-08-20 22:17] devoncarew commented on #2543
Yes to the above :)

The same event will generate two different records, into separate analytics properties, w/ unrelated client IDs.

[2018-08-20 22:49] devoncarew commented on #2543
Yes, VS Code reloads should end up in the flutter_tools analytics stream as well.

Sounds right (and, I think we can close this issue now).

[2018-08-20 22:49] #2543 closed

[2018-08-21 06:32] zoechi opened #2551 "Run/debug tests on device/emulator"
Currently I can run/debug tests using
![image](https://user-images.githubusercontent.com/405837/44384325-1f718200-a51c-11e8-81d7-b49f30f7c8d3.png)
but I can not run/debug them on a device/emulator without manually creating a different run configuration.
I find this quite cumbersome when I want to see what is actually rendered during debugging.

An additional set of context menus with "run/debug ..

[2018-08-21 17:26] pq opened #2552 "Respect ANSI color codes in log entries."
If log entries include ANSI color escapes, we should respect them.

Corresponding issue in the flutter repo: https://github.com/flutter/flutter/issues/20663.

(An open question is how this can/should interact with category colors.)

/cc @quangson91

[2018-08-22 09:28] isnafirdasari commented on #1735
yeah just click File/invalidate cache/invalidate and restart, and the problem about indexing solved

[2018-08-22 15:08] devoncarew commented on #2550
Ah, gotcha.

cc @pq

[2018-08-22 16:48] zoechi opened #2553 "colors added from a local theme, or created on the spot, should show inline preview in AndroidStudio"
@d-silveira commented on [Tue Aug 14 2018](https://github.com/flutter/flutter/issues/20572)

colors added from a local theme, or created on the spot, should show inline preview like the ones from Material do in AndroidStudio

---

@zoechi commented on [Wed Aug 22 2018](https://github.com/flutter/flutter/issues/20572#issuecomment-415100408)

@devoncarew

[2018-08-22 19:50] devoncarew commented on #2553
Makes sense, thanks for the feedback!

[2018-08-22 21:13] move[bot] opened #2554 "Flutter projects in Android Studio are unaware of gradle dependencies"
*@amirh commented on Aug 22, 2018, 7:55 PM UTC:*

Repro steps:

1.  Create a new Flutter application project in Android Studio.

2.  Edit android/app/build.gradle and add a dependency, for example these are my dependencies after adding play services maps:

[code]

3.  Use the dependency in Java code, here's a simple MainActivity.java to illustrate the issue:

[code]

EXPECTED RESULT:
Android Studi

[2018-08-22 21:14] devoncarew commented on #2554
@stevemessick, I think you're likely best set up to answer this one -

[2018-08-22 21:49] stevemessick commented on #2554
Duplicate of:
https://github.com/flutter/flutter-intellij/issues/2124
Tracking issue:
https://github.com/flutter/flutter-intellij/issues/2243
Recent progress:
https://github.com/flutter/flutter-intellij/pull/2506 (add a setting to control syncing Android libraries)

It still needs work. The libraries are not getting set up quite right and the Gradle build isn't doing everything correctly yet (plus

[2018-08-23 20:55] yashovardhan99 commented on #1735
I'm programming in Java so I'm not sure if this is relevant but I noticed that this issue started when I typed in R (to refer to a layout file) in a fragment class. Strangely, if I removed the R, the indexing stopped.
Invalidating the cache/restart did help stop the issue though.

[2018-08-23 21:26] xster commented on #2524
Or just go-to-definition clicking a `@macro` going to the `@template` would be nice too.

[2018-08-23 21:35] jdipina opened #2555 "Error:java: invalid source release: 10"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

## Version info

Please paste the output of running `flutter doctor -v` here (available from the command
line or from `Tools > Flutter

[2018-08-24 01:45] xster opened #2556 "View flutter layer tree in inspector"
Breaking it off of #1655.

Actually visualizing a layer tree would be really useful. Our solution currently for improving paint performance is saying:

1. Hopefully default widgets mostly does the right thing
2. Otherwise, you might want to introduce repaint boundaries manually at the right place in the layer tree.

But without being able to see the layer tree, it's difficult to optimize.

[2018-08-24 03:37] devoncarew commented on #2556
cc @jacob314 @InMatrix

[2018-08-24 07:21] shakil807g opened #2557 "There must be a intentions for streamBuilder and futureBuilder"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

## Version info

Please paste the output of running `flutter doctor -v` here (available from the command
line or from `Tools > Flutter

[2018-08-24 23:06] gspencergoog opened #2558 "'convert to async function body' doesn't grok abstract accessor functions properly."
If you have the following class:

[code]

And you select the 'convert to async function body' action on the "accessor" member, the result is:

[code]
(Note the missing space between `accessor` and `async`, and the extra space after the async)

In the case of an abstract function, it should just change the return type, and not add `async`.

[2018-08-25 10:47] koudle opened #2559 "Cannot automatically update the value of the flutter.sdk in local.properties"
## Steps to Reproduce

The following conditions do not automatically update the value of the  flutter.sdk
1. Delete local.properties
2. Change Flutter's PATH variable

## Version info

 Flutter plugin version 26.0.1
 Dart plugin version 173.4700

[2018-08-26 05:15] RitamChakraborty commented on #364
Download the dart SDK form [https://www.dartlang.org/tools/sdk/archive](here)
Extract the zip in a specfic folder
Locate the folder in Intellij IDEA
![screenshot from 2018-08-26 10-43-57](https://user-images.githubusercontent.com/25701414/44625067-11a56d80-a91d-11e8-9048-15b2cb4859d9.png)

[2018-08-27 02:57] AjayDev1234 opened #2560 "java.io.IOException: error from app.callServiceExtension: "Bad state: No element""
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

## Version info

Please paste the output of running `flutter doctor -v` here (available from the command
line or from `Tools > Flutter

[2018-08-27 04:38] devoncarew commented on #2558
@scheglov

[2018-08-27 04:39] devoncarew commented on #2557
@shakil807g, could you clarify this request a bit? Thanks!

[2018-08-27 04:40] devoncarew commented on #2555
@jdipina, can you describe the conditions under which you saw this issue? And, can you paste the output of running `flutter doctor` from the command line? Thanks!

[2018-08-27 04:42] devoncarew commented on #2554
@stevemessick, thanks for triaging; sounds like we have existing issues which already track this.

[2018-08-27 04:42] #2554 closed

[2018-08-27 04:43] devoncarew commented on #2551
@pq for consideration

[2018-08-27 04:45] devoncarew commented on #2547
@zoechi, thanks for tracking down the dup.

@ckakunje, the Flutter team currently doesn't offer a GUI editor. We're focusing on making the experience of building your UI in code as good as possible. There is at least one third-party GUI builder available that I'm aware of.

[2018-08-27 04:45] #2547 closed

[2018-08-27 04:47] devoncarew commented on #2559
@koudle, do you mean automatically update the value of the Flutter SDK from the CLI's perspective, of forthe Flutter IntelliJ plugin? Given the PATH env variable change, you'd likely need to restart IntelliJ for the change to be detected.

[2018-08-27 12:14] jenisonleo commented on #2024
any updates or workaround on this .

[2018-08-27 13:09] #2560 closed

[2018-08-27 15:04] jacob314 commented on #2217
Sending paths in both formats shouldn't break anything. Feel free to do that if you want to make the transition easier in the future.

[2018-08-27 15:28] d-silveira opened #2561 "Enhancement request: auto-complete the types in a method/constructor call"
Hey guys, I sometimes have trouble coding, for not remembering every type by heart, and think the intellij plugin could help alot in this.
For example in a streambuilder, you define the stream, maybe an initialData, but then you get to the builder, which must be ```(Builcontext context, AsyncSnapshot<T> snapshot) { }``` and you just get no completion to help you, I wish some kind of completion be

[2018-08-27 15:47] scheglov commented on #2558
https://dart-review.googlesource.com/c/sdk/+/71560

[2018-08-27 15:59] d-silveira opened #2562 "Enhancement request: auto-completion on debug evaluate expression"
I would expect to find, but didn't, auto-completion when building expressions for instant evaluation, when you are stopped on a breakpoint in debug mode, for instance

[2018-08-27 16:31] #2558 closed

[2018-08-28 04:26] rodelrebucas commented on #2038
@wheymajor, Android studio>file>settings>flutter, Check run application with --track-widget-creation.
Make you sure you have the flutter plugin installed.

[2018-08-28 08:26] zoechi opened #2566 "flutter outline plugin suggestions"
@bravekingzhang commented on [Fri Apr 13 2018](https://github.com/flutter/flutter/issues/16559)

![image](https://user-images.githubusercontent.com/4476322/38720541-30185e8e-3f29-11e8-81bc-82b0043c3466.png)

1. would you offer us `warp with Container`
2. add padding seems to be  have bug ,The loss of `new` key word may lead to run errors

---

@bravekingzhang commented on [Fri Apr 13 2018](https:/

[2018-08-28 15:06] dooboolab opened #2567 "Bug during hot reload"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.1.3` • Flutter plugin `io.flutter 27.1.1` • Dart plugin `173.4700`

Flutter 0.5.7 • channel dev • https://github.com/flutter/flutter.git
Framework • revision 66091f9696 (7 weeks a

[2018-08-28 16:55] gosoares commented on #2126
I'm having the same issue. And if i open the android module of a plugin i got this:
![screenshot_20180828_135300](https://user-images.githubusercontent.com/9306656/44737972-dac08a80-aac9-11e8-8a65-4012baccff73.png)

[2018-08-28 22:55] xster opened #2569 "Running against iOS simulator crashes simulator"
In Xcode 9.4.1 and Flutter plugin version 27.1.3, run a project against an iOS simulator. The simulator crashes and can't be opened again.

Would need to go into Xcode, open devices, delete the previously open simulator. Then the Simulator app can open again

[code]

[2018-08-28 23:06] xster commented on #2569
After messing with different configurations, it seems like turning on 'Replace the Run and Debug console output with an experimental Flutter Logging view' causes this.

[2018-08-29 14:43] idkjs opened #2570 "Random Bug Report"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 27.1.1` • Dart plugin `173.4700`

Flutter 0.5.1 • channel beta • https://github.com/flutter/flutter.git
Framework • revision c7ea3ca377 (3 months

[2018-08-29 16:43] stevemessick commented on #2570
Thanks for the report. This is a duplicate of https://github.com/flutter/flutter-intellij/issues/2567 so we'll track it there.

[2018-08-29 16:43] #2570 closed

[2018-08-29 18:57] MontiniCristian commented on #563
What about the support of this feature for vs-code?

[2018-08-29 19:30] stevemessick opened #2571 "Possible Flutter inspector memory leak"
Saw this in the debugger console while running a debuggable Android Studio. I had two projects open in separate AS windows. The active window was for an Android project that had a debugger running. The other window was a Flutter project for a module used in the Android project. Oddly enough, the Android project had a right-side tab labeled `Flutter Outline` and another `Flutter Inspector`. I would

[2018-08-29 19:47] RedBrogdon opened #2572 "Flutter Inspector's "Select Widget" mode not working with CupertinoApp"
I have this code in an otherwise empty project:

[code]

When I run the app, it displays as normal. If I open the Flutter Inspector and click the button to turn on Select Widget mode, though, I get a red error screen on the iOS simulator, and this error message in the console:

[code]

## Version info

[code]

[2018-08-30 09:35] zoechi opened #2573 "Android Studio, Flutter not showing typos warning in String literals. However it shows typos for fields and methods."
@dark-chocolate commented on [Tue Aug 28 2018](https://github.com/flutter/flutter/issues/21118)

Demo image.
![image](https://user-images.githubusercontent.com/40364434/44732518-1af02f00-ab03-11e8-93f2-132d5cc88d62.png)

Settings image
![image](https://user-images.githubusercontent.com/40364434/44732411-d795c080-ab02-11e8-99c1-c8b1db33b882.png)

---

@zoechi commented on [Tue Aug 28 2018](https://

[2018-08-30 13:36] brianegan opened #2574 "Flutter Test run for normal Dart Tests"
Hello! I've been running into this bug more and more as I work on projects that contain some Flutter directories along-side plain-old-Dart projects or Angular Dart projects.

Use-case: I have a project with 3 directories:

  - `app_base`: Pure Dart lib to be shared by an Angular and Flutter app
  - `app_flutter`: Flutter app that relies on app_base
  - `app_angular`: Angular app that relies on app

[2018-08-30 13:42] zoechi commented on #2574
Related #2551, https://youtrack.jetbrains.com/issue/WEB-28911

[2018-08-30 14:11] brianegan commented on #2574
Thanks @zoechi :) Yah, that issue also mentions another bug I've run into: The Flutter plugin requires the root of the project to be a Flutter project. Not sure if that's still the case, but it'd be great if that wasn't a constraint.

[2018-08-30 15:29] devoncarew opened #2575 "'Import Module' project type shows in the IntelliJ project wizard w/o a description"
The new `Import Module` project type shows as an option in the IntelliJ project wizard. After selecting it and creating the project, the project type can't run (flutter gives an error about missing iOS resources).

This may be expected given the module is fragment of a project. I think the main actionable item from the bug report is that we have 4 project types available in the project type pulldo

[2018-08-30 15:32] devoncarew opened #2576 "filter for the new logging view doesn't apply on first open"
When using the new logging view, I have the filter set to 'config', but am seeing garbage collection events (in the 'finer' category). When I change the filter, it does properly filter in and out the finer events, so I think this is an issue w/ the view when it's first opened.

@pq

[2018-08-30 15:55] stevemessick commented on #2575
This was fixed in https://github.com/flutter/flutter-intellij/pull/2568

"Import Module" only makes sense in an Android app, and should never show in a Flutter project.

[2018-08-30 15:55] #2575 closed

[2018-08-30 18:29] devoncarew commented on #2566
cc @scheglov

[2018-08-30 19:27] stevemessick commented on #2574
@pq may have some thoughts on this.

[2018-08-30 19:40] stevemessick commented on #2573
If this is going to be addressed it will probably be by the Dart Analyzer, which does all the static error analysis for Dart and Flutter code. Perhaps @bwilkerson could say whether this issue ought to be moved to the analyzer project?

[2018-08-30 19:45] devoncarew commented on #2573
It sounds like this might be an issue in the Dart plugin (and would be best to track in youtrack)?

[2018-08-30 19:53] stevemessick commented on #2572
This is reproducible. @jacob314 can you take a look and determine if the problem is in the inspector or the Flutter code on the device?

[2018-08-30 20:12] zoechi commented on #2573
I suggested youtrack already and they sent him back :-/

[2018-08-31 08:34] gliheng commented on #2084
Fixed it by following dazza5000's solution. Thank you!

[2018-08-31 13:48] shakil807g commented on #2557
Can i add wrap with widget like shortcut for  streambuilder or futurebuilder . which wrap widget with streamBuilder.

[2018-08-31 18:43] clocksmith opened #2577 "Collapse doc comments does not work for .dart files"
Not sure if this is a dart plugin bug or a flutter plugin bug.

## Steps to Reproduce

1. Open a file with doc comments, such as tab_controller.dart
2. Right click the text area, and select: Folding > Collapse doc comments

expected:
doc comments collapse

actual:
doc comments do not collapse

notes:
The doc comments are recognized as collapsable because the + and - icon appears in the gutter, and

[2018-09-01 08:06] zoechi commented on #2573
I see. can you post a link? Youtrack would be https://youtrack.jetbrains.com/ (as posted in my first comment above)

[2018-09-01 08:15] dark-chocolate commented on #2573
I am sorry due to some issues (internally) I can't share Google Tracker link, however I just posted a new issue to youtrack on your say and here is the link for that.
https://youtrack.jetbrains.com/issue/IDEA-198218

[2018-09-01 20:51] vivek2089 opened #2578 "Android studio notification appeared with below mentioned exception. Debugging session also ended."
## What happened

A bubble notification appeared with below mentioned exception. Debugging session also ended .I was debugging an async function. The function was reading value from sqlite database. The project uses sqflite plugin. (sqflite: ^0.11.2+2)

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 27.1.1` • Dart plugin `173.4700`

Error getting Flutter sdk informatio

[2018-09-02 09:23] kosiara opened #2579 "Intellij 2018.2.2 RuntimeExceptionWithAttachments: EventQueue.isDispatchThread()=false"
## What happened

creating a brand new project
lang:  Kotlin & Swift

## Version information

IntelliJ IDEA `2018.2.2` • Flutter plugin `io.flutter 27.1.3` • Dart plugin `182.4129.13`

Flutter 0.6.0 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 9299c02cf7 (2 weeks ago) • 2018-08-16 00:35:12 +0200
Engine • revision e3687f70c7
Tools • Dart 2.1.0-dev.0.0.flutter-be63096

[2018-09-02 09:34] zoechi opened #2580 "asset name in AndroidStudio should suggest auto-completions from assets configured in pubspec.yaml"
@d-silveira commented on [Tue Aug 14 2018](https://github.com/flutter/flutter/issues/20571)

1. When for instance creating an ``Image.asset()`` in AndroidStudio the assets name should suggest auto-completions from the assets already configured in pubspec.yaml.
2. On a second revision a preview of the asset should appear both inline and on the documentation tooltip.
3. On a third revision, it would

[2018-09-02 10:02] zoechi opened #2581 "Pubspec.yaml assets in AndroidStudio should suggest auto-completions"
@d-silveira commented on [Tue Aug 14 2018](https://github.com/flutter/flutter/issues/20570)

I expected the AndroidStudio flutter plugin to suggest auto-completions when adding an asset, from the asset files present in the flutter project.
No matter what I expected, this is a really useful feature, to keep us from having to memorize the exact asset path/name, every time we add one.

---

@zoechi c

[2018-09-02 14:15] ubarua123 commented on #2347
I wonder what has google (or whoever is involved) has achieved by this. "Design beautiful apps" and all that hype for what. The development time for this is going to be HUGE. Why would I want to write in such a language/framework where I have to write 20 lines just add a Text Widget. Horrible.

[2018-09-03 00:55] jifalops commented on #1918
I'm getting this error when running `./example/main.dart` on a package (not plugin) that is a Widget.

[2018-09-03 08:59] BorzdeG opened #2582 "ClassNotFoundException: io.flutter.actions.FlutterNewProjectAction PluginClassLoader"
## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.3 Canary 8` • Flutter plugin `io.flutter 27.1.3` • Dart plugin `182.3911.37`

Flutter 0.7.6-pre.20 • channel master • git@github.com:BorzdeG/flutter.git
Framework • revision 457e7b23df (2 days ago) • 2018-09-01 04:06:46 -0700
Engine • revision 017dafd426
Tools • Dart 2.1.

[2018-09-03 10:41] d-silveira commented on #2581
The pull request you mention is very useful, and does relax the need for what I requested,
still, I'd only consider this issue closed with a link to the docs where that feature is mentioned, at least.
At most I would say that this is a slightly different request

[2018-09-03 10:43] d-silveira commented on #2580
I agree, that which you suggested, seems perfect, like Icons work

[2018-09-04 01:01] scheglov commented on #2566
https://github.com/flutter/flutter-intellij/pull/2583

[2018-09-04 16:03] jwren commented on #2582
Assigning to Steve as this is his wheel-house.

[2018-09-04 16:06] jwren commented on #2581
This support would come from the Analysis Server, the duplicate issue for this is https://github.com/dart-lang/sdk/issues/28534

[2018-09-04 16:06] #2581 closed

[2018-09-04 16:09] jwren commented on #2578
Do we need a new push of the VM Service Protocol?

[2018-09-04 16:16] jwren commented on #2577
First verify that there aren't any parse errors in the file using the Dart Analysis view.

After than, open an issue in JetBrain's YouTrack with "Dart" as the "Subsystem", assign to me (Jaime Wren) or Alexander Doroshko.   Also include the syntax of the comment.

[2018-09-04 16:16] #2577 closed

[2018-09-04 16:16] jwren commented on #2577
https://youtrack.jetbrains.com/issues?q=%23dart%20%23Unresolved

[2018-09-04 16:19] stevemessick commented on #2582
Canary builds are not supported.

[2018-09-04 16:19] #2582 closed

[2018-09-04 16:20] #2557 closed, assigned to nobody

[2018-09-04 17:26] quangson91 commented on #2576
@devoncarew I fixed this issue in this PR: https://github.com/flutter/flutter-intellij/pull/2584

[2018-09-05 21:02] #2578 closed

[2018-09-05 23:09] devoncarew commented on #2576
Awesome, thanks!

[2018-09-05 23:28] #2576 closed

[2018-09-05 23:30] rtolar opened #2587 "AutoAssist in Android Studio for flutter List.length property mixed with List.length() method"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce
  List<String> strings=<String>["hi"];
  int i = strings.l

After typing "strings.l" hit ctrl-space to bring up the auto-assist window.
The entry that is highlighted has a "P" icon (indicating

[2018-09-05 23:31] rtolar commented on #2587
![flutter-auto-assist-bug](https://user-images.githubusercontent.com/3395457/45126619-7d63b380-b131-11e8-847d-a6d4d614b704.PNG)

[2018-09-06 16:01] jwren commented on #2587
I would guess that this is by design... but I'd be guessing the exact reason why this choice was made, Konstantin?

[2018-09-06 16:16] scheglov commented on #2587
Yes, I think this is by design.

In general when we see `x.foo` at the beginning of a statement, we don't know what user is going to write `x.foo.bar()` or `x.foo = bar`. So, we default to the setter.

However in this case, when the expression is RHS of an assignment, the user definitely means the getter. The same is for invocation arguments. Basically anywhere except of the beginning of a stateme

[2018-09-06 18:05] rtolar commented on #2587
I'm new to Dart and Android Studio, so this may just be my unfamiliarity with both.

The way that AutoAssist shows the signature for a setter was initially confusing.
e.g.  it shows:
1) Red dot (which I now understand means 'setter' vs green dot for 'getter')
2) 'P' icon (for property)
3) a method signature (e.g. `length(int newLength)` )

However, the method signature isn't valid code.
In other w

[2018-09-06 18:38] pq commented on #2200
Bump w/ an update on the framework-side where I've got a PR out to plumb-in a basic API (https://github.com/flutter/flutter/pull/21505).  Input on the associated issue (https://github.com/flutter/flutter/issues/21504) would be most welcome!

[2018-09-06 19:24] pq opened #2588 "Consolidate (and count) repeated logging messages."
(For inspiration we could look at the dev tools console.)

[2018-09-07 06:34] snehalpoyrekar opened #2590 "app run issue"
## What happened

Tried running the app by clicking Run and tried opening the app when it didn't open after running it from Android Studio

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 28.0.1` • Dart plugin `173.4700`

Error getting Flutter sdk information.

## Exception

java.io.IOException: error from app.callServiceExtension: "Bad state: No element"

[code]

[2018-09-07 10:19] anindyamanna opened #2591 "Red screen in emulator and IDE error on app restart"
## What happened

Checking out the flutter inspector, then restarted the app. Crash happened immediately. It was a one time event(till now).

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 28.0.1` • Dart plugin `173.4700`

Error getting Flutter sdk information.

## Exception

null

[code]

[2018-09-07 19:03] jwren commented on #2591
This looks like a duplicate of https://github.com/flutter/flutter-intellij/issues/2538 @jacob314

[2018-09-07 19:03] #2591 closed

[2018-09-07 19:20] jwren commented on #2590
Assigning to Steve, is this another versioning issue?

[2018-09-09 03:16] quangson91 commented on #2485
@pq, I'm trying to working on this issue.
But for now, do you have any suggestion to determine the log entry is Stacktrace ?

For me, I think we can determine the log is entry by check some first characters contain `#NUMBER`.

// cc @devoncarew

[2018-09-09 06:45] quangson91 commented on #2485
I just create an WIP pr for this one: https://github.com/flutter/flutter-intellij/pull/2594/files
(Still thinking about: how do we enable collapse for the FlutterLogTree)

[2018-09-09 06:45] quangson91 commented on #2588
@pq, could you explain more ?

[2018-09-09 06:49] quangson91 commented on #2580
@zoechi, @jwren  this issue may related to: https://github.com/flutter/flutter-intellij/issues/2378

[2018-09-09 19:46] pq commented on #2588
Sure.  When the same message is repeated, it would be nice to have only one entry but with a count of occurrences.  For example, the dev console does it like this:

![image](https://user-images.githubusercontent.com/67586/45268271-4b529a00-b42e-11e8-888a-5444cc4ebfc7.png)

[2018-09-09 20:12] david-schopf opened #2595 "NullPointerException while restarting Flutter app in debug mode"
## What happened

I restarted the running Flutter app using the debug button

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 28.0.1` • Dart plugin `173.4700`

Flutter 0.7.3 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 3b309bda07 (12 days ago) • 2018-08-28 12:39:24 -0700
Engine • revision af42b6dc95
Tools • Dart 2.1.0-dev.1.0.flutter-ccb1

[2018-09-09 23:42] quangson91 commented on #2588
I understood.
I will try to implement this :)
Thank you!

[2018-09-10 05:26] #2555 closed

[2018-09-10 14:01] egg15463114 opened #2596 "Flutter SDK is not found in the specified location in Android Studio - fl doctor gives clean bill"
Hi there,

I am installing Flutter and everything is good exept one thing, specified above.

Flutter doctor says this:

`$ flutter doctor -v
[√] Flutter (Channel beta, v0.7.3, on Microsoft Windows [Version 10.0.17134.228], locale nl-NL)
    • Flutter version 0.7.3 at C:\Flutter\flutter_windows_new\flutter
    • Framework revision 3b309bda07 (13 days ago), 2018-08-28 12:39:24 -0700
    • Engine rev

[2018-09-10 14:32] egg15463114 commented on #2596
Answer provided, this was one thing I haven't seen anywhere as far as I can tell.

Menu > Tools > SDK Manager > Android SDK (left side of the dialog) > SDK Tools (tab)

Ensure that this line is enabled
https://i.stack.imgur.com/q6iLx.png
With [OK] it should be installed.

https://stackoverflow.com/a/52259863/9005245

issue fixed

[2018-09-10 17:08] modulovalue commented on #2595
I'm also having this issue

IntelliJ IDEA `2018.2.3` • Flutter plugin `io.flutter 28.0.4` • Dart plugin `182.4323.44`

Flutter 0.8.0 • channel unknown • unknown source
Framework • revision a74f591d0c (6 days ago) • 2018-09-04 17:12:24 +0100
Engine • revision de4c7a53f2
Tools • Dart 2.1.0-dev.3.0.flutter-760a9690c2

This only started to happen after I updated IntelliJ (2018.1.3)

[2018-09-10 18:12] stevemessick commented on #2596
According to the screenshots you provided, you set the Flutter SDK path (in the plugin) to the same path used in the system binary lookup path. The SDK path should end in 'flutter' not 'flutter/bin'.

[2018-09-10 18:12] #2596 closed

[2018-09-11 06:14] viplav76 commented on #2084
My Flutter-Android Studio can't detect the device.

Following is  my flutter Doctor response -

C:\viplavBiz1\viplav_biz>flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
Unhandled exception:
Exception: Android sdkmanager tool not found (C:\Users\Viplav\AppData\Local\Android\sdk\tools\bin\sdkmanager).
Try re-installing or updating your Android SDK,
visit https://flutter.io

[2018-09-11 07:52] maksimr opened #2597 ""Navigate to testdata" does not work"
## Steps to Reproduce

- Create a new project `flutter create foo`
- Open file `foo/test/widget_test.dart`
- Change line 18 to `expect(find.text('1'), findsOneWidget)`
- Run tests using "Flutter test run configuration"
- Try to navigate on the failed test from 'Run' panel

## Version info

[✓] Flutter (Channel beta, v0.7.3, on Mac OS X 10.13.6 17G65, locale en-RU)
[✓] Android toolchain - develop f

[2018-09-11 10:46] egg15463114 commented on #2596
I actually didn't edit the path further but downloaded the NDK which I didn't know I needed to download and now everything works. But thanks so much for the answer @stevemessick

[2018-09-11 16:10] pq commented on #2597
I've got this reproducing on the latest source and will take a look.

Thanks for the report @maksimr!

[2018-09-11 16:52] #2595 closed

[2018-09-11 20:58] #2597 closed

[2018-09-11 21:02] pq commented on #2485
Looking at the PR now.  I think in the medium term we'll want to introduce a structured format for entries coming from the Flutter framework itself so that nesting is something explicit.  FWIW: a bit of relevant conversation is going on in https://github.com/flutter/flutter/issues/21504 and https://github.com/flutter/flutter/pull/21505.

Thanks for pitching in!

[2018-09-12 00:46] rmtmckenzie commented on #2483
I'm seeing the same on windows, also using intelliJ.

I can work around by setting the android studio directory to the actual file:

`flutter config --android-studio-dir=C:\Program Files\Android\Android Studio\bin\studio64.exe`

But that caused problems with updates so I'm just opening android studio manually now.

[2018-09-12 06:17] zoechi opened #2600 "Android Studio 3.2 RC 3 is not working correctly with the Flutter plugin"
@creativecreatorormaybenot commented on [Tue Sep 11 2018](https://github.com/flutter/flutter/issues/21700)

*Everytime opening a Flutter project*, no matter what I have tried, I will have to do either or multiple of the following things:

   1. Reassign the `Flutter SDK path`:
![](https://i.imgur.com/chInLbR.png)

   1. Enable Dart support for the project:
![](https://i.imgur.com/vldv3oZ.png)

[2018-09-12 06:52] devoncarew commented on #2600
@stevemessick

[2018-09-12 10:26] zoechi commented on #2347
visual designer

(comment added just to make it discoverable when searching for that term)

[2018-09-12 15:38] stevemessick commented on #2600
I have not been able to reproduce this problem.

Are these new or existing projects? If old, do you see a balloon notification that an Android framework was detected? Having once gotten a project to open properly, does it open in a good or bad state after closing and re-opening it?

Also, does `flutter doctor --android-licenses` change anything?

[2018-09-12 16:53] pq commented on #2452
w/ #2473 landed I think this is good to close?

@brianegan?

[2018-09-12 17:01] pq opened #2601 "Logging view sometimes wrongly reports # of entries as 0"
For example:

![image](https://user-images.githubusercontent.com/67586/45440983-ae347300-b672-11e8-9c29-51028afa214d.png)

(This seems triggerable by very fast streams of events.)

[2018-09-12 18:09] kamilzych opened #2602 "Flutter plugin is not compatible with IntelliJ 2018.3 EAP"
## Steps to Reproduce

1. Update IntelliJ IDEA to 2018.3 EAP
2. Open a Flutter project
3. There's no support for Flutter in the IDE. If you go to "Plugins" settings you'll see it says that Flutter plugin is not compatible with this version of IntelliJ.

## Version info

[code]

BTW. Although `flutter doctor` says that the Dart plugin is not installed, it's not true - it is.
I'm still able to devel

[2018-09-12 18:33] pq commented on #2602
You're right that the 2018.3 EAP is not in our product matrix yet.  I'll do some investigating to see what would be involved in adding support.

Thanks for the report!

[2018-09-12 20:44] stevemessick commented on #2600
OK, thanks for the info. Unfortunately, I don't have any easy solution. I think the quickest way for you to get going with RC3 would be to create a new Flutter project and copy your files from the old project to the new one. Not ALL files, just the ones needed to make your Flutter project. For example, don't copy .idea, or any .* file unless you edited it (like .gitignore), or any *.iml file.

[2018-09-12 21:55] #2602 closed

[2018-09-13 00:05] pq commented on #2458
👍 I was thinking we'd want this on restart for sure; do you think we want to support configuration for both?

[2018-09-13 02:57] zoechi commented on #2458
Yes, restart, hot restart, hot reload, should purge the log with an option to not purge at all.
Others might see this differently though.

I'm usually not interested in logs before any of these events and find it always cumbersome to find the start of the relevant log output.

[2018-09-13 11:43] brianegan commented on #2452
Yep! This provided the functionality I was looking for :)

[2018-09-13 11:43] #2452 closed

[2018-09-13 17:36] stevemessick commented on #2582
FWIW I tracked this down to what I believe is a build issue in Android Studio. It apparently does not define the module used to define dependencies for plugins. (The modules that identify different products are documented by Jetbrains.) The problem is also present in Canary 10. I'm sure it will eventually get fixed; I saw the same problem in the 3.0 beta last year. But for now, you can't use the l

[2018-09-13 19:09] pq commented on #2458
Fodder for discussion a PR is out that adds some simple delineation.

![image](https://user-images.githubusercontent.com/67586/45509770-4b63da00-b74d-11e8-831e-34bc83a1e9ae.png)

![image](https://user-images.githubusercontent.com/67586/45509764-49018000-b74d-11e8-8310-e774a85300d0.png)

(See: #2605.)

[2018-09-13 20:26] BerndWessels commented on #2017
For some time now the little lightbulb that helps you with suggestions and things like instant wrapping of the selected widget in code with another one blinks almost like the cursor. This makes it insanely hard to click it :(

Android Studio 3.1.4
Build #AI-173.4907809, built on July 24, 2018
JRE: 1.8.0_152-release-1024-b02 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Do

[2018-09-13 20:28] BerndWessels opened #2607 "Flutter blinking light bulb"
For some time now the little lightbulb that helps you with suggestions and things like instant wrapping of the selected widget in code with another one blinks almost like the cursor. This makes it insanely hard to click it :(

Android Studio 3.1.4
Build #AI-173.4907809, built on July 24, 2018
JRE: 1.8.0_152-release-1024-b02 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Do

[2018-09-13 20:28] #2601 closed

[2018-09-13 21:06] pq commented on #2458
Implemented w/ https://github.com/flutter/flutter-intellij/pull/2605/commits/1ceca4c8b3b7210b5c4cbcd27f437bf4244e8c06

[2018-09-13 21:06] #2458 closed

[2018-09-13 21:07] pq commented on #2490
See: https://github.com/flutter/flutter-intellij/pull/2604.

Implemented w/ https://github.com/flutter/flutter-intellij/pull/2605/commits/1ceca4c8b3b7210b5c4cbcd27f437bf4244e8c06

[2018-09-13 21:07] #2490 closed

[2018-09-13 21:09] pq commented on #2607
Oh!

I wonder if this is a platform thing.

Possibly a known issue?

/cc @alexander-doroshko @stevemessick

[2018-09-13 21:11] pq commented on #2607
Sorry, missed https://github.com/flutter/flutter-intellij/issues/2017 which has some likely relevant context.

[2018-09-13 21:58] RedBrogdon opened #2608 "Compiler error when debugging build method during call to runApp"
## Steps to Reproduce

I have this in `main.dart` in IntelliJ IDEA:

[code]

I set a breakpoint on the `return` statement in `build`. When the debugger hits that point, I attempt to expand `context` in the debugger window or using the tooltip that pops up when I hover over `context` in the editor. When I do, the debugger disconnects and I get this error in my console:

[code]

## Version info

[✓]

[2018-09-13 22:02] devoncarew opened #2609 "make it easier to see FPS"
We should make it easier to see FPS when running an app. Right now the FPS display is in a tab of the inspector - we should consider moving it out from behind a tab and visible when the app is running.

[2018-09-13 22:09] pq commented on #2608
I wonder if this wouldn't get cleared up w/ a more recent version of Flutter?

/cc @devoncarew

[2018-09-13 22:48] devoncarew commented on #2608
This:

[code]

seems to indicate it is a bug in the front end server somehow. I'd try a more recent version of the framework as Phil suggests, or follow up with an issue on the main flutter/flutter repo (you can move this issue by adding a single comment saying `/move to flutter`).

[2018-09-14 08:06] alexander-doroshko commented on #2607
Sorry, no idea.

[2018-09-14 15:09] rtolar opened #2610 "java.lang.NullPointerException at org.dartlang.vm.service.element.Element.jsonArrayToListString(Element.java:64)"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

Launched my application in the Android simulator.
This error started showing up after added some new code to test out isolates / background jobs.
See the // new tags in the code below.

------

[2018-09-14 15:41] rtolar opened #2611 "No exception information for analysis server errors"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce
Adding new code to make an HTTP call.
Had just added `import 'package:http/http.dart' as http;` and then started typing the line below.

[code]
I got the following error:

"
9:35 AM	Dart Analyz

[2018-09-14 15:46] devoncarew commented on #2611
@rtolar, was there an exception associated with the report?

[2018-09-14 15:49] rtolar commented on #2611
I don't see an exception/stack trace of any kind, sorry.

The only thing it shows is:
"9:35 AM	Dart Analyzer Error
				Encountered a Dart Analysis Server error.
				Open issue submission form?
"

[2018-09-14 15:55] devoncarew commented on #2611
OK, ideally when you click on the `Open issue submission form` button, it should open a github issue web page pre-populated with some of the exception info, and a reference to a file with more complete information. If you're seeing that message in the IntelliJ log, it's probably lacking context to open the page correctly (it would work from the initial error message toast).

[2018-09-14 16:02] rtolar commented on #2611
Clicking 'Open issue submission form' opened a browser with no URL populated.
e.g. blank page

[2018-09-14 16:37] devoncarew commented on #2611
@stevemessick, I think we've seen a few instances of the browser page being populated w/ incomplete info - it'd be worth investigating, to see if there are any URL encoding issues, or other places things might be going wrong.

[2018-09-14 16:42] stevemessick commented on #2611
/cc @pq @jwren as other good candidates. It will be a while before I have cycles for this.

[2018-09-14 16:44] pq commented on #2610
Thanks for the report!

@devoncarew : it looks like this isolate's json has no `extensionRPCs` member.  Should `getExtensionRPCs` be checking for that (or should we guard in `PerfService`)?  Or is this a symptom of something we can protect against elsewhere?

[2018-09-14 16:46] pq commented on #2611
Since this seems the most actionable part of this, I'll rename the issue to track investigation.

Thanks @rtolar!

[2018-09-14 17:10] devoncarew commented on #2610
I'm surprised it doesn't have that member, but we likely should throw here. We can move this to the protocol library repo.

[2018-09-14 17:11] devoncarew commented on #2610
/move to dart-lang/vm_service_drivers

[2018-09-14 17:33] devoncarew commented on #2610
@kevmoo, would you mind enabling the above github app for https://github.com/dart-lang/vm_service_drivers? Thanks!

[2018-09-14 17:43] kevmoo commented on #2610
Done!

On Fri, Sep 14, 2018 at 10:33 AM Devon Carew <notifications@github.com>
wrote:

[2018-09-14 17:53] devoncarew commented on #2610
Thanks!

[2018-09-14 17:53] devoncarew commented on #2610
/move to dart-lang/vm_service_drivers

[2018-09-14 17:53] #2610 closed

[2018-09-14 18:31] rtolar commented on #2611
The problem is reproducible.
I created a skeleton app to reproduce:
https://github.com/rtolar/flutter_intellij_2611

Basically:
1) add dependency to http in pubspec.yaml:    http: ^0.11.3+17
2) add import in main.dart  `import 'package:http/http.dart' as http;`
3) start typing `var client = http.C`

I only get the error the first time I type that.
Restart Android Studio to get it to happen again.

[2018-09-14 18:37] devoncarew commented on #2611
Thanks for the repo! I think we should file a separate issue for that on the dart-lang/sdk repo - this issue can track not getting data consistently plumbed through the browser url.

[2018-09-14 22:59] xinthink commented on #2024
Same problem on gradle 4.9 & android studio 3.2.0-rc03.

The work aground is to add this snippet to `app/build.gradle`:

[code]

[2018-09-17 14:51] cam510 commented on #1735
File / Invalidate Cache / Restart worked not work for me T_T
flutter 0.7.3 linux
android studio 3.1.4
project :  java/switf

[2018-09-17 21:22] Elgeor opened #2613 "Don't know when this happened, but here is it"
## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 28.0.1` • Dart plugin `173.4700`

Error getting Flutter sdk information.

## Exception

java.util.concurrent.CompletionException: java.io.IOException: error from app.callServiceExtension: "TimeoutException: Request to Dart VM Service time

[2018-09-17 22:00] pulyaevskiy opened #2615 "Cannot find declaration to go to"
## Steps to Reproduce

Try to Cmd+Click on any declaration. Result:
![image](https://user-images.githubusercontent.com/441756/45652580-e7614e80-ba89-11e8-888a-7151a75aa276.png)

This seems to be different from #2404 because everything else seems to be working fine: I can see Structure information and can navigate through code base as well.

Also show quick help (`F1`) isn't working as well.

## Ve

[2018-09-17 22:12] pulyaevskiy commented on #2615
Ah, ok. This seems like analyzer issue. If I add `new` keyword in the above snippet it works normally again.

[2018-09-17 22:12] #2615 closed

[2018-09-17 22:28] devoncarew commented on #2615
Thanks for diagnosing; I see that you're running flutter beta `0.6.0` - it might be worth re-checking with a more recent build to see if you still see the analyzer issue w/ `new`.

[2018-09-17 22:35] pulyaevskiy commented on #2615
Thanks for getting back on this. I'll give it a shot and report back if it improved.

[2018-09-18 04:33] pulyaevskiy commented on #2615
I've just updated to latest beta (0.7.3) and this still seems to be an issue.

[2018-09-19 09:14] xxnjdlys commented on #2117
Thanks 👍

[2018-09-19 12:03] mdudek opened #2617 "NPE during debugging"
## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 28.0.1` • Dart plugin `173.4700`

Error getting Flutter sdk information.

## Exception

null

[code]

[2018-09-19 13:02] jaumard opened #2618 "Undefined alias"
## Steps to Reproduce
I don't know how to reproduce, but on my side the Dart analysis on Android Studio show me `Undefined alias` line 1, if I remove line 1 it say it's on line 2...

My analysis file:
[code]

## Version info
[code]

Any idea how to solve this ?

[2018-09-19 13:27] biancashouse commented on #2539
Just to confirm. While I agree there is no New Folder menu option, the New Package does the job: I found that doing a mkdir <folder> is equivalent to using the New Package meu option.

[2018-09-19 14:07] pmutisya opened #2619 "flutter and app crashed running a custom painter app"
## What happened

Testing a flutter app with a custom painter.  Changed paint method, hit hot reload.

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 28.0.1` • Dart plugin `173.4700`

Flutter 0.8.6-pre.4 • channel master • https://github.com/flutter/flutter.git
Framework • revision 9f359aeee2 (2 days ago) • 2018-09-17 13:02:34 -0700
Engine • revision b0b19d6ce1
Tools •

[2018-09-19 14:19] alexander-doroshko commented on #2397
We've got [one more similar report](https://youtrack.jetbrains.com/issue/WEB-34893) with a sample project to reproduce and video. The problem seems to be not specific to Flutter and not OS-specific.

I've checked that IDE sends `StepOver` command to the VM as expected. But VM suspends somewhere very far from the previous step. I don't think it's done by design.

Should the issue be moved to where

[2018-09-19 18:43] jacob314 commented on #2617
That is a surprising exception. Do you have a Dart source project that can reproduce the problem?

[2018-09-19 18:52] scheglov commented on #2618
I'm not an expert in YAML, but try to put `**/*.dart` in quotes, e.g. `'**/*.dart'`.

[2018-09-19 21:05] pq commented on #2618
Good catch.  That's the fix.  In fact, gotchas like this make me wonder if we shouldn't just suggest you always quote `exclude`s...

[2018-09-20 06:31] jaumard commented on #2618
ho whoa that was it... I would never guessed lol would be nice to have better error message on this ^^ also as there was an error on the file it didn't apply any of my rules

Thanks guys ! Should I keep this one open for having better error messages ?

[2018-09-20 06:47] SupSaiYaJin opened #3212 "Android Studio can't debug breakpoints when FlutterActivity isn't 1st startup Activity"
At this situation, IDE can't debug breakpoints.
Also, flutter run --start-paused is invalid too. Flutter won't wait for the debugger to attach.

[2018-09-20 07:01] mdudek commented on #2617
Can you please send me your email address so I can send you my flutter project sources.

[2018-09-20 07:55] mliitfall commented on #1735
At first it seems to work using File / Invalidate Cache / Invalidate and Restart,
but it still indexing, using 3.1.4 on MacOS 10.13.6

[2018-09-20 16:02] DanTup commented on #2485
We do have a structured way of getting stack traces, it's in the VM service :-)

It would be great if we could support breaking and let the user use all the debugging tools we have (eg. https://github.com/flutter/flutter/issues/17007). I don't know what the scale of work for it is though (or who could advise). The problem is that Flutter wants to catch the exceptions, but as a user I want them to

[2018-09-20 16:41] zoechi opened #2620 "Android Studio flutter and dart plugins not recognized by flutter doctor , but plugins are installed"
@ZayniddinMamarasulov commented on [Fri Sep 14 2018](https://github.com/flutter/flutter/issues/21881)

Hello everybody , I am trying to install flutter on ubuntu , android studio flutter and dart plugins have been installed , but `flutter doctor` said that they are not installed. At the beginning flutter doctor didn't find my android studio and sdk even if they are installed, then fixed this probl

[2018-09-21 17:13] stevemessick commented on #2620
It looks like you're having trouble getting the flutter CLI tool to work with non-standard installation directories. That should be reported on the appropriate forum:
https://github.com/flutter/flutter/issues

[2018-09-22 12:03] zoechi commented on #2620
I reopened the original issue according to your comment @stevemessick

[2018-09-22 12:03] #2620 closed

[2018-09-23 01:40] scheglov commented on #2545
https://dart-review.googlesource.com/c/sdk/+/76080

[2018-09-23 05:34] Montanajim commented on #1525
I had the same issue while running on a Windows machine.  I did the following:
1. I made sure my AVD was running a x64 version.
2. I ran Android studio in administrators mode.
Between the two, this fixed my problem.

[2018-09-23 18:52] rahulkp220 commented on #2017
Facing the same!

[2018-09-23 20:47] devoncarew opened #2622 "NPE from the logging view"
---

## What happened

Developing an app w/ the new logging view enabled.

## Version information

IntelliJ IDEA `2018.2.4` • Flutter plugin `io.flutter 28.0.4` • Dart plugin `182.4323.44`

Flutter 0.9.3-pre.18 • channel master • https://github.com/flutter/flutter.git
Framework • revision 762c86995d (23 hours ago) • 2018-09-22 14:44:09 -0700
Engine • revision f3a3d0ce7f
Tools • Dart 2.1.0-dev.5.0.

[2018-09-24 13:39] pq commented on #2622
Thanks!

[2018-09-24 15:37] #2545 closed

[2018-09-24 15:51] jacob314 opened #2623 "Inspector support for inspecting what themes apply to a Widget"
The Flutter Inspector should  make inspecting themes in Flutter as easy as inspecting what CSS styles apply to an HTML element.

We are far away from that currently. Currently if you know exactly where to look you can sometimes see what the rendering styles are but you cannot determine why the rendering styles are the way they are.

Potentially the correct Kernel transformer combined with static a

[2018-09-24 16:42] pq opened #2624 "Consider de-emphasizing log level severity"
Feedback from @devoncarew:

👍

This is supported by the move away from capturing severity in the flutter logging API (https://github.com/flutter/flutter/pull/22041).

[2018-09-24 18:07] pq commented on #2622
Doing a bit of investigating this issue hit the log tree before @quangson91's refactoring.  The good news is the troubling code path (that could lead to a race between clearing and iterating over logs) is gone.  This issue shouldn't hit us anymore.  (Or if it does, it will manifest a bit differently.) . I'll do a bit of local testing...

Again, thanks for the report!

[2018-09-24 18:07] #2622 closed

[2018-09-24 18:09] SPSpisoft commented on #2084
Solved for me!
My problem was that my app run in console `flutter run` but in android studio [no device] (windows64)
I did the @dazza5000 solution, But I got into trouble, because path the android-studio-dir was "space" [c:\program filse\...] and this made it difficult to address and because I did not find the solution I had to change path ..
Ultimately my problem is solved with {run as administra

[2018-09-24 21:09] filiph opened #2627 "Android Studio NullPointerException"
## What happened

Not sure what happened here. It apparently occured 37 times "since last clear". Everything works correctly afaik.

## Version information

Android Studio `3.1.4` • Flutter plugin `io.flutter 28.0.1` • Dart plugin `173.4700`

Flutter 0.8.2 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 5ab9e70727 (2 weeks ago) • 2018-09-07 12:33:05 -0700
Engine • revi

[2018-09-24 22:01] devoncarew commented on #2627
Thanks for the report! I believe this was already addressed by https://github.com/flutter/flutter-intellij/pull/2598, and will be available in the next release.

[2018-09-24 22:01] #2627 closed

[2018-09-24 23:05] alexlovar commented on #364
I had the same problem after importing a flutter project from git. These are the steps to solve the problem.

File->Settings->Language & Framework->Flutter
Choose flutter SDK path: the first time we install flutter, we choose the location where the flutter should be installed. Choose this location.
Click OK and the android studio will refresh. Carry on if the problem is solved.
If you are still st

[2018-09-25 08:26] reaperdtme opened #2629 "App crash on native side. No stack traces. Plugin crash."
## What happened
iOS.

Geolocator crashed on the native side.
Don't get stack trace from application.
Get Lost connection to device.
App screen goes black, dead.

## Version information

Android Studio `3.2` • Flutter plugin `io.flutter 28.0.2` • Dart plugin `181.5616`

Flutter 0.9.3-pre.26 • channel master • https://github.com/flutter/flutter.git
Framework • revision 6014f29b5a (12 hours ago) • 2

[2018-09-25 11:58] bizz84 commented on #2569
Any updates on this? I'm running on Flutter plugin 28.0.1 and the issue is still there.

@xster you mention the experimental Flutter logging view is the problem. How/where can this be disabled?

[2018-09-25 13:31] pq commented on #2569
Sorry to have missed this the first time around!

It's really surprising that disabling the logging view did the trick.  It should really not have any way to pollute a simulator run.  I'll do some digging though in case I'm overlooking something.

@bizz84 : that view gets enabled/disabled in your IntelliJ preferences.  (Note that it's off by default.)

![image](https://user-images.githubuserconten

[2018-09-25 13:48] bizz84 commented on #2569
I still get the problem, with or without the experimental view enabled.

![flutter-conf](https://user-images.githubusercontent.com/153167/46018558-0e470280-c0d2-11e8-848c-f7089bc6c000.png)

[2018-09-25 14:58] bizz84 commented on #2569
Oddly enough this issue appears to happen on Xcode 9.4.1, but not on Xcode 10.

Xcode 10 with the latest flutter dev channel seems to work fine for me:
[code]

[2018-09-25 15:33] jacob314 commented on #2609
Another option is to make the perf tab of the inspector start open whenever you launch a profile build.
That will help with current user confusion about profile builds. "I did a profile build but now instead of seeing profiling tools I see fewer tools"

[2018-09-25 15:35] jacob314 commented on #2562
Support has landed in the Dart plugin a few months ago. A bit more wireup may be required. We should also evaluate whether it makes sense to promote more of the implementation to the Flutter plugin so we can iterate on it faster.

[2018-09-25 15:41] jacob314 commented on #2446
This issue has been fixed.

[2018-09-25 15:41] #2446 closed

[2018-09-25 15:50] #1660 closed

[2018-09-25 15:56] devoncarew commented on #2609
That sounds great to open perf related UI automatically when running in profile mode.

Generally, will some or most of the content in the profile tab move to a new top-level tool window? @jacob314 @terrylucas

[2018-09-25 15:57] pq commented on #2569
Thanks for following up @bizz84!

I'm still on `9.4.1` so I'll see if it repros; so far I haven't seen it though...

[2018-09-25 17:01] devoncarew commented on #2629
Thanks for the report!

[2018-09-25 17:03] devoncarew commented on #2629
I think the right solution here is for `DaemonAPI.cancelPending()` to cancel with some well-known marker, and for call-back sites to recognize and ignore (not report as crashes) when a request has been cancelled.

[2018-09-25 17:49] kidcosmic commented on #2629
@devoncarew Updated with more info, was a crash in the native implementation of Geolocator

[2018-09-26 03:49] smoothdvd opened #2631 "Error with Android Studio 3.3 Canary 11 and macOS 10.14 Mojave"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.3 Canary 11` • Flutter plugin `io.flutter 28.0.4` • Dart plugin `182.4323.44`

No Flutt

[2018-09-26 16:27] stevemessick commented on #2631
Canary releases are not supported. The last canary version that the Flutter plugin was able to run in was 7.

[2018-09-26 16:27] #2631 closed

[2018-09-26 17:34] stevemessick commented on #2600
I guess that worked, so we'll close this issue.

[2018-09-26 17:34] #2600 closed

[2018-09-26 20:55] jacob314 opened #2633 "Support Android Studio style tooltips"
@terrylucas who has some pointers on how this could be supported.
The Android Studio style tooltips would be great in the inspector as well as the Memory performance view. The big benefit of these tooltips is they display immediately on mouse over and move with the cursor. Tooltips showing renders of the current widget, dart docs for properties and more in the inspector would be great. User studie

[2018-09-27 15:05] stevemessick commented on #2532
This is fixed in recent versions of the flutter engine.

[2018-09-27 15:05] #2532 closed

[2018-09-27 16:45] stevemessick commented on #2471
I believe this was fixed a/o RC3, and stayed fixed in 3.2 stable. Please reopen if you find otherwise.

[2018-09-27 16:45] #2471 closed

[2018-09-27 17:14] #2277 closed

[2018-09-27 19:12] ThinkDigitalRepair opened #2638 "code completion suggests too many suggestions when typing in an number literal"
Is there a way to make the Plugin ignore autocompletion when typing in double literals?

![intellij-frustration](https://user-images.githubusercontent.com/23037821/46168872-7a4e7580-c24e-11e8-8827-ae7cc3f33f8d.gif)

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

Trying to type a double (0.0) in a property.
## Version info
28.0.4
[code]

[2018-09-27 21:41] stevemessick commented on #2493
Reverted the fix.

[2018-09-27 22:21] devoncarew commented on #2638
Thanks for the report! It does sound like we may want to prune our code completion results once you've started typing a number literal.

[2018-09-27 22:29] devoncarew commented on #2638
/move to dart-lang/sdk

[2018-09-27 22:29] #2638 closed

[2018-09-28 11:39] omar1betar commented on #943
you can try this ,
tools>> flutter>> flutter packages get >>*enter your flutter sdk path* >>finish .

[2018-09-28 18:34] creativecreatorormaybenot commented on #2600
@stevemessick Sorry that it took me so long. I am having the same problem when creating new Flutter projects, so migrating all my data to a new project would not work. As of now, I am running Android Studio 3.2.

[2018-09-28 18:43] creativecreatorormaybenot commented on #2600
@stevemessick Actually, I realised that it is bound to the working directory. When I create a new project in a different directory it works fine. Maybe this will give you some clue on how I could resolve this issue.

[2018-09-28 18:58] creativecreatorormaybenot commented on #2600
@stevemessick Apparently, I cannot *create a project, which has the **same name** as the **upper directory** (`...\name\name`)*.
Also, renaming the directory of a project created with the same name as its parent directory, i.e. e.g. renaming `...\name\name` into `...\name\other` **after** creation *does not* solve the issue.

Another strange thing: The project that *suddenly* (when I first issued

[2018-09-28 20:50] pq opened #2641 "Improve Logging Channel UI"
Follow-up from https://github.com/flutter/flutter-intellij/pull/2640#issuecomment-425538031, regarding the current logging channel UI:

👍 👍 👍

[2018-09-29 02:48] xster opened #2642 "Widget inspector empty"
Ran Flutter Gallery.

The render object tree shows up but the widget tree view is empty.

<img width="1742" alt="screen shot 2018-09-28 at 7 46 36 pm" src="https://user-images.githubusercontent.com/156888/46240104-66db0180-c357-11e8-80cf-1bf3a08ef589.png">

[2018-09-29 03:36] jiangzhixiao commented on #2532
@stevemessick thanks  stevemessick

[2018-09-30 16:33] Cretezy opened #2643 "183 support"
What is the progress on support for 183.* of the IntelliJ platform? This is for IntelliJ 2018.3.

[2018-09-30 21:35] devoncarew commented on #2642
/cc @jacob314

@xster, can you provide some version information? For IntelliJ, the Flutter plugin, and the flutter framework? Thanks!

[2018-10-01 00:03] Cretezy commented on #2643
That's great! Looking forward to it

[2018-10-01 00:03] #2643 closed

[2018-10-01 02:32] xsun2001 commented on #2569
Errr... I think I have the same problem but I am in XCode 10.

[code]

[2018-10-01 12:35] krisu7 opened #2644 "AS 3.3 Canary 12"
## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.3 Canary 12` • Flutter plugin `io.flutter 28.0.4` • Dart plugin `182.4323.44`

No Flutter sdk configured.

## Exception

null

[code]

[2018-10-01 16:46] stevemessick commented on #2644
Known issue; AS build problem. Canary builds are not supported.

[2018-10-01 16:46] #2644 closed

[2018-10-01 16:50] calimbadevs commented on #1018
Is there any fix to this yet? I'm having a similar issue: Whenever I pull a flutter-project from git Android Studio tells me that my "Dart SDK is not configured". Then I have to go to my preferences and reset the Flutter SDK Path. But for some time now , after pressing "apply", the path just disappears and i can't go on.
Any help would be really appreciated! This is on Mac, of course, on Windows i

[2018-10-01 18:08] MarcoAltranDC opened #2646 "IDE Error when opening second project."
## Steps to Reproduce

All projects I talk are Flutter projects.

On Android Studio with one or more projects open:
- Run the Flutter app. Wait for it to finish
- Go to File -> open recents -> select a project. Select to open in New Window.

Expected to happen:
 New project opens in a new window.

What actually happens:
 The project doesn't open and it disappears from open recents section. If I cl

[2018-10-01 23:16] pq opened #2647 "Evaluating an expression @ a breakpoint causes analysis to fall down."
When visiting apptree, this one came up.  Easy to repro.

1. Set a breakpoint.
2. When paused, evaluate an expression.
3. Exception is thrown.

To get back to a happy state we need to restart the analysis server.

Analyzer Feedback from IntelliJ

# Version information

- `IDEA 183.2940.10`
- `2.1.0-edge.4cf2d3990bac1f1df2f524899e1560a3683f3133`
- `IU-183.2940.10, JRE 1.8.0_151-b12x64 Oracle Corpor

[2018-10-01 23:28] pq opened #2648 "Add support for filtering stack traces to elide system frames"
Feature request from **apptree**: it would be great if it we could elide system frames from stack traces.  (As an example, Xcode does this better.)

Very relevant to the work that our UX intern was doing.

/cc @InMatrix @matthewtsmith @johnpryan

[2018-10-01 23:29] pq commented on #2647
/cc @matthewtsmith @johnpryan

[2018-10-02 01:55] jacob314 commented on #2647
@scheglov any ideas?

[2018-10-02 01:58] scheglov commented on #2647
I've seen this myself a couple times.
Unfortunately I didn't have time to implement a proper fix yet.

[2018-10-02 16:07] scottdewald opened #2651 "Flutter Exception"
## What happened

Sorry, I don't know when this happened, I just saw this error at the bottom of the IDE while I was developing. Even though I don't have the steps to reproduce it, I wanted to give you the stacktrace if it is helpful.

## Version information

IntelliJ IDEA `2018.2.4` • Flutter plugin `io.flutter 28.0.4` • Dart plugin `182.4323.44`

Flutter 0.8.2 • channel beta • https://github.com

[2018-10-02 16:19] devoncarew commented on #2651
Thanks for the report! This should be addressed by the M29 version of the plugin - I see that you're on `28.0.4`. Closing as assumed fixed.

[2018-10-02 16:19] #2651 closed

[2018-10-02 17:22] stevemessick opened #2652 "Need better recovery when flutter hangs"
My latest `flutter upgrade` hung, possibly due to network time-outs. The last two lines were:
[code]
(And this *should* have been really fast internet.)

I didn't notice that immediately. When I tried to connect a device the Flutter plugin would not detect it. The device list stayed empty, or changed to `Loading...`. In any case, no devices were detected.

I tried `flutter doctor` to see what the

[2018-10-02 18:03] pq commented on #2647
As another point of reference: you can get back to a happy place by editing and re-saving the file.

Is this a fix here or in the dart plugin?

[2018-10-02 18:05] scheglov commented on #2647
It should be fixed in Analysis Server.
API and the Dart plugin are fine.

[2018-10-02 18:06] pq commented on #2647
OK, great.  Should I move this to the SDK?

[2018-10-02 18:07] scheglov commented on #2647
Sounds right to me.

[2018-10-02 18:08] pq commented on #2647
This issue was moved to dart-lang/sdk#34646

[2018-10-02 18:08] #2647 closed

[2018-10-02 18:38] creativecreatorormaybenot commented on #2322
This is definitely still the case for some methods, but I am unable to make out a pattern.

[2018-10-03 13:19] pq opened #2656 "Feature: navigate to intervals in observatory from the perf timeline"
Chatting w/ @matthewtsmith, he suggested we have some way to navigate from the performance view to corresponding data in observatory.  (Watching his workflow, I agree this'd be pretty great.)

Food for thought!

/cc @johnpryan @jacob314 @terrylucas

[2018-10-03 13:30] Steven-MKN commented on #1923
Basically you just need to be connected to the internet when you create a project, same goes with Android Studio. Try that.

[2018-10-03 13:41] pq commented on #1923
@Steven-MKN : are you in IntelliJ or Android Studio?  For IntelliJ, it should auto-toggle to offline mode.  Similar support is planned for AS: https://github.com/flutter/flutter-intellij/issues/2099.

[2018-10-03 14:54] stevemessick commented on #2646
I can't reproduce this. Couple questions:

What do you mean by "Run the Flutter app. Wait for it to finish"? Do you run the app and wait for it to build and launch? Or do you make it stop running on the device?

Do you see the same problem if you use "Open" and navigate to a project directory, instead of selecting something from "Open Recent"?

Does the problem occur with a more recent Flutter rel

[2018-10-03 15:35] stevemessick opened #2657 "IntelliJ should handle StateExceptions thrown by Dart code"
There are a number of plugin issues created because the Flutter tool returned exceptionally from a request by the IDE. These usually result in a CompletionException surfacing to our users. Many are from StateExceptions ("Bad state: No element") thrown by SDK library code; those indicate errors in the Flutter code but we don't have enough information to act on them. To do anything we'd need the ful

[2018-10-03 20:46] stevemessick commented on #2240
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-10-03 20:46] #2240 closed

[2018-10-03 20:46] stevemessick commented on #2281
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-10-03 20:46] #2281 closed

[2018-10-03 20:46] stevemessick commented on #2332
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-10-03 20:46] #2332 closed

[2018-10-03 20:46] stevemessick commented on #2517
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-10-03 20:46] #2517 closed

[2018-10-03 20:46] stevemessick commented on #2590
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-10-03 20:46] #2590 closed

[2018-10-03 20:47] stevemessick commented on #2629
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail. (Leaving open because it has useful context.)

[2018-10-03 20:47] stevemessick commented on #2646
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-10-03 20:47] #2646 closed

[2018-10-03 20:50] stevemessick commented on #2657
Closed out a bunch of "Bad state: No element" issues. Didn't touch anything that explicitly mentioned a class in the inspector. @jacob314 @pq feel free to close them if you think that's appropriate.

[2018-10-03 21:58] stevemessick opened #2661 "Don't make people type make-host-app-editable"
Once https://github.com/flutter/flutter/pull/22635 lands we need to add support to AS and probably IJ as well to give people an IDE alternative to the CLI app conversion command. No one will want to type that command. ;)

/cc @devoncarew @pq

[2018-10-03 22:32] kevmoo opened #2662 "Hot restart and "rerun main" buttons have same icon – makes things confusing."
Both are a curved green arrow w/ a gray box.

I was "rerunning" and was wondering why everything is so slow!

![flutter_hot_restart](https://user-images.githubusercontent.com/17034/46443215-60ff6a80-c721-11e8-86a6-3635baedf7df.png)
![rerun_main](https://user-images.githubusercontent.com/17034/46443217-61980100-c721-11e8-9614-f26f9cfc3643.png)

## Version info

[✓] Flutter (Channel dev, v0.9.5, on

[2018-10-04 03:20] kevmoo commented on #2617
I just hit this, too.

[code]

[2018-10-04 07:29] devoncarew commented on #2617
It's the same underlying issue as https://github.com/dart-lang/sdk/issues/34666.

[2018-10-04 15:30] #2617 closed

[2018-10-04 15:33] devoncarew opened #2664 "release M29.1"
We should patch:

- a11c0cf62c511b92eb41502352b768c1fc173b8d

into the current shipping M29 release in a day or two. That commit may itself depend on the rename refactoring PR from Jacob (I'm not certain), so we'd need to patch that into the release branch as well.

[2018-10-04 17:01] stevemessick commented on #2662
@devoncarew do you think this is something we should fix in the next release?

[2018-10-04 17:04] devoncarew commented on #2662
Yes - icons are always hard, but I didn't realize we were using the same one for different actions.

[2018-10-04 18:29] devoncarew commented on #2662
Thoughts?

<img width="523" alt="screen shot 2018-10-04 at 11 26 14 am" src="https://user-images.githubusercontent.com/1269969/46494721-6a8fdd80-c7c8-11e8-9828-cb6568c88dda.png">

<img width="81" alt="screen shot 2018-10-04 at 11 26 21 am" src="https://user-images.githubusercontent.com/1269969/46494723-6a8fdd80-c7c8-11e8-9be9-7495996a663e.png">

It's at least distinct from the process restart icon

[2018-10-04 18:52] kevmoo commented on #2662
I like it!

On Thu, Oct 4, 2018 at 11:30 AM Devon Carew <notifications@github.com>
wrote:

[2018-10-04 19:33] stevemessick commented on #2662
👍

[2018-10-05 01:15] #2662 closed

[2018-10-05 12:29] jjarral opened #2670 "Flutter inspector not working properly"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_
Flutter exited unexpectedly

## Version info

Please paste the output of running `flutter doctor -v` here (available from the command
l

[2018-10-05 14:14] MarcoAltranDC commented on #2646
After flutter upgrade I couldn't reproduce the error anymore. I think the problem is now fixed :)

[2018-10-05 14:33] #2670 closed

[2018-10-05 14:34] pq commented on #2646
Great to hear.  Thanks for following up @MarcoAltranDC!

[2018-10-06 13:46] Florence2016 opened #2671 "bug report notif. don't know if there is conflict on the updated version of AS to current flutter"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(after done the flutter upgrade due to problem configuration on my IDE which is AS, this bug report notif)

## Version information

Android Studio `3.2` • Flutter plugin `io.flutter 29.0.2` • Dart plugin `181.5540.11`

Error getting Flutter sdk information.

## Exception

Read access is a

[2018-10-07 16:28] zoechi opened #2672 "Null to String"
@Adrianogba commented on [Sat Oct 06 2018](https://github.com/flutter/flutter/issues/22761)

## What happened

Tried to get a value from a json that was null and show into a Text();

## Version information
[code]
## Exception

java.io.IOException: error from app.callServiceExtension: "Bad state: No element"

[code]

[2018-10-07 16:29] zoechi commented on #2672
@Adrianogba
Please add the output of `flutter doctor -v`.

[2018-10-07 16:30] zoechi opened #2673 "NoReadAccessException from XDebugSessionImpl.initBreakpoints"
@Adrianogba commented on [Sat Oct 06 2018](https://github.com/flutter/flutter/issues/22760)

## What happened

Don't know... Just reporting. I mean, no visible error.

## Version information

[code]
## Exception

[code]
[code]

[2018-10-07 16:30] zoechi commented on #2673
Please add the output of `flutter doctor -v`.

[2018-10-07 16:32] zoechi opened #2674 "Flutter Project Directory"
@bipin-adh commented on [Sat Oct 06 2018](https://github.com/flutter/flutter/issues/22758)

/home/bpn8adh/AndroidStudioProjects/android-architecture-todo-mvp/flutter_app
This is the default project location of a new project , flutter_app being the project name.
Even though i changed the location to a new one, the application files moves this very same default directory.

Note: This problem arises

[2018-10-07 16:32] zoechi commented on #2674
@bipin-adh Please add the output of `flutter doctor -v`.

[2018-10-07 19:51] Adrianogba commented on #2672
@zoechi already there

[2018-10-07 19:52] Adrianogba commented on #2673
@zoechi already there

[2018-10-07 19:58] zoechi commented on #2673
@Adrianogba not able to see it. (except perhaps one line of the output ;-) )

[2018-10-07 20:00] zoechi commented on #2672
Is this the full and exact output of `flutter doctor -v`?

[2018-10-07 20:50] Adrianogba commented on #2672
I think so. Here is the printscreen:
![N|Solid](https://i.imgur.com/4YCs2Tv.png)

[2018-10-07 21:45] muirandy opened #2675 "White screen on iOS simulator in debug"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_
I'm running through the getting started exercise: https://flutter.io/get-started/codelab/
I wanted to hot-reload the app (as the exerci

[2018-10-08 06:42] muirandy commented on #2675
Here's the output from InteliJ console:
[code]

[2018-10-08 16:00] jwren commented on #2675
To be clear here, this was in Step 2, Use an External Package.

Did you see the content?:

Problems?
If your app is not running correctly, look for typos. If needed, use the code at the following links to get back on track.

pubspec.yaml
lib/main.dart

[2018-10-08 16:20] devoncarew commented on #2671
Thanks for the report! This looks like a dup of https://github.com/flutter/flutter-intellij/issues/2673.

[2018-10-08 16:20] #2671 closed

[2018-10-08 17:16] muirandy commented on #2675
Indeed, its in step 2. I've no problem with the code itself, as it works fine if I simply "Run" the app - it displays the white screen if I "Debug" it.
When I'm "Running" the app, the "Flutter Hot Reload" button is greyed out" - I'd read that maybe it needs to be running in debug.
(I've also moved on through the exercise with no issues, other than not being able to debug or hot reload!)

[2018-10-08 18:11] jwren commented on #2675
Assigning this to @devoncarew to triage.

[2018-10-08 20:08] xster commented on #2642
Ah, reproduced it again:

plugin: 29.0.4,
flutter: v0.9.7-pre.64

Ran the gallery, clicked into something with the widget inspector and came back blank.

[2018-10-08 22:25] fljohnson opened #2676 "Flutter0.8.2 under Android Studuo"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## What happened

(please describe what you were doing when this exception occurred)
Ran test app containing TabBar

## Version information

Android Studio `3.2` • Flutter plugin `io.flutter 29.0.2` • Dart plugin `1

[2018-10-09 15:04] willlarche opened #2677 "[Inspector] Widget mode tool tips don't respect SafeArea"
Using inspector widget mode on iPhone X+, the notch occludes the tool tip for selected widgets in that general area.
![screen shot 2018-10-09 at 11 02 13 am](https://user-images.githubusercontent.com/1271525/46678627-0c417100-cbb3-11e8-8900-57e06b885855.png)

They should respect the MediaQuery padding (SafeArea).

[2018-10-09 15:52] devoncarew commented on #2664
We need to release this patch to address https://github.com/dart-lang/sdk/issues/34666.

[2018-10-09 16:07] xster commented on #2642
ah, perhaps a slight bit of useful information. If I open flutter/examples/flutter_gallery in intellij, then the widget inspector works. If I open flutter/, then the empty panel issue appears.

[2018-10-09 18:40] brilliant-ember commented on #2483
@rmtmckenzie  your solutions works splendidly, however it did cause some issues that flutter doctor complained about, the flutter app works fine tho

[2018-10-09 18:57] devoncarew commented on #2664
released

[2018-10-09 18:57] #2664 closed

[2018-10-09 19:13] xster opened #2678 "Don't sync panel heights between the widget and render object inspector tabs"
The widget panel's top/bottom are user specified widgets vs (I assume) all widgets connected to the current element tree. Since the bottom has more stuff, one would want to make the bottom half of the panel bigger.

On the render object panel, the bottom is just the render object's fields so the top part (the tree) is more interesting.

This make going back and forth between the tabs a bit more pa

[2018-10-09 20:34] Vukan-Markovic opened #2679 "Android Studio Canary Flutter plugin exception"
## Steps to Reproduce
Open Android Studio. This error is showned:

[code]

## Version info
- Android Studio: 3.3 Canary 13
- Flutter plugin: io.flutter 29.1.3
- Dart plugin: 182.4505.50

[2018-10-09 20:37] devoncarew commented on #2679
I don't believe we support Android Studio Canary; I'd recommend using Android Studio 3.2 for now.

[2018-10-10 09:28] DanTup opened #2682 "Pass reload reasons to Flutter tools"
The reload/restart messages in Flutter Daemon can now be passed a `reason` (to provide better stats on user-initiated hot reloads/restarts versus things triggered automatically):

https://github.com/flutter/flutter/pull/21983

In VS Code, we're sending [the strings `save` and `manual`](https://github.com/Dart-Code/Dart-Code/blob/55687223bd2d9085b8fd37043d22d6f9e36799d9/src/constants.ts#L1-L2) depe

[2018-10-10 14:04] ColorFuzzy opened #2683 "remove asset file from pubspec.yml"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

1. add a file to `assets:` header of `pubsepc.yml`
2. then remove the file & code line in `pubspec.yml`
3. there still exist infomation in `ios/Flutter/flutter_assets/AssetManifest.json`

## V

[2018-10-10 17:53] jwren commented on #2682
Assigning to @devoncarew to triage

[2018-10-10 18:37] jwren commented on #2679
Please re-open if you hit this issue in AS 3.2

[2018-10-10 18:37] #2679 closed

[2018-10-11 06:44] muirandy commented on #2675
I've created a(nother) new Flutter project in IntelliJ and without touching the code, I'm seeing exactly the same behavior - running in debug just gives me a white screen on the iOS simulator, while 'run' gives me the application running fine (though I can't use the debugger or hot reload).

[2018-10-11 14:51] devoncarew commented on #2675
@muirandy, I don't know if there's a resolution for this, but it looks like you're hitting the same issue as https://github.com/flutter/flutter/issues/18409. I'll close this issue in favor of that one.

[2018-10-11 14:51] #2675 closed

[2018-10-11 16:19] willlarche opened #2684 "[ColorIcons] Color icons not showing for consts with func scope"
In [themes.dart from flutter gallery](https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/lib/gallery/themes.dart)

See image. The consts `primaryColor` and `secondaryColor` are not showing a color icon on the left.

Nice to have: since they are consts, it would be great it it showed the same icon where they are consumed like line 34-35.

![screen shot 2018-10-11 at 12 13 41 pm

[2018-10-11 16:46] jwren commented on #2684
Assigned to Devon to triage, I don't know who did this initial work.

[2018-10-11 16:54] devoncarew commented on #2684
This was me; `on deck` seems right.

[2018-10-11 20:52] pq opened #2685 "support filtering on level in filter text field"
For example:

![image](https://user-images.githubusercontent.com/67586/46833203-dfc95880-cd5c-11e8-9b00-777f4d10d747.png)

should filter info entries.

[2018-10-11 21:03] pq commented on #2624
/cc @quangson91

[2018-10-11 21:44] pq opened #2688 "consider a simple query language for smarter filtering"
Filter text can match on message, category and (soon) level.  It would be great if we had a simple story for defining searches that filter along more than one dimension.  For example `level:info` and `message:"foo bar"`.

Some possible jumping off points:

https://help.github.com/articles/understanding-the-search-syntax/
https://developers.google.com/issue-tracker/concepts/search-query-language

[2018-10-12 14:46] NagarjunaReddyP opened #2691 "Gradle Issue"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

## Version info

Please paste the output of running `flutter doctor -v` here (available from the command
line or from `Tools > Flutter

[2018-10-12 14:47] NagarjunaReddyP commented on #2691
Launching lib\main.dart on SM G900H in debug mode...
Initializing gradle...
Resolving dependencies...
* Error running Gradle:
Exit code 1 from: D:\NewFlutter\App\testapp\flutter_app\android\gradlew.bat app:properties:

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'android'.

     Searched in the following locations:
         https://jcent

[2018-10-12 16:02] jwren commented on #2691
Please provide information on what the Gradle issue is.

[2018-10-12 16:02] #2691 closed

[2018-10-12 16:05] #2685 closed

[2018-10-12 18:04] jwren commented on #2683
@pq Is this a flutter tooling issue? Any idea who should own it?

[2018-10-12 18:37] timsneath opened #2692 "NullPointerException on opening Dart project in Android Studio"
## What happened
I just opened Android Studio to an [existing Dart library](https://pub.dartlang.org/packages/zart) (which doesn't contain any Flutter code). This seems to be reproducible.

## Version information
Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

## Exception
null

[code]

## Flutter Doctor output

[code]

[2018-10-13 01:14] jacob314 commented on #2678
Interesting that you want to make the bottom half of the widget tab bigger. Is this when you are debugging package:flutter issues or issues in an app?
I expect there is a lot of tension between how the widget tree should be shown for framework authors and app authors. We can always add back an option to show the widget tree like the render tree is shown. The other option is to work harder to make

[2018-10-13 09:58] Adrianogba opened #2693 "NoReadAccessException from XDebugSessionImpl.initBreakpoints"
## What happened

I've changed from OpenJDK to the Oracle's JDK 8 (build 1.8.0_181-b13) while running the project on Genymotion.

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

## Exception

Read access is allowed from event dispatch thread or inside read-action only (see com.intellij.openapi.app

[2018-10-13 20:54] sittinprettyingeorgia opened #2694 "issue"
---

## What happened

trying to build a raised button which navigates from a stateful widget called within the home: property of a stateless widget to another stateful widget.

## Version information

Android Studio `3.2` • Flutter plugin `io.flutter 29.0.2` • Dart plugin `181.5540.11`

Error getting Flutter sdk information.

## Exception

java.io.IOException: error from app.callServiceExtension:

[2018-10-13 20:58] akalinxy opened #2695 "create missing switch branches alt+enter not showing up"
When creating a empty switch block intellij will warn you that there are missing branches, but upon clicking alt+enter the expected behavior is that it should display a option for intellij to automatically insert the missing branches, as is done with a java project, but nothing shows up.

[2018-10-15 05:11] NagarjunaReddyP commented on #2691
Hi @jwren  this is the error am getting when am running my first flutter program.

Initializing gradle...

Resolving dependencies...

Error running Gradle: Exit code 1 from: D:\NewFlutter\App\testapp\flutter_app\android\gradlew.bat app:properties:
FAILURE: Build failed with an exception.

What went wrong: A problem occurred configuring root project 'android'.

Could not resolve all files for confi

[2018-10-15 08:21] zoechi opened #2696 "Could not get Flutter Wizard in Android Studio (Stable v3.2.1)"
@RohitSurwase commented on [Mon Oct 15 2018](https://github.com/flutter/flutter/issues/23086)

Tried a lot of different ways. But still could not get the Flutter Wizard in Android Studio.
1. Removed All versions, Stable + Preview.
2. Tried with Stable only
3. Tried with Preview only
4. Tried restarting several times and at several stages.
5. Tried changing install sequence of Dart and Flutter plug

[2018-10-15 13:11] pq commented on #2692
/cc @stevemessick

[2018-10-15 13:14] pq commented on #2696
Thanks for the feedback!

I'm not sure the stale settings issue is likely to hit other folks (or how anomalous it was)...

Optimistically closing but @stevemessick do feel free to re-open if you have any insights.

[2018-10-15 13:14] pq commented on #2694
/cc @jacob314

[2018-10-15 13:16] pq commented on #2693
@devoncarew: any ideas?

[2018-10-15 13:19] pq commented on #2695
Thanks for the feedback @akalinxy!

It looks like the Dart analysis server isn't providing an assist here (where it could).

@scheglov: is this a known opportunity?  Should I transfer this issue to the sdk repo?

[2018-10-15 13:29] stevemessick commented on #2674
@bipin-adh A screenshot of the dialog window that sets the project directory would be helpful. Without it this will be hard to debug.

[2018-10-15 13:31] stevemessick commented on #2673
Dup of #2693 which has more useful info.

[2018-10-15 13:31] #2673 closed

[2018-10-15 16:03] #2099 closed

[2018-10-15 16:44] pq commented on #2695
/move to dart/sdk

[2018-10-15 16:45] pq commented on #2695
/move to dart-lang/sdk

[2018-10-15 16:45] #2695 closed

[2018-10-15 16:47] devoncarew commented on #2683
@ColorFuzzy, you likely need to trigger something in the flutter tool to rebuild the ios version of the assets manifest; perhaps `flutter run`ing your app?

[2018-10-15 16:47] #2683 closed

[2018-10-15 18:12] devoncarew commented on #2691
@NagarjunaReddyP, the main issue seems to be gradle related:

I would try and google for a reasonable solution to that issue. If nothing turns up, you may try asking in the gitter room for Flutter, or file an issue against the main flutter repo (flutter/flutter). Thanks!

[2018-10-15 20:45] stevemessick commented on #2672
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-10-15 20:45] #2672 closed

[2018-10-15 21:33] #2693 closed

[2018-10-15 21:38] stevemessick commented on #2694
Fixed in #2698

[2018-10-15 21:39] stevemessick commented on #2692
Fixed with #2698

[2018-10-15 21:39] #2692 closed

[2018-10-16 05:02] thefuzzyorange opened #2700 "intelligent movement of caret to navigate commas"
Flutter widget code has lots and lots of commas.

Would it be possible to add shortcuts to the editor that make it easier to move the caret between commas as below:

1. a shortcut key that moves the caret past the nearest comma
This would be very useful when defining properties for widget as often you have to press a few keystrokes to position the caret past a comma (perhaps CTRL+SHIFT+,)

2. a sh

[2018-10-16 07:32] NagarjunaReddyP commented on #2691
@devoncarew , this is working fine after updating gradle version.

[2018-10-16 13:43] pq commented on #2700
@alexander-doroshko : curious if there are existing IDEA navigation tricks that would help here?

[2018-10-16 14:14] alexander-doroshko commented on #2700
Regarding 1, IDE doesn't have actions that navigate to the next/previous comma. Some similar actions that come to my mind are:
- Navigate Next/Previous Method. This functionality hasn't been implemented for Dart.
- Move caret to code block start/end.
- Move caret forward/backward a paragraph.

But neither cares about commas.

Regarding 2. If trailing comma on the current line doesn't cause a synta

[2018-10-16 17:58] mit-mit opened #2701 "Import Flutter module doesn't work on Windows"
1. Follow the steps on https://github.com/flutter/flutter/wiki/Add-Flutter-to-existing-apps to import a Flutter module to an Android app using Windows.

=> Gradle complains that a character is incorectly escaped:

[code]

Changing the string to this seems to fix it:
[code]

[2018-10-16 17:58] mit-mit commented on #2701
cc @stevemessick

[2018-10-16 21:33] jacob314 commented on #2678
That seems like a reasonable solution.

[2018-10-17 08:57] openBDM opened #2702 "Crash when running app from Android studio"
## What happened

The app has crashed a few times and the output in Android studio mentioning it was trying to do too much, pressing the Run (not hot reload) made a different (flutter) app appear in the front. When i closed the not relevant (Flutter) app i was presented with this error/crash.

## Version information

Android Studio `3.2` • Flutter plugin `io.flutter 29.0.2` • Dart plugin `181.5540

[2018-10-17 13:46] pq commented on #2702
Thanks for the report.  We're tracking this one in https://github.com/flutter/flutter-intellij/issues/2657.  Sorry for the inconvenience!

[2018-10-17 13:46] #2702 closed

[2018-10-17 19:31] devoncarew opened #2703 "ensure that we handle the case of multiple flutter isolates reasonably"
We should handle the case of multiple flutter isolates - this could become more common w. add2app, and more custom Flutter embedders.

[2018-10-18 01:25] SUPERETDUPER opened #2704 "Select widget button in flutter inspector is grayed out"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_
I ran an app and the flutter inspector shows the widget tree but pressing on the select widget mode does nothing and it looks like the

[2018-10-18 03:08] pq commented on #2704
Hey there @SUPERETDUPER: we've done a few releases of the plugin since the one you have installed.  Could you update and see if that makes things better?

Please re-open if that doesn't do the trick.

Thanks!

[2018-10-18 22:29] pq commented on #2704
Thanks for checking.

@jacob314 : any ideas?

[2018-10-18 22:31] jacob314 commented on #2704
https://github.com/flutter/flutter/pull/23272
fixes this.
Thanks for reporting!

[2018-10-19 08:21] berkantkz commented on #2307
I've the same issue. What additional information should I give in order to have a fix?

[2018-10-19 09:57] xuexin opened #2706 "concurrent.CompletionException from app.callServiceExtension"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

debug

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Flutter 0.9.4 • channel beta • https://github.com/flutter/flutter.git
Framework • revision f37c235c32 (3 weeks ago) • 2018-09-25 17:45:40 -0400
Engine • revision 74625aed32

[2018-10-19 13:32] pq opened #2707 "[logging view] support key navigation"
It would be great if we could navigate with the arrow keys.

[2018-10-19 14:10] #2307 closed

[2018-10-19 17:25] InMatrix opened #2708 "Use the "What's new in Android Studio" panel for release notes"
When I upgraded Android Studio to 3.2, it showed me this nice graphical release notes in a side panel (screenshot below). Can we use this to provide better release notes after a new version of the Flutter plugin is installed? The panel can be re-opened via `Help > What's New in Android Studio`.

![image](https://user-images.githubusercontent.com/348942/47233928-0274f600-d389-11e8-939a-74cbe8609880

[2018-10-19 18:52] daBlaqSuit opened #2709 "Flutter SDK Information"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

"I created new flutter project, loaded the sdk file path and clicked on the finish button. Error occurred during the project load"

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

## Exce

[2018-10-19 19:39] devoncarew commented on #2709
Thanks for the report! I believe this was addressed recently (thanks @stevemessick!), and will be available with our next release.

[2018-10-19 19:39] #2709 closed

[2018-10-19 20:08] #2701 closed

[2018-10-19 20:45] RedBrogdon opened #2711 "Preview lacking for CupertinoIcons"
## Steps to Reproduce

The Material icons get a lovely preview in IntelliJ:

![image](https://user-images.githubusercontent.com/969662/47242797-cb144280-d3a4-11e8-8d58-a51ff7f38f2b.png)

But the [Cupertino Icons](https://github.com/flutter/cupertino_icons) do not.

![image](https://user-images.githubusercontent.com/969662/47242810-d10a2380-d3a4-11e8-8308-363e427afc96.png)

Now that I'm spending a

[2018-10-19 20:53] RedBrogdon commented on #2608
Just double-checked this with the latest beta, and I'm still seeing the issue (same stacktrace and everything).

[code]

Should I go ahead and move the issue?

[2018-10-19 21:40] devoncarew commented on #2608
If you don't mind checking on master, that'd probably be good. If you still see it, I would move it over to the main flutter issue tracker.

cc @aam as I see `FrontendCompiler.compileExpression` in the stack trace, and I think he has the most familiarity there.

[2018-10-19 21:54] pq commented on #2711
IIRC we bundle up all the material icons in the plugin (though I recall Devon having played with a better idea). We'd have to do something similar for Cupertino (or better still, fix them both a better way).

/cc @devoncarew for thoughts.

[2018-10-19 21:55] pq commented on #2708
That would be great.  I'm not sure if that's something we can contribute to...

@stevemessick : any idea?

[2018-10-19 22:43] stevemessick commented on #2708
Not off hand; I'll have to see if they defined a contribution mechanism. We wouldn't want to overwrite it but if we can add to it that might be nice. Or maybe we want a `Help > What's New in Flutter` as a separate panel.

@devoncarew Seems like it would really help discovery of new stuff.

[2018-10-19 22:45] InMatrix commented on #2708
That works, too. It's probably cleaner than adding to "What's New in Android Studio".

[2018-10-20 01:24] chenkangcrack opened #2713 "Error running 'main.dart': not implemented"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

## Version info

Please paste the output of running `flutter doctor -v` here (available from the command
line or from `Tools > Flutter

[2018-10-20 04:35] thefuzzyorange opened #2714 "intellij: "wrap with" does not work correctly on a parameter of format variable.property"
When you have a parameter of the form variable.property and you invoke one of the wrap with methods only the portion where the caret is position gets wrapped.

Example 1: Caret on property

![image](https://user-images.githubusercontent.com/632669/47251237-fa24c580-d431-11e8-8188-7b9adce5f985.png)

Results in

![image](https://user-images.githubusercontent.com/632669/47251239-06108780-d432-11e8-92

[2018-10-20 14:03] pq commented on #2713
Hi @chenkangcrack.  We need a bit more context to help with this report...  Was there a stacktrace in the console?

[2018-10-20 14:05] pq commented on #2714
/cc @scheglov

[2018-10-21 20:45] scheglov commented on #2714
https://dart-review.googlesource.com/c/sdk/+/80985

[2018-10-22 04:11] devoncarew commented on #2708
Yup, I agree that this would makes sense as a new `What's New in Flutter` panel.

[2018-10-22 13:14] #2707 closed

[2018-10-23 13:14] adadion opened #2719 "Failed to get http library (0.12.0) because flutter test depends on http version 0.12.0"
## Steps to Reproduce

I recently just adding the latest http library to the pubspec.yaml for the first time for my current project.
When I run flutter packages get from the IDE (Android Studio 3.2.1), there is an error.

![error](https://user-images.githubusercontent.com/14196587/47362035-a9e18800-d6fd-11e8-8d0b-745ad3fce23a.png)

So far, I only can verify some files that related about this issue

[2018-10-23 16:33] stevemessick commented on #2708
The Assistant framework can be used for more than a "What's New" panel. Go to Tools > Firebase for a much more elaborate example. It basically implements a built-in tutorial that does some amount of code editing for you, assuming you have an Android (not Flutter) project open.

As far as making a "What's New" for Flutter, it looks straight-forward. We'd need to implement some new classes and defin

[2018-10-23 16:46] InMatrix commented on #2708
Let's give it a try for the next plugin release?

Cc: @mjohnsullivan We can use some help from DevRel to make this space more useful.

[2018-10-23 19:52] jacob314 opened #2722 "Always show package:flutter matches before dart:ui matches on autocomplete"
See related docs.flutter.io issue for more details.
https://github.com/flutter/flutter/issues/23143

[2018-10-23 20:51] mjohnsullivan commented on #2708
Certainly; we can help.

On Tue, 23 Oct 2018 at 09:50, Tao Dong <notifications@github.com> wrote:

[2018-10-24 07:40] xuexin opened #2723 "bug report"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Flutter 0.9.4 • channel beta • https://github.com/flutter/flutter.git
Framework • revision f37c235c32 (4 weeks

[2018-10-24 07:49] xuexin commented on #2723
duplicate
https://github.com/flutter/flutter-intellij/issues/2706

[2018-10-24 07:49] #2723 closed

[2018-10-24 21:07] Solido commented on #2722
It would make sense to also apply this to cupertino package that show on top of material.
Thank you.

[2018-10-25 07:35] zoechi opened #2724 "Missing logcat tab in Android Studio"
@anderscheow commented on [Thu Oct 25 2018](https://github.com/flutter/flutter/issues/23497)

Logcat tab does not appear in Flutter project but visible in Android project

## Logs

[code]

[2018-10-25 19:18] neiljaywarner opened #2725 "Android Studio 3.3 beta1 from oct 16 - fresh install file-new-project flutter failing"
---

## What happened

Just trying to use AS 3.3 beta1 from 16 oct for file new project in flutter

## Version information

Android Studio `3.3 Beta 1` • Flutter plugin `io.flutter 29.1.3` • Dart plugin `182.4999`

No Flutter sdk configured.

## Exception

null

[code]

[2018-10-25 19:19] neiljaywarner commented on #2725
I even tried file-invalidate caches and restart. release notes say it should support as 3.3 canary... this is as 3.3 beta....

[2018-10-26 03:20] rockingdice opened #2726 "Flutter plugin exception after manually restart the dart analysis server."
## What happened

I clicked Restart Dart Analysis Server, then the Flutter plugin threw the exception.

## Version information

IntelliJ IDEA `2018.2.1` • Flutter plugin `io.flutter 27.1.3` • Dart plugin `182.3911.37`

Flutter 0.8.3-pre.7 • channel unknown • unknown source
Framework • revision c0132e70a5 (3 days ago) • 2018-10-23 11:58:45 +0800
Engine • revision 3860a43379
Tools • Dart 2.1.0-dev.7

[2018-10-26 03:56] devoncarew commented on #2726
Thanks for the report! I see you're on a slightly older version of the Flutter IntelliJ plugin - `27.1.3`. If you check for updates, you should see a new version available - I believe that will address this issue.

[2018-10-26 03:56] #2726 closed

[2018-10-26 18:32] stevemessick commented on #2725
AS 3.3 beta will be supported in the M30 release, out next week.

[2018-10-26 18:32] #2725 closed

[2018-10-26 18:35] stevemessick commented on #2725
Forgot to mention: See #2728 for changes to support 3.3.

[2018-10-26 20:50] jacob314 commented on #2719
I don't think the issue you are seeing is related to Flutter intellij.
Here is some background info to describe how version constraints work in Dart.
You can't always use the very latest version of all pub packages with Flutter as package:flutter has version constraints which you need to be consistent with.
https://www.dartlang.org/tools/pub/versioning

Pub related bugs should be filed here:
https

[2018-10-26 20:50] #2719 closed

[2018-10-26 21:11] stevemessick commented on #2724
@anderscheow: This is what I expect to see. You can open it in a Flutter project but when you do it reports: "Please configure Android SDK", which seems confusing to me.

[2018-10-26 22:34] jayoung-lee opened #2731 "Adding UI that prevents the project creation failure error from happening"
In our recent user study, the project creation failure due to upper case letter (#1058) happened again.

In addition to fixing this issue, I'd like to suggest adding a UI that prevents this from happening, **before** hitting 'Finish' and seeing the 'Cannot Save Setting' warning message.

One option would be showing an error message as the project name gets typed in, similar to password strength ve

[2018-10-28 15:23] zoechi opened #2732 "The Flutter Inspector's "Toggle select widget mode" button is not enabled (Ubuntu 18.04)"
@ZzZxL commented on [Sun Oct 28 2018](https://github.com/flutter/flutter/issues/23640)

## Steps to Reproduce

The 'Toggle select widget mode' button has been disabled, always disabled, I tried reinstalling the plugin, but the problem still exists, my OS system is Ubuntu 18.04, my Android Studio version is 3.2.1.
## Logs
![button was disabled](https://i.stack.imgur.com/pjAZK.jpg)

## Flutter Docto

[2018-10-29 03:56] xuexin opened #2734 "NoReadAccessException from VmServiceWrapper.attachIsolate"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Flutter 0.9.4 • channel beta • https://github.com/flutter/flutter.git
Framework • revision f37c235c32 (5 weeks

[2018-10-29 14:29] #2674 closed

[2018-10-29 15:36] devoncarew commented on #2734
Thanks for the report! This race condition was fixed recently, and will be in the release due out at the end of the week.

[2018-10-29 15:36] #2734 closed

[2018-10-30 02:04] devoncarew commented on #2732
@jacob314, can you triage this?

@ZzZxL; I believe there was a regression recently wrt the service protocol extension the Inspector uses. Can you try updating your version of Flutter and see if that addresses the issue?

[2018-10-30 03:02] ZzZxL commented on #2732
@devoncarew ;My flutter version is up-to-date, but I tried to change the dev channel to Beta, em... finally it works. Thanks for your prompt and help.

[2018-10-30 07:10] zoechi commented on #2732
Sounds like this can be closed then.
Thanks for the update @ZzZxL

[2018-10-30 07:10] #2732 closed

[2018-10-31 08:47] hnvn opened #2742 "[Android] Cannot run an application from IDE after changing the ordering of activities declared in AndroidManifest"
I found a weird case. In my project, I need to add a plugin (it called `image_cropper`) and this plugin requires me to add an activity in `AndroidManifest` file. The interesting thing is that I have to place additional `activity` tag below the default `.MainActivity` of flutter project, otherwise the application will be crashed when I click on run button. The following is my `AndroidManifest` in t

[2018-10-31 09:18] brianegan commented on #2696
Just wanted to chime in here: @filiph and I are running a workshop one of our attendees ran into this same problem: No wizard appeared or options to create a new flutter project.

Installing / reinstalling didn't work, and deleting their settings wasn't a viable option since they use Android Studio as their primary IDE for work projects.

Creating a project from the command line and using Android

[2018-10-31 10:05] RohitSurwase commented on #2696
Though you are not looking for a temporary solution here are the steps for it-
(For anyone looking for a quick fix)

Cause- We are importing settings from the previous version of Android Studio as a general practice.

Solution-
Step 1: Remove Flutter and Dart plugin from Studio.
Step 2: In the command line
flutter channel master (switch to master branch)
flutter doctor (get updates from master bra

[2018-10-31 15:45] devoncarew opened #2743 "tracking issue for M30"
This is a general tracking issue for M30 - feedback on the release and issues we find.

@stevemessick @jwren @pq @terrylucas @jacob314

[2018-10-31 23:16] devoncarew commented on #2743
I see an issue where the checkboxs in the Inspector (for repaint rainbow and and the perf overlay) self-toggle continuously after you toggle them once. I don't see it all the time, but once it starts happening, they toggle on / off a few times a second - you have to restart IntelliJ to stop it.

[2018-11-01 01:56] xuexin opened #2746 "Null arg for parameter 'project' of FileEditorManagerEx.getInstanceEx, from FlutterModuleUtils.autoShowMain"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

## Exception

Argument for @NotNull parameter 'project' of com/intellij

[2018-11-01 02:16] s3hengwu opened #2747 "cannot connect my devices"
as3.2 has connect my devices, and can print logcat.but flutter no devices

[2018-11-01 04:39] jacob314 commented on #2743
Pull requests for M30
https://github.com/flutter/flutter-intellij/pull/2749 <-- turn on track-widget-creation on 0.10.2 and later (includes tip of trunk)
https://github.com/flutter/flutter-intellij/pull/2748 <-- fix performance tip url for opacity animation

https://github.com/flutter/flutter-intellij/pull/2750 <-- fix flickering checkbox bug. Fix is a bit overly paranoid as I couldn't create a tr

[2018-11-01 13:19] stevemessick commented on #2725
Sould be out by Friday if all goes well during testing.

On Wed, Oct 31, 2018, 8:27 PM Neil Jay Warner <notifications@github.com
wrote:

[2018-11-01 17:20] devoncarew commented on #2742
@hnvn, thanks for the feedback! I think this is more Flutter runtime specific than IDE specific - I'll move the issue over to the main flutter repo.

[2018-11-01 17:20] devoncarew commented on #2742
/move to flutter

[2018-11-01 17:20] #2742 closed

[2018-11-01 17:34] SocialMammoth opened #2752 "Hard Crash when using AMD cpu (Intel works fine). First Flutter app. Using master channel."
## What happened

Works (launches) only the first time when a clean emulator is being used (This is the basic unmodified Flutter template code). Subsequent launches do not work after that (crash). When all data is wiped from the emulator it will work again only for the first launch and keep crashing after that. This only seems to happen on AMD cpus (I have tried on multiple different Intel CPUs an

[2018-11-01 18:12] expl0r3rgu1 commented on #2713
I got this error too

[2018-11-01 20:48] stevemessick commented on #2743
#2745 Add a AS Canary build

[2018-11-01 22:43] InMatrix opened #2754 "Missing rebuild indicators for some widgets"
## Steps to Reproduce

Run the perf diagnosis demo app and turn on the rebuild indicators. In clock_demo.dart, I'd expect to see an indicator for the Column widget's constructor (Line 37).

![image](https://user-images.githubusercontent.com/348942/47884115-cf048380-ddec-11e8-8d57-826a3d209b11.png)

[2018-11-01 22:48] InMatrix opened #2755 "Use the refresh button in the inspector doesn't update performance data"
The refresh button in the inspector currently has no effect on the data generated from the experimental widget rebuild profiler. Its current placement makes it appear to be applicable to all the three areas in the inspector. We need to either make it refresh perf data or change it's location so the user knows it's specific to the widget/render tree.

![image](https://user-images.githubusercontent.

[2018-11-02 00:10] jacob314 commented on #2754
This is actually a package:flutter issue. We are technically recording the correct rebuilds. The rebuild method isn't being called on the column for reasons related to RenderObjectElement updating the associated render object instead of doing a rebuild.

[2018-11-02 02:41] SocialMammoth commented on #2752
I also get this in the event log:

[code]

[2018-11-02 02:42] SocialMammoth commented on #2752
I also get this in the event log:

[code]

[2018-11-02 10:15] yanzhenjie commented on #2084
**dazza5000**'s solution is successful.

It should be that the flutter plugin does not find the location of the android sdk.

We only need to tell flutter the location of android sdk explicitly:
[code]
**For example**, my android sdk path is `~/develop/android-sdk`, this will solve the problem:
[code]

----
**The following is just an extension of the knowledge.**

You can see some parameters that

[2018-11-02 10:22] nb312 commented on #2443
I also have this problem and use the project from git.

[2018-11-02 12:46] Christian-AT commented on #2743
Issue launching Android Studio from IntelliJ. Gradle not working?

Mac OSX.
IntelliJ IDEA Community 2018.2.4 with Flutter plugin v. 30.0.2.
Android Studio 3.3 Beta version 1 with Flutter plugin v. 30.0.2.
Flutter v. 0.9.4.

To reproduce:
In IntelliJ, create new Flutter project, project type: plugin, "Open Android module in Android Studio".

Result: Android Studio opens as it should, code completio

[2018-11-02 13:42] Christian-AT opened #2756 "Problem with code analysis when launching Android Studio from IntelliJ"
Issue launching Android Studio from IntelliJ. Gradle not working?

## Steps to Reproduce

In IntelliJ, create new Flutter project, project type: plugin, "Open Android module in Android Studio".

Result: Android Studio opens as it should, code completion works, but code analysis hangs at "Performing code analysis No problems found so far", and error highlighting does not appear.
Error logs indicate

[2018-11-02 15:44] stevemessick commented on #2756
Thanks for the report! I do see some errors when I try this, but I don't have any problems with analysis hanging. Were you prompted to upgrade the Gradle plugin?

At this time, I don't think we need to hold the release for this; I don't think the errors are caused by anything in the Flutter plugin.

[2018-11-02 17:04] InMatrix opened #2757 "Fade out rebuild indicators"
## Steps to Reproduce

The rebuild indicators disappeared too quickly when the rebuild activity was short. You can reproduce what I saw using the default counter app. Here is a screencast: https://www.youtube.com/watch?v=Aqk8GXBXqIc&feature=youtu.be

[2018-11-02 23:35] InMatrix opened #2758 "Track usage of rebuild indicators and perf tips"
It would be useful to track the following events in the analytics from the next release:
* open the perf tab in the inspector
* enable rebuild indicators
* disable rebuild indicators
* click on a perf tip

[2018-11-03 00:05] InMatrix opened #2759 "Show the cause of red spikes from the UI graph"
We had two study participants (P01 and P06) so far expecting to see details about what cause red spikes when examining the UI graph in the Performance tab of the inspector. We should consider supporting this need.

Specific proposal is TBD, but one idea is to show the rebuild stats table for the current route at the selected timestamp. This will require the IDE to record rebuild stats for hundreds

[2018-11-03 03:34] yohom opened #2760 "`Show widget rebuild indicators` is unable."
Why is my `Show widget rebuild indicators` unable?

![screen shot 2018-11-03 at 11 31 36](https://user-images.githubusercontent.com/10418364/47947694-41e03c80-df5c-11e8-8919-c6433186afaf.png)

## Version info
[code]

[2018-11-03 05:14] InMatrix commented on #2760
This is an experimental feature, and it requires the latest flutter master branch. You can do the following and try again:

[code]

Cc: @devoncarew We probably should amend our release notes to make sure people know how to try this feature.

[2018-11-03 05:33] InMatrix opened #2761 "The UI graph in the inspector can be difficult to read"
The study participant (P06) today found the UI graph difficult to understand.

![image](https://user-images.githubusercontent.com/348942/47948434-833a0300-deee-11e8-9311-4d1974610236.png)

Based on my observation, there are a few issues:
1. It's unclear whether the Y axis shows FPS or time, since one label was shown on the left end of the chart and the other label was shown  the right end of the g

[2018-11-03 15:01] #2713 closed

[2018-11-03 16:04] expl0r3rgu1 commented on #2713
I got this error just recently developing in intellij idea. I don't really
know the causes. I just tried to run the default flutter project (The one
with the tap counter). I hope you will help me. I really want to develop in
flutter!

Il giorno Sab 3 Nov 2018, 16:01 no-response[bot] <notifications@github.com>
ha scritto:

[2018-11-03 18:42] rohitranjan1991 commented on #2126
Same Issue. Any update on this ??

[2018-11-03 18:56] InMatrix opened #2762 "Let users know the inspector needs a running project"
When the user opens the inspector without a running Flutter project, there is no explanation about why there is nothing displayed. We can add some information in this state such as: "Run your project to use the inspector." We could consider adding more information there, and effectively use that space as an on-boarding UI.

![image](https://user-images.githubusercontent.com/348942/47956260-f0857c8

[2018-11-05 01:50] cclink opened #2763 "IllegalStateException parsing json from FlutterSdk.queryFlutterConfig"
## What happened

Each time I opened my flutter project, I got this error.

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 30.0.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

## Exception

update failed for AnAction(io.flutter.actions.DeviceSelectorAction) with ID=Flutter.DeviceSelector: Not a JSON Object: null

[code]

[2018-11-05 02:50] ishanray opened #2764 "java.util.concurrent.CompletionException: java.io.IOException: Application terminated"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

Stopped and run app.

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 30.0.1` • Dart plugin `181.5656`

Flutter 0.9.4 • channel beta • https://github.com/flutter/flutter.git
Framework • revision f37c235c32 (6 weeks ago) • 2018-09-25 17:45:40 -0400
Engine • revi

[2018-11-05 04:43] InMatrix opened #2765 "Clearly mark experimental features and Flutter version requirements"
The Rebuild Indicators setting is grayed out when using the latest version of the plugin with the latest version of Flutter in the beta channel. This has caused user confusion (e.g., #2760).

This feature requires a recent commit to Flutter's master branch. We should consider a hotfix to mark it as experimental and state the minimum Flutter version required.

[2018-11-05 04:52] InMatrix opened #2766 "Direct user attention when rebuild indicators are enabled for the first time"
In a recent UX study, the rebuild indicators failed to draw the participant's attention when he enabled them for the first time. One of the barriers is that those indicators are displayed in the left margin of the code editor, an area far away from the inspector where the setting for rebuild indicators is located. We'll experiment with new UI tweaks to address this issue.

[2018-11-05 05:04] InMatrix opened #2767 "Make "Perf Tips" feel more relevant"
In a recent UX study of the perf tools, the participant (P06) didn't pay much attention to the performance tips served by the inspector. While there isn't a single reason leading to non-use of the tips, we can potentially introduce a few tweaks to make this section looks more relevant and useful:

* Change the section heading from "Perf Tips" to "Performance Warnings" or "Performance Advisories".

[2018-11-05 09:57] Christian-AT commented on #2756
Indeed I was. The above reported error appeared when I declined the upgrade. When accepting the upgrade, I get an error message stating:
ERROR: Could not find lint-gradle-api.jar (com.android.tools.lint:lint-gradle-api:26.1.2).
Searched in the following locations:
    https://jcenter.bintray.com/com/android/tools/lint/lint-gradle-api/26.1.2/lint-gradle-api-26.1.2.jar
Open File

[2018-11-05 13:59] stevemessick commented on #2756
Thanks for the update.

[2018-11-05 13:59] #2756 closed

[2018-11-05 16:05] devoncarew commented on #2763
Likely some unexpected text coming across the wire from flutter_tools?

[2018-11-05 16:08] devoncarew commented on #2762
We'd had this in earlier versions, but ran into a platform bug (since addressed?) where the content for a newly launched app wasn't auto-selected - even with an app running, the user would see the blank, 'no running apps' message.

[2018-11-05 16:21] devoncarew commented on #2752
@SocialMammoth, I'm not sure whether this is a general Flutter framework issue or something specific to the Inspector. In order to separate those out, can you try closing the Inspector tool window. If you still see the problem we should likely move this issue over to the flutter/flutter repo.

[2018-11-05 17:59] pq commented on #2731
See also #1058; net-net: at the time this was difficult in IDEA for platform reasons.  Android Studio might be a different issue though?

[2018-11-05 18:00] pq commented on #2731
Also related: #1095.

[2018-11-05 18:30] stevemessick commented on #2767
@InMatrix Which version of the Flutter plugin were you using?

@jacob314 For design/coding consideration.

[2018-11-05 18:33] stevemessick commented on #2765
/cc @jacob314

[2018-11-05 18:33] InMatrix commented on #2767
@stevemessick The latest version from last Friday and also the pre-release version @jacob314 and I are working on.

[2018-11-05 18:43] stevemessick commented on #2676
Duplicate of #2619

[2018-11-05 18:43] #2676 closed

[2018-11-05 18:45] stevemessick commented on #2764
Duplicate of #2619

[2018-11-05 18:45] #2764 closed

[2018-11-05 18:49] stevemessick commented on #2449
Duplicate of #2619

[2018-11-05 18:49] #2449 closed

[2018-11-05 18:54] #2743 closed

[2018-11-05 18:58] stevemessick commented on #2314
@devoncarew @jacob314 This has been moved to five milestones. Do we think it will actually make it into M31? It looks like a new feature to me, so maybe we should be moving it out later.

[2018-11-05 18:59] stevemessick commented on #2031
@devoncarew @jacob314 This has moved milestones six times. Should we plan on doing it later than M31? Or is this really a bug that can be fixed for M31?

[2018-11-05 19:13] devoncarew commented on #2031
It'll require a change in package:flutter, so won't hit in the M31 timeframe. I'll conservatively bump it to the 'on deck' milestone.

[2018-11-05 20:46] stevemessick commented on #2724
We're taking no action here since logcat can be opened when needed.

[2018-11-05 20:46] #2724 closed

[2018-11-05 20:55] stevemessick commented on #2607
This was a problem in Android Studio that was fixed with 3.2.

[2018-11-05 20:55] #2607 closed

[2018-11-05 21:00] stevemessick commented on #2573
This is tracked as a Dart plugin issue, 198218

[2018-11-05 21:00] #2573 closed

[2018-11-05 21:59] stevemessick commented on #2309
@alexander-doroshko I noticed the Dart plugin settings are also not searchable. Any idea how to fix it?

[2018-11-05 22:01] stevemessick commented on #2289
@pq @jacob314 Does this still occur? If not, perhaps you can close it.

[2018-11-05 22:30] devoncarew opened #2769 "M31 release plan meta issue"
This is the plan for the M31 milestone.

(resurrecting a practice from earlier releases, I'd like to create a meta-issue to track work in M31)

## Plan items

- todo:

---

## Releasing

The release date is ~11/28.

- [ ] create release candidate, send out for testing; 11/26 @messick

---

[2018-11-05 22:34] stevemessick commented on #2731
Yes, the Android Studio version does character-by-character validation. The whole wizard framework is entirely different from the one in IntelliJ.

[2018-11-05 22:37] kenzieschmoll commented on #1915
Do we want Flutter version, plugin version, and IDE version?

The current form asks for IDE and plugin. This issue description asks for Flutter and plugin. Do we want all 3 or just 2?

[2018-11-05 22:43] jacob314 commented on #1915
Including all 3 sounds good as bugs might be due to all 3.

[2018-11-05 22:46] stevemessick commented on #2694
I'm sure #2698 fixes something but I can't see the relevance to this issue; I probably clicked the wrong one after merging that PR.

[2018-11-05 22:57] devoncarew commented on #2694
Thanks for the report! Closing as it looks like a dup of https://github.com/flutter/flutter-intellij/issues/2706

[2018-11-05 22:57] #2694 closed

[2018-11-05 23:14] pq opened #2770 "Add ChangJoo-Park to AUTHORS"
Thanks again for #2768 @ChangJoo-Park!  We'd like to add you to [AUTHORS](https://github.com/flutter/flutter-intellij/blob/master/AUTHORS).  What's a good name / email we can use for attribution?

[2018-11-06 01:01] InMatrix commented on #1915
Can we add a hint text below each question about how to find version numbers?

[2018-11-06 01:25] InMatrix opened #2771 "Ineffective icon in the inspector for additional tools"
Feedback from a study participant today: the second gear icon (circled in red below) in the inspector was not a useful signifier for additional tools. He thought it’s usually for finding settings. Can we use a different icon such as the vertical three dots icon in Chrome, ">>", or a label such as "More tools"?

![image](https://user-images.githubusercontent.com/348942/48036946-41dc6a00-e11f-11e8-8

[2018-11-06 01:31] InMatrix opened #2772 "Show simple tools before advanced tools in the inspector toolbar"
A study participant commented that exploring difficult to use tools such as the Observatory from the inspector's toolbar discouraged him from exploring other tools, under the assumption that other, less accessible tools would just be as challenging if not more so.

We should order the list of tools by ease of use and frequency of use. Advanced tools should probably go into the `more` menu in the e

[2018-11-06 02:17] ChangJoo-Park commented on #2770
Thanks @pq !
I'll PR to README.md with my email

[2018-11-06 06:30] dark-chocolate commented on #2573
I can't see any link of Dart plugin issue 198218.

[2018-11-06 07:02] zoechi commented on #2573
@dark-chocolate That's the link you posted in your previous comment.

[2018-11-06 07:07] dark-chocolate commented on #2573
@zoechi Got it! Thanks, but that issue hasn't been solved on youtrack. Does it mean if it will be solved it will only be solved in youtrack and github can't do anything in my issue. Only youtrack is the last resort?

[2018-11-06 07:18] zoechi commented on #2573
@dark-chocolate I assume that's the plan, otherwise it would be closed as "won't-fix".

There is no point in tracking one issue in multiple places and Dart plugin issues are tracked there.

[2018-11-06 10:50] brianegan opened #2774 "Memory Profiler load failure in IDEA"
## What happened

  1. Create a new Flutter Project using IntelliJ Ultimate
  2. Open Android Emulator (haven't tried iOS)
  2. Run/Debug Flutter project
  3. Builds fine, then deployed to app
  4. When app is launched, see Exception pop up in IntelliJ.
  5. Perhaps related? Unable to see the Widget tree in the Flutter Inspector.

## Solutions Tried / Other bits

  1. I tried disabling the `--trac

[2018-11-06 13:53] pq commented on #2771
+1.  The pile-up of gears is confusing.

Happy to take a look at this one.

[2018-11-06 14:05] pq commented on #2774
Hey @brianegan!

It looks like the memory profiler isn't working in IDEA...  You should be able to disable it in your Flutter preferences:

![image](https://user-images.githubusercontent.com/67586/48069236-d2e82b00-e189-11e8-9bf7-8d06b5388110.png)

(last item).

Thanks for the catch!

/cc @terrylucas @jacob314

[2018-11-06 14:22] pq commented on #2771
Looking at the IntelliJ Icon palette, there is an ellipsis, which might suit?

![image](https://user-images.githubusercontent.com/67586/48070195-2491b500-e18c-11e8-80f1-647111775c0e.png)

/cc @InMatrix

[2018-11-06 14:23] pq commented on #2772
@InMatrix : do you have a read on what a preferred ordering / grouping might be?

[2018-11-06 15:58] devoncarew commented on #2772
👍

[2018-11-06 16:38] jacob314 commented on #2771
I would worry `...` is too subtle and will be ignored.
Perhaps optimize for discovery over appearance and have it look like a Menu which it what it is.
For example make it look like a menu with a down arrow like the project menu.

Options ▼

<img width="97" alt="screen shot 2018-11-06 at 8 37 34 am" src="https://user-images.githubusercontent.com/1226812/48078948-3b8dd280-e19f-11e8-8830-952ee6229d2

[2018-11-06 16:42] kenzieschmoll commented on #1915
Just sent a [PR](https://github.com/flutter/flutter-intellij/pull/2775) out.

Will update survey once this lands.

Last three fields are automatically filled in.
https://docs.google.com/forms/d/e/1FAIpQLSe5Fu-AFb2Wmxtr7UWgxZt6Z76B4z9fE0vf-eu4pdKxqJ8DQg/viewform?entry.1740350095=0.10.2&entry.1082356620=182.4892.20&entry.1842668120=Idea%202018.2.5.0.0

[2018-11-06 16:44] alexander-doroshko commented on #2309
Dart plugin settings are probably not searchable in Android Studio and IntelliJ IDEA Community Edition but searchable in Ultimate Edition and WebStorm. I don't know exact steps to fix it at the moment. I think we need to debug the logic in IntelliJ Platform that searches for the settings. The fix might require changes in the Platform. We have a similar issue on our issue tracker: https://youtrack.

[2018-11-06 17:01] InMatrix commented on #1915
Oh, I didn't realize all three version fields can be auto-filled. Sorry about the confusion. :-)

[2018-11-06 17:02] jacob314 opened #2776 "Flicker in logging view when window is narrow"
If the log window is too small for the UI the # of items in the log flickers. It would be best to just hide the # of items or show it consistently on top of the other UI when the the log window is too narrow.

![flicker](https://user-images.githubusercontent.com/1226812/48080477-9ecd3400-e1a2-11e8-83c2-234095be8b89.gif)

[2018-11-06 17:13] #1915 closed

[2018-11-06 17:16] pq commented on #2771
Sounds good to me.

I wonder if this is clear enough?

![image](https://user-images.githubusercontent.com/67586/48081300-88c07300-e1a4-11e8-8bcd-ad7b0db48fec.png)

[2018-11-06 17:31] pq commented on #2771
Or:

![image](https://user-images.githubusercontent.com/67586/48082137-9c6cd900-e1a6-11e8-8403-e02415dd1c17.png)

[2018-11-06 17:34] pq commented on #2770
Fixed w/ https://github.com/flutter/flutter-intellij/commit/8bdb005e922cc78ba8bb2d30c2caa831600d3e13.

[2018-11-06 17:34] #2770 closed

[2018-11-06 18:04] devoncarew commented on #2771
The gear icon does blend in a bit, but it's the std menu icon in IntelliJ tool windows. Agree 100% that we need to improve discovery here.

[2018-11-06 18:06] pq commented on #2485
Another angle to consider is to use the new details pane:

![image](https://user-images.githubusercontent.com/67586/48084014-7e55a780-e1ab-11e8-8c18-c78619a20338.png)

So far this is just showing json "data" but could easily be used to show stack traces and that may be a nice alternative to nesting.

[2018-11-06 18:13] devoncarew commented on #2572
re: this:

[code]

I suspect this is hitting an assertion because the on-device inspector UI uses parts of flutter/material, and the current app is just using `package:flutter/cupertino.dart`. I suspect a fix here would involve changes to the inspector code in the flutter framework - to make this assert not fire, or to reduce the use of the material components in the inspector.

cc @jacob314

[2018-11-06 18:16] pq commented on #2771
That's a good point.  That said, what it usually contains is more "window"-specific.  For example:

![image](https://user-images.githubusercontent.com/67586/48084241-089e0b80-e1ac-11e8-9334-5eb76887d224.png)

In this case we're not quite showing a tool window menu.

![image](https://user-images.githubusercontent.com/67586/48084571-efe22580-e1ac-11e8-95ad-41a951f60e7f.png)

Also note that the "real

[2018-11-06 18:22] devoncarew commented on #2771
Ah, good point.

[2018-11-06 18:31] devoncarew commented on #1686
closing in favor of more specific bugs and OKRs

[2018-11-06 18:31] #1686 closed

[2018-11-06 18:31] devoncarew commented on #1687
closing in favor of more specific bugs and OKRs

[2018-11-06 18:31] #1687 closed

[2018-11-06 18:31] devoncarew commented on #1689
closing in favor of more specific bugs and OKRs

[2018-11-06 18:31] #1689 closed

[2018-11-06 19:09] pq commented on #2771
Here goes:

![image](https://user-images.githubusercontent.com/67586/48087552-73ebdb80-e1b4-11e8-965a-43a035515657.png)

[2018-11-06 19:16] devoncarew commented on #2567
dupe of https://github.com/flutter/flutter-intellij/issues/2706

[2018-11-06 19:16] #2567 closed

[2018-11-06 19:16] devoncarew commented on #2706
This issue is a common cause of bug reports.

[2018-11-06 19:18] devoncarew commented on #2320
Closing - assuming stale.

[2018-11-06 19:18] #2320 closed

[2018-11-06 19:20] devoncarew commented on #2423
I'm going to make this issue specific to the context menu (we've already got several icons along the top of the outline view).

[2018-11-06 19:38] devoncarew commented on #1683
closing as likely stale; please re-open if that's not the case -

[2018-11-06 19:41] devoncarew commented on #2428
closing as likely stale

[2018-11-06 19:41] #2428 closed

[2018-11-06 19:42] devoncarew commented on #2761
Some of this work can be done in the M31 timeframe.

[2018-11-06 20:05] devoncarew commented on #2767
Some of these are doable by M31.

[2018-11-06 20:07] #2704 closed

[2018-11-06 20:10] #2771 closed

[2018-11-06 20:12] #2423 closed

[2018-11-06 22:57] stevemessick commented on #2746
This isn't something that can be fixed in the Flutter plugin code. It is a problem at a deeper level in the platform, and I believe it has been fixed in the current sources. (At least, several changes have been made to prevent null from getting passed as a param by the caller here. The code for ToolWindowManagerImpl has undergone heavy revision in the last six months.)

[2018-11-06 22:57] #2746 closed

[2018-11-06 23:20] stevemessick commented on #2696
Not clear what this means. If "no wizard appeared" when you did something to cause a wizard to appear, what was it that you did?

If "options to create" were not present then did you do something that should have invoked the wizard?

By "wizard" are we talking about the New Project Wizard that is used to create Flutter projects in Android Studio?

There are two ways to invoke the New Project Wizar

[2018-11-06 23:32] stevemessick commented on #2661
Just to expand on this a bit: We need to re-evaluate the state of Add2App and do whatever is needed to bring the UI in-line with that. A major PR just was closed without merging (https://github.com/flutter/flutter/pull/23597) and I'm not sure what state the project is in right now.

[2018-11-07 00:17] brianegan commented on #2774
My bad -- thought I'd disabled that one as well. Thanks!

[2018-11-07 00:46] pq commented on #2774
Well, it shouldn't crash like that so actually, thanks for the catch!

[2018-11-07 04:12] #2752 closed

[2018-11-07 11:58] RohitSurwase commented on #2696
@stevemessick I request you go through the previous comments because the answers that you are looking for are already there.

[2018-11-07 12:31] brianegan commented on #2696
Hi @stevemessick -- I'll try to answer each question!

  * By "wizard" are we talking about the New Project Wizard that is used to create Flutter projects in Android Studio? - Exactly. The Wizard you get by clicking on "Start a new Flutter Project" from the Welcome screen.
  * Not clear what this means. If "no wizard appeared" when you did something to cause a wizard to appear, what was it that yo

[2018-11-07 15:56] stevemessick commented on #2696
@brianegan Thanks for the clarification! I'm trying to understand if the plugin was activated or not. Do you recall if the device selector was visible? It is in the menu bar, toward the right-hand side. It is the `<no-devices>` drop-down in this image.

<img width="342" alt="screen shot 2018-11-07 at 7 35 26 am" src="https://user-images.githubusercontent.com/8518285/48141463-d1893200-e25f-11e8-9ab

[2018-11-07 19:06] devoncarew opened #2784 "update new project wizard images"
In Android Studio, we have ~3 images for the new project wizards:

<img width="727" alt="screen shot 2018-11-07 at 11 04 17 am" src="https://user-images.githubusercontent.com/1269969/48154224-e9bb7a00-e27c-11e8-9cf1-278522ba45ae.png">

we should update the 'plugin' and 'package' one w/ new images; this may just be as simple as using icon badges that are slightly larger. Several possible material d

[2018-11-07 23:46] InMatrix opened #2789 "The UI graph in the inspector shows nothing in profile mode"
## Steps to Reproduce

Run flutter_gallery in profile mode.

![image](https://user-images.githubusercontent.com/348942/48168445-1040db80-e2a4-11e8-9d09-f13215f8cfe3.png)

## Version info
[✓] Flutter (Channel master, v0.10.3-pre.134, on Mac OS X 10.13.6 17G65, locale en-US)
    • Flutter version 0.10.3-pre.134 at /Users/taodong/Development/flutter/flutter
    • Framework revision 50fb729609 (3 hour

[2018-11-08 00:29] stevemessick commented on #2789
@jacob314

[2018-11-08 00:30] stevemessick commented on #2784
@devoncarew The module template is still in use.

[2018-11-08 05:11] devoncarew commented on #2784
Gotcha - thanks; not easy to keep up with the latest here :) We should have an updated image for that as well then.

[2018-11-08 11:52] filiph commented on #2696
The attendee's version was the same as my own, a stable 3.2.1.

[2018-11-08 14:31] pq commented on #2682
@devoncarew : are you looking at this one?

[2018-11-08 14:35] stevemessick commented on #2493
The save needs to be done in a write context. This code was invoked from
too many places.

On Thu, Nov 8, 2018, 6:26 AM Phil Quitslund <notifications@github.com wrote:

[2018-11-08 14:47] pq commented on #2493
Ah, got it.  Are you tackling this?  Happy to take a crack if your plate is full.

[2018-11-08 15:03] HerrNiklasRaab commented on #2608
Same problem here, only in a more complex project

[2018-11-08 15:57] stevemessick commented on #2493
I'm trying to improve the error reporting when Flutter crashed right now.

On Thu, Nov 8, 2018, 6:47 AM Phil Quitslund <notifications@github.com wrote:

[2018-11-08 17:51] #2661 closed

[2018-11-08 19:20] InMatrix commented on #2754
From a discussion with @Hixie in the inspector chat room. the reason why Column didn't get a rebuild indicator was because it's a RenderObjectWidget. This hasn't caused confusion in our user study, but it might undermine the perceived credibility of the information shown to the user if noticed frequently. We should at least mention that in the documentation of the feature.

[2018-11-09 00:50] devoncarew commented on #2774
I've seen this as well:

[code]

[2018-11-09 00:52] devoncarew commented on #2789
@InMatrix, do you remember what conditions you saw this under? I saw this after hitting https://github.com/flutter/flutter-intellij/issues/2774 (an exception while setting up connections to the running app). When I hot restarted the app (I was running in debug mode), I started seeing the FPS info again.

[2018-11-09 01:05] InMatrix commented on #2789
I don't remember seeing this exception. However, my IDE's connection to the device was more flaky than usual when I was trying to reproduce this bug. I tried a few times before I ran the app in profile mode without losing connection.

When the app (Flutter Gallery) was in profile mode. I could show the Performance Overlay on the device, but there was no data in the UI graph in the IDE.

[2018-11-09 13:34] devoncarew commented on #2682
hey - no, not currently.

[2018-11-09 15:11] waleedf112 opened #2793 "problem when reading from a json file"
---

## What happened

when i create a JSON file the first time it works.
but when i re run the app, this error appear and doesn't go away until i clear the cache for the app in the emulator.
this error doesn't appear when debugging with a real phone

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 30.0.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

[2018-11-09 17:04] pq opened #2794 "consider running `flutter doctor` on startup"
Suggested by @mehmetf / @jwren / @DaveShuckerow:

https://github.com/flutter/flutter-intellij/blob/master/src/io/flutter/FlutterInitializer.java would make a natural home for this logic.

[2018-11-09 17:18] #2763 closed

[2018-11-09 20:36] scheglov commented on #2722
Do you really mean "autocomplete", or something else, e.g. `Import Library` quick fix?
If it the first, please provide an example.

If it is the second, yeah, I can see why you think that it could be useful.
![image](https://user-images.githubusercontent.com/384794/48286634-21f8bf00-e41b-11e8-8a6c-01ac39234de8.png)

It is not `100%` clear decision, though. Probably for most of the users it is, bec

[2018-11-09 20:44] Solido commented on #2722
In my case each time I use live template to create my widget then I got the message that the import are missing so I use the keyboard to get the suggestions.

At this step I need to use the down key to get to material which is the best solution 95% of the time.
I'm sure beginner said ok to cupertino because they don't understand the difference ... and guess what ? they import cupertino on all thei

[2018-11-09 20:53] jacob314 commented on #2722
I agree that material, cupertino, then dart:ui is the right priority order for users.
Very few developers should be using the version from dart:ui directly. Potentially in the future we could apply some simple bayesian logic to determine the priority order of the import based on the probability of the import being used for a particular class globally across all of github and locally in the user's

[2018-11-09 22:44] pq opened #2798 "investigate support for on-demand verbose logging"
Starting an app with `flutter run --verbose` can provide useful information.  In general though the information is too much and should be filtered out.  It would be interesting to see if we could add support that would allow for toggling of verbose output on-demand.

Challenges presented by the flutter tools implementation:

1. there is no indication, given a log entry, whether it is verbose (or n

[2018-11-10 00:04] stevemessick commented on #2793
If the app works on a physical device but fails with an emulator then it sounds like you've hit a bug in the emulator. It might be in the Flutter driver, I suppose. In any case, the app is terminating unexpectedly. I'm afraid there isn't much we can do about that. You could try reporting the problem to the Android team if you think the emulator is at fault. The Flutter team might be able to help i

[2018-11-10 00:04] #2793 closed

[2018-11-10 02:52] craiglabenz commented on #1429
For what it's worth, I am following tutorials [Codelabs tutorials like this one](https://codelabs.developers.google.com/codelabs/flutter/#3) and began running into this problem immediately. It wasn't until I found this thread that I was certain I wasn't doing something horribly, horribly wrong.

The error does also seem to still lock up hot reloading, requiring a simulator restart.

[2018-11-10 09:03] DanTup commented on #2798
Nope! We already display stdout in the console (since as you mention, there's output that goes straight to it as raw text and not `JSON`) so when running in verbose mode you just see the extra output in the debug console.

I don't think verbose logging is the only stuff that goes raw to stdout though, so if we wanted to filter it we may need to fix that so other stuff doesn't disappear?

[2018-11-10 16:59] benedicte69 opened #2800 "Error getting Flutter sdk information."
## What happened

opening the app from the emulator

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 30.0.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

## Exception

java.util.concurrent.CompletionException: java.io.IOException: Application terminated

[code]

[2018-11-11 00:21] tedhsieh1966 opened #2801 "java.io.IOException: error from app.callServiceExtension: "method not available: ext.flutter.inspector.getSelectedWidget""
## What happened

App crash every time after re-compiling my project after upgrading all the packages. Only work once the App was uninstalled from emulator, but crash again when re-start of the App.

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 29.1.1` • Dart plugin `181.5656`

Error getting Flutter sdk information.

## Exception

java.io.IOException: error from app.

[2018-11-11 09:31] shanirel opened #2802 "java.io.IOException: error from app.callServiceExtension: "Bad state: No element""
## What happened

I was editing some text while the flutter app was in the background,
Then after saving returned to the flutter app

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 30.0.1` • Dart plugin `181.5656`

Flutter 0.10.2 • channel beta • https://github.com/flutter/flutter.git
Framework • revision d8cbb80206 (2 weeks ago) • 2018-10-26 01:30:21 -0400
Engine • re

[2018-11-11 12:33] natezhengbne opened #2803 "Error -32000 received from application: Server error"
When I start to debug on main.dart.
[bug-report_1.zip](https://github.com/flutter/flutter-intellij/files/2569360/bug-report_1.zip)

The debug console logged out "### **Error -32000 received from application: Server error**"
What's -32000?
and the IDEA report a error as below
## Exception
java.util.concurrent.CompletionException: java.io.IOException: error from app.callServiceExtension: "JSON-RPC e

[2018-11-12 02:38] Sunzxyong opened #2804 "The 'flutter plugin' project cannot display the android src view tree."
The 'flutter plugin' project cannot display the android src view tree.

[2018-11-12 02:58] stevemessick commented on #2801
@jacob314 Could you take a look at this? I'm wondering if there is some integration issue we need to fix.

[2018-11-12 03:02] stevemessick commented on #2802
The root cause of this problem is an error thrown by the Dart code in the flutter tool. Without more information there isn't much we can do. See #2657 for more detail.

[2018-11-12 03:02] #2802 closed

[2018-11-12 03:17] stevemessick commented on #2803
From the JSON spec:

@jacob314 @devoncarew Are we using some server via JSON in a service extension?

[2018-11-12 03:31] stevemessick commented on #2800
It appears the Flutter app terminated unexpectedly. The stack trace doesn't help understand why. I'm afraid there isn't much we can do based on this info. Once https://github.com/flutter/flutter-intellij/pull/2799 lands we should get more info from the stack, but that won't be until M31.

I'm going to close this but but also ask if @jacob314  has any better ideas?

[2018-11-12 03:31] #2800 closed

[2018-11-12 04:54] natezhengbne commented on #2803
I don't know if the stack trace is related with the error

[code]

[2018-11-12 07:52] Errichamonda opened #2805 "Cannot attach debugger"
## Steps to Reproduce

I've already opened a issue on Flutter GitHub but they weren't very useful.
When I try to lauch my application in debug mode, it seems like lauching normally. The applicaion skips all the breakpoints without any error and the application doesn't wait for debugger.

## Version info
Flutter doctor:
[code]

Also Flutter Plugin version: 30.0.1

[2018-11-12 11:17] SelloN opened #2806 "I'm running flutter on android studio and keep getting timeouts at random times when running the app on debug"
Thanks for the feedback! If your issue is related to the Flutter framework itself,
please open an issue at
[github.com/flutter/flutter](https://github.com/flutter/flutter/issues/new).

## Steps to Reproduce

_Please tell us what you were doing and what went wrong_

## Version info

Please paste the output of running `flutter doctor -v` here (available from the command
line or from `Tools > Flutter

[2018-11-12 16:14] jacob314 commented on #2801
Can you run
`flutter clean`
followed by
`flutter pub get`
To see if the error reproduces?
This error is pretty surprising as that method has been in the flutter sdk for a long time.

[2018-11-12 16:24] jacob314 commented on #2758
@pq you know the analytics system better than I do. Want to add these events?

[2018-11-12 16:38] jwren commented on #2805
Does debugging work in the samples, but not your your own app?

If it is just your own app, have you happened to modify the main activity for Android?  If for instance you modify the call to FlutterMain.ensureInitializationComplete in your Activity, see [1], to not pass the "--start-paused" Dart VM flag, then debugging won't work.

If this isn't it, the next step would be to go look in your Intell

[2018-11-12 16:41] jwren commented on #2806
Please use `flutter doctor` to attach flutter and intellij versions.  How are the timeouts manifesting themselves?  Is there some source code that prompts this?  Does it happen with one or all of the samples?

[2018-11-12 16:57] jacob314 opened #2807 "Support creating flutter samples directly from the Flutter IntelliJ code when browsing Flutter docs"
You can create samples from the command line as follows
`flutter create --sample=chip.DeletableChipAttributes.onDeleted`

And see the samples when browsing dart docs.

https://master-docs-flutter-io.firebaseapp.com/flutter/material/Chip/onDeleted.html

It would be great if from IntelliJ you could create a project with a sample with a single click while browsing docs.

[2018-11-12 17:00] jacob314 commented on #2807
@gspencergoog  worked on support for the feature in the Flutter repo that we should leverage to implement IDE support.

An ideal implementation would show a clickable button in the Dart source code that would execute the flutter create and open a new intellij project in a separate window with the result of the create.

[2018-11-12 18:40] pq opened #2808 "consider showing full text for truncated log entries in the detail view"
Follow-up from https://github.com/flutter/flutter-intellij/pull/2792#pullrequestreview-173626129,

[2018-11-12 18:44] pq commented on #2798
Thanks for confirming @DanTup!

Spot on.  On the surface it seems like we could make `verbose` use a machine mode and tag it's entries as such in JSON.  I haven't explored it though...

[2018-11-12 19:32] Meai commented on #2397
@alexander-doroshko that sounds weird because when I tried that same code in vscode with their dart plugin, it seemed to work normally there. I only had the problem with intellij

[2018-11-13 07:51] Errichamonda commented on #2805
The debug works on other project.
In the MainActivity.java there is nothing except the usual super.onCreate and GeneratedPluginRegistrant.registerWith(this);

By the way the debugging stopped working in that particular project when I upgraded the flutter plugin from 29.* to 30.*

[2018-11-13 09:28] Soundbytes opened #2810 "flutter and dart sdk path settings should not be presented in the app settings dialog (since they can be different for different projects)"
I find it very misleading that these per project settings are made available through the program settings/app preferences dialog. Could the settings please be moved to a more appropriate place?
It took me quite a while to finally understand that these are in fact meant to be per project settings and not global as indicated by their position in the menu structure.

Steps to repeat:
(1) open/create

[2018-11-13 09:36] lanlin opened #2811 "Typeahead request blocked: Time: 3018; trying to execute runnable"
## What happened

(please describe what you were doing when this exception occurred)
when new a flutter project.

Typeahead request blocked: Time: 3018; cause: No cause has been provided; runnable waiting for the focus change: Focus event list (trying to execute runnable):

## Version information

Android Studio `3.2.1` • Flutter plugin `io.flutter 30.0.1` • Dart plugin `181.5656`

Flutter 0.11.3

[2018-11-13 12:43] tedhsieh1966 commented on #2801
Thank you for the advice. Good news and Bad news. Yes, the problem was gone after flutter upgrade.
However, I continued to try simple_permission, and, BALA, the problem came back immediately, even I removed the code for simple_permission.
Now I recalled that the problem first appeared right after I tried simple_permission a while ago.
Below are the report.

I guess I need to remove flutter and rei

[2018-11-13 16:13] jwren commented on #2811
Assigning to @pq for create action `io.flutter.actions.FlutterNewProjectAction.actionPerformed` user action.

[2018-11-13 16:33] devoncarew commented on #2805
@Errichamonda, if you hot reload or restart your app, are breakpoints hit then? Have you modified the native code of the app, or just Flutter/Dart code?

Does this also repro if you create a new (default) Flutter project?

Thanks in advance for the answers!

[2018-11-13 16:38] Errichamonda commented on #2805
With flutter clean, hot reload or restart it doesn't hit breakpoints. I've modified only the Flutter Code. Nothing on Manifest, Gradle Settings or other Android folder.

With other project, like the default one that Android Studio creates, the breakpoints works. Only in this application. Probably because the file is nested inside folders.

[2018-11-13 16:39] devoncarew commented on #2805
Ah! We may be having path issues. Is the app something you can share with us, or a minimal repro that has the same project structure?

[2018-11-13 18:01] jwren commented on #2810
Assigning to @pq as he has worked on the getting started experience more than myself.

I suspect unfortunately that the notions and architecture offered by IntelliJ simply do not map to your notion of "session to session".  I'd also guess here that if we had the Flutter SDK path be automatically set project to project it might cause confusion for some users.

[2018-11-13 19:42] #2682 closed